-content_for :main do

  #main-index

    %h1
      = "New doctype"

    %p
      - form_for @doctype do |f| # :url => doctypes_path(current_group)
        = f.error_messages
        = f.hidden_field :group_id, :value => current_group.id
        %p
          = f.text_field :name, :value => @doctype.name
        %p
          = f.submit 'Create'

    %p
      = link_to 'Back', doctypes_path #(current_group)
