.post-info
  .author.user_info.vcard
    .gravatar.logo
      -if !@question.anonymous
        = gravatar(@question.user.email.to_s, :size => 32)
    .user_data
      %span.asked_by
        = t('activerecord.attributes.question.asked_by')
      -if @question.anonymous
        =t("global.anonymous")
      -else
        =render :partial => "users/user_mini", :locals => {:user => @question.user}
      %span.time_ago.published{:title => @question.created_at, :class => "relativetime"}
        = t("time.ago", :time => time_ago_in_words(@question.created_at))
        - if @question.wiki
          .wiki_flag
            wiki
      %span.adr
        - if !@question.user.hide_country
          %span.country-name
            = t("global.from", :site => @question.user.country_name)
            = country_flag(@question.user.country_code, @question.user.country_name)
    .clear
  - if @question.updated_by.present?
    .user_info
      .gravatar.logo
        = gravatar(@question.updated_by.email.to_s, :size => 32)
      .user_data
        %span.asked_by
          = t('activerecord.attributes.question.updated_by')
        =render :partial => "users/user_mini", :locals => {:user => @question.updated_by}
        %span.time_ago.published{:title => @question.updated_at, :class => "relativetime"}
          = t("time.ago", :time => time_ago_in_words(@question.updated_at))
        %span.adr
          - if !@question.updated_by.hide_country
            %span.country-name
              = t("global.from", :site => @question.updated_by.country_name)
              = country_flag(@question.updated_by.country_code, @question.updated_by.country_name)
      .clear
.clear
