- show_close_request_form = !@item.closed && logged_in? && @item.can_be_requested_to_close_by?(current_user)
- show_open_request_form = @item.closed && logged_in? && @item.can_be_requested_to_open_by?(current_user)

- if logged_in?
  - if current_user.mod_of?(current_group) && @item.closed
    - show_close_request_form = (@item.close_reason.user_id == current_user.id)
  - @flag = current_user.has_flagged?(@item) || Flag.new

- @flag ||= Flag.new

- if show_open_request_form
  - @open_request = current_user.has_requested_to_open?(@item) || OpenRequest.new

- if show_close_request_form
  - @close_request = @item.close_requests.detect{ |rq| rq.user_id == current_user.id } || CloseRequest.new(:reason => "dupe")

- item_body = find_and_preserve(shapado_auto_link(markdown(@item.body.present? ? @item.body : @item.title)))

- content_for :head do
  %meta{:name => "keywords", :content => clean_seo_keywords(@item.tags.dup, @item.title)}
  %meta{:name => "description", :content => item_body.gsub(/<\/?[^>]*>/, "")[0, 255] }
  %link{:rel => "canonical", :href => item_url(@item) }

- source = item_path(@item)
= error_messages_for 'answer'

- content_for :show_item do
  = javascript_include_merged :show
  =render :partial => "items/toolbox", :object=>@item
  =render :partial => "items/controls", :object=>@item
  #item-body-col.commentable.markdown
    %a{:name => @item.id}
    #body
      - if @item.closed && @item.close_reason
        #close_reason
          = t(".close_reason")
          = t(@item.close_reason.reason, :scope=>"close_requests.form")
          - if !@item.close_reason.comment.empty?
            .comment
              =find_and_preserve(shapado_auto_link(@item.close_reason.comment))
      .entry-details
        .entry-mode
          = "Mode:" << @item.mode
        .entry-title
          = @item.title
          - if @item.closed
            =" [#{t("closed", :scope => "activerecord.attributes.item").upcase}]"

        .entry-authors
          = render :partial => "items/entry_authors"

        .entry-tags.tag-list
          - @item.tags.each do |tag|
            %span.tag
              = link_to h(tag), url_for(:controller => "item", :action => "index", :tags => tag), :rel => "tag"
          - if logged_in? && (current_user.can_modify?(@item) || current_user.can_retag_others_items_on?(current_group)) #tofix
            %span.retag
              = link_to t('items.show.retag'), retag_item_path(@item), :id => 'retag'

      .entry-content
        = item_body


  .clear
  %a{:name=>"answers"}
  #answers
    .secondary-navigation{:class => @active_subtab.to_s}
      .navlabel
        = t("items.show.answers_title", :count => @answers.total_entries + (@item.accepted ? 1 : 0))
      .navcontrols
        .subtabs
          %ul
            %li.newest
              = link_to t("items.index.newest"), question_path(@item, :sort=>"newest", :anchor => "answers"),:class=>"button", :rel => "nofollow"
            %li.votes
              = link_to t("items.index.votes"), question_path(@item, :sort=>"votes", :anchor => "answers"),:class=>"button", :rel => "nofollow"
            %li.oldest
              = link_to t("items.index.oldest"), question_path(@item, :sort=>"oldest", :anchor => "answers"),:class=>"button", :rel => "nofollow"
            %li.spin
              = link_to "&#9733;", "#",:class=>"spin button"
    .clear

    .block
      - if @item.accepted
        -solution = @item.answer
        =render :partial=> "items/answer", :locals=> {:item => @item, :answer => solution} unless solution.nil?
      .hentry
        -@answers.each do |answer|
          =render :partial=> "items/answer", :locals=> {:item => @item, :answer => answer}
      =will_paginate(@answers)

  -unless @item.closed
    %a{:name=>"to_answer"}
    -form_for @answer, :url => item_answers_path(@item.id), :html => {:class => "form mainAnswerForm"} do |f|
      = render :partial => "answers/form", :locals => {:f => f, :markdown => true, :mode => "item"}
      .group.navform
        .controls.right{:style => "width: 50%"}
          .left{:style => "width: 49.5%"}
            = f.label :wiki, "Wiki", :class => "radio"
            = f.check_box :wiki, :class => "checkbox"
          .left{:style => "width: 49.5%"}
            = f.label :anonymous, t("scaffold.post_as_anonymous"), :class => "radio"
            = f.check_box :anonymous, :class => "checkbox"
        = submit_tag t('answers.form.submit'), :class => "button"
      .clear

-content_for :sidebar do
  #sidebar
    .block
      .content
        =render :partial => "items/create_button"
      .clear
    .block
      %h3
        = "Asked by"
      .content
        =render :partial => "items/member_panel"
    .block
      %h3
        = "Participants"
      .content
        = "Content"
    .block
      %h3
        = "Sidebar"
      .content
        = "Content"

    - if logged_in? && (current_user.mod_of?(current_group) || current_user.can_view_offensive_counts_on?(current_group))
      -unless @item.flags.count == 0
        .block
          %h3
            = t(:flags, :scope => "activerecord.models")
          .content
            = render :partial => "flags/list", :locals => {:flaggeable => @item}

      -unless @item.close_requests.size == 0
        .block
          %h3
            = t(:prural_name, :scope => "close_requests.model")
          .content
            = render :partial => "close_requests/list", :locals => {:item => @item}

      -unless @item.open_requests.size == 0
        .block
          %h3
            = t(:prural_name, :scope => "open_requests.model")
          .content
            = render :partial => "open_requests/list", :locals => {:item => @item}

    .block
      %h3
        = t('.tags', :default => [:"layouts.application.tags", :"activerecord.attributes.user.tags", "tags"])
      = render :partial => "shared/tag_list", :object => @tag_cloud, :locals => { :extra_params => {:controller => "items", :action => "index"} }


    - if @item.badges.size > 0
      .block
        %h3
          = t('badges', :scope => "activerecord.models")
        .content
          %ul.list
            -@item.badges.each do |badge|
              %li
                = render :partial => "badges/badge", :object => badge, :locals => {:hide_user => false}

      .block.stats
        - if @item.group_id != current_group.id
          = t(".asked_on")
          &= @item.group.name

        .entry
          .text.asked
            = t('activerecord.attributes.item.created_at')
            .data
              = t("time.ago", :time => time_ago_in_words(@item.created_at))
        .entry
          .text.viewed
            = t('.viewed')
          .data
            = t('number.x_time', :count => number_with_delimiter(@item.views_count))
        .entry
          .text.last_activity
            = t(".last_activity")
          .data.updated{:title => @item.activity_at, :class => "relativetime"}
            = t("time.ago", :time => time_ago_in_words(@item.activity_at))

      -related_items = Item.related_items(@item, :language => find_languages)
      - if !related_items.empty?
        .block
          %h3
            =t(".related_items")
          .content
            %ul.list
              -related_items.each do |rq|
                %li
                  = link_to h(rq.title), item_path(rq), :title => truncate(strip_tags(rq.body), :length => 200)

- content_for :main do

  .show-left
    = yield :show_item

  .show-right
    = yield :sidebar



