
-content_for :main do

  .container
    .heading
      = "Login to your account..."

    -form_for :user, resource, :url => session_path(resource_name), :html => {:class => "form"} do |f|
      .form
        .group
          = "Email"
          = f.text_field :email, :class => "text_field_mobile"
        .clear

        .group
          = "Password"
          = f.password_field :password, :class => "text_field_mobile"
        .clear

        -if devise_mapping.rememberable?
          .group
            .remember{:style=>"height:24px;line-height:24px;width:312px;float:right;color:white"}
              =f.check_box :remember_me, :style=>"font-size:14px;padding:2px"
              =f.label :remember_me, "Remember me?"


        .group
          %button.submit-button
            = "Login"

        .devise
          = render :partial => "shared/devise_links"

        .clear



      .after_form
        .heading{:style=>"margin-top:8px;margin-bottom:8px;background:0;border:0"}
          = "Don't have a login yet?"
        .center
          %button.inner-button{:href=>"/members/new"}
            = "Become a member"
        .note{:style=>"margin-top:8px;width:200px;color:white; font-size:12px; line-height:12px;float:left "}
          = "Members can add answers and/or comments. Membership is free."
        .clear









