-content_for :main do


  %h1
    = "New dummy"

  %p
    - form_for(@dummy) do |f|
      = f.error_messages
      %p
        = f.text_field :name, :value => @dummy.name
      %p
        = f.submit 'Create'

  %p
    = link_to 'Back', dummies_path
