-content_for :main do

  #main-index

    %h1
      = "New suction"

    %p
      - form_for @suction do |f| # :url => suctions_path(current_group)
        = f.error_messages
        = f.hidden_field :group_id, :value => current_group.id
        %p
          = f.text_field :name, :value => @suction.name
        %p
          = f.submit 'Create'

    %p
      = link_to 'Back', suctions_path #(current_group)
