-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :trends do
  = render :partial => "items/item_topics", :object => @tag_cloud

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s}
    .navlabel
      = t("layouts.application.blogs")

    .navcontrols
      .subtabs
        %ul
          %li.newest
            = link_to t("items.index.newest"), blogs_path(:sort=>"newest"), :title => t("items.index.newest_tooltip"),:class=>"button"
          %li.hot
            = link_to t("items.index.hot"), blogs_path(:sort=>"hot"), :title => t("items.index.hot_tooltip"),:class=>"button", :rel => "nofollow"
          %li.votes
            = link_to t("items.index.votes"), blogs_path(:sort=>"votes"), :title =>  t("items.index.votes_tooltip"),:class=>"button", :rel => "nofollow"
          %li.activity
            = link_to t("items.index.active"), blogs_path(:sort=>"activity"), :title => t("items.index.active_tooltip"),:class=>"button", :rel => "nofollow"

-content_for :sidebar_right do
  = render :partial => "shared/current_tags"
  = render :partial => "shared/tag_list", :object => @tag_cloud

-content_for :sidebar_left do
  .block
    %h3
      = h("Something")
    .content
      = h("Something else")
  .block
    %h3
      = h("Video")
    .content
      = render :partial => "videos/video_player_small"

-content_for :list do

  %ul.items#items
    -if @items.empty?
      %li.highlight
        = t(".empty")
    -@items.each do |item|
      -if item.mode == "blog"
        = render :partial => "items/list_item", :locals => {:item => item, :list_mode => "thumbnail"}

  #additional_info
    =will_paginate @items


/Layout
-content_for :main do



  #main.right
    #topics
      = render :partial => "items/topic_map", :mode => @mode
    .clear
    #sidebar.left
      = yield :sidebar_left

    #sidebar.right
      = yield :sidebar_right
    .clear

  #main.left
    = yield :subtabs
    .clear
    = yield :list
  .clear

