-solution = discussion.accepted && discussion.answer_id == answer.id
-source = discussion_path(@discussion)

.controls
  .actions
    = link_to t('activerecord.attributes.answer.link'), discussion_answer_path(@discussion.id, answer.id), :class => "bookmark"
    - if logged_in? && @aflag.new? && current_user != answer.user
      = link_to t(".flag"), new_discussion_answer_flag_path(@discussion,answer), :class => "flag-link", :rel => 'nofollow'

    -if logged_in?
      -if (current_user.mod_of?(@discussion.group) || current_user.can_modify?(@discussion))
        -unless @discussion.accepted
          = link_to t(".pick_answer"), solve_discussion_path(@discussion, :answer_id => answer)
        -if solution
          = link_to t(".unset_answer"),  unsolve_discussion_path(@discussion)
      -if answer.wiki || current_user.can_edit_others_posts_on?(answer.group) || current_user.can_modify?(answer)
        = link_to t("scaffold.edit"), edit_discussion_answer_path(@discussion, answer)
      -if current_user.can_modify?(answer)
        = link_to t("scaffold.destroy"), discussion_answer_path(@discussion, answer), :confirm => t("scaffold.sure", :model => "answer"), :method => :delete, :class =>"cancel"
      -if !@aflag.new?
        .flagged
          = "#{t('discussions.show.flagged_as')} #{t(@aflag.reason, :scope=>'flags.form')}"
          =link_to t("scaffold.edit"), edit_discussion_answer_flag_path(@discussion,answer,@aflag), :class => "flag-link", :id => "edit_answer_flag_link", :rel => 'nofollow'
          =link_to t("scaffold.destroy"), discussion_answer_flag_path(@discussion,answer,@aflag), :id => "destroy_answer_flag_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete

    -if answer.versions.count > 0
      = link_to t(".history", :default => "history"), history_discussion_answer_path(@discussion, answer)
    -if logged_in?
      -if(current_user.can_modify?(@discussion) || current_user.mod_of?(@discussion.group))
        = link_to t("scaffold.destroy"), discussion_answer_path(@discussion.id, answer.id), :confirm => "are you sure?", :method => :delete
      -if current_user.mod_of?(@discussion.group)
        = link_to "ban", ban_path(:answer_ids => [answer.id]), :confirm => "are you sure?"
  .clear
  .forms
