- show_close_request_form = !@discussion.closed && logged_in? && @discussion.can_be_requested_to_close_by?(current_user)
- show_open_request_form = @discussion.closed && logged_in? && @discussion.can_be_requested_to_open_by?(current_user)

.controls
  .actions
    - if !@flag.new?
      .flagged
        = "#{t('.flagged_as')} #{t(@flag.reason, :scope=>'flags.form')}"
        = link_to t("scaffold.edit"), edit_discussion_flag_path(@discussion,@flag), :class => "flag-link", :id => "edit_discussion_flag_link", :rel => 'nofollow'
        = link_to t("scaffold.destroy"), discussion_flag_path(@discussion,@flag), :id => "destroy_discussion_flag_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete
    - elsif logged_in? && current_user != @discussion.user
      = link_to t(".flag"), new_discussion_flag_path(@discussion), :class => "flag-link", :id => "discussion_flag_link", :rel => 'nofollow'

    - if logged_in?
      - if show_close_request_form
        -if !@close_request.new?
          .flagged
            = "#{t('.requested_close_as')} #{t(@close_request.reason, :scope=>'close_requests.form')}"
            = link_to t(".edit_request"), edit_discussion_close_request_path(@discussion,@close_request), :class => "flag-link", :id => "edit_discussion_close_request_link", :rel => 'nofollow'
            = link_to t(".retract_request"), discussion_close_request_path(@discussion,@close_request), :id => "destroy_discussion_close_request_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete
        = link_to t(".request_closing"), @close_request.new? ? new_discussion_close_request_path(@discussion) : edit_discussion_close_request_path(@discussion, @close_request), :id => "request-close-link", :rel => 'nofollow', :title => t('.request_closing_details')

      - if show_open_request_form
        -if !@open_request.new?
          .flagged
            = "#{t('.requested_reopening')} #{@open_request.comment}"
            = link_to t(".edit_request"), edit_discussion_open_request_path(@discussion, @open_request), :class => "flag-link", :id => "edit_discussion_open_request_link", :rel => 'nofollow'
            = link_to t(".retract_request"), discussion_open_request_path(@discussion,@open_request), :id => "destroy_discussion_open_request_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete

        -if current_user.mod_of?(current_group)
          = link_to t(".open"), open_discussion_path(@discussion), :rel => 'nofollow', :title => t('.request_opening_details'), :method => "put"
        -else
          = link_to t(".request_opening"), new_discussion_open_request_path(@discussion), :id => "request-open-link", :rel => 'nofollow', :title => t('.request_opening_details')

      - if (@discussion.wiki && current_user.can_edit_wiki_post_on?(@discussion.group)) || current_user.can_edit_others_posts_on?(@discussion.group) || current_user.can_modify?(@discussion)
        = link_to t('scaffold.edit'), edit_discussion_path(@discussion), :class => "edit-button"
      - if @discussion.versions.count > 0
        = link_to t(".history", :default => "History"), history_discussion_path(@discussion)
      - if (current_user.can_modify?(@discussion) || current_user.owner_of?(@discussion.group))
        = link_to t("scaffold.destroy"), discussion_path(@discussion.id), :confirm => "are you sure?", :method => :delete
      - if current_user.mod_of?(@discussion.group)
        -if !@discussion.closed
          = link_to t('.close'), discussion_close_requests_path(@discussion)
        = link_to t(".ban"), ban_path(:discussion_ids => [@discussion.id]), :class => "ban-button", :confirm => "are you sure?"
  .forms
