- form_for @discussion, :url => retag_to_discussion_path(@discussion.id), :html => {:class => "form retag-form"} do |f|
  = f.label :tags, "#{t(:tags, :scope => "activerecord.attributes.discussion")}", :class => "label"
  = f.text_field :tags, :value => @discussion.tags.join(", "), :class => "text_field autocomplete_for_tags"
  = submit_tag t(".submit")
  = link_to t('.cancel'), discussion_path(@discussion), :class => 'cancel-retag'
