.post-info
  .author.user_info.vcard
    .gravatar.logo
      = gravatar(@discussion.user.email.to_s, :size => 32)
    .user_data
      %span.asked_by
        = t('activerecord.attributes.discussion.asked_by')
      =render :partial => "users/user_mini", :locals => {:user => @discussion.user}
      %span.time_ago.published{:title => @discussion.created_at, :class => "relativetime"}
        = t("time.ago", :time => time_ago_in_words(@discussion.created_at))
        - if @discussion.wiki
          .wiki_flag
            wiki
      %span.adr
        - if !@discussion.user.hide_country
          %span.country-name
            = t("global.from", :site => @discussion.user.country_name)
            = country_flag(@discussion.user.country_code, @discussion.user.country_name)
    .clear
  - if @discussion.updated_by.present?
    .user_info
      .gravatar.logo
        = gravatar(@discussion.updated_by.email.to_s, :size => 32)
      .user_data
        %span.asked_by
          = t('activerecord.attributes.discussion.updated_by')
        =render :partial => "users/user_mini", :locals => {:user => @discussion.updated_by}
        %span.time_ago.published{:title => @discussion.updated_at, :class => "relativetime"}
          = t("time.ago", :time => time_ago_in_words(@discussion.updated_at))
        %span.adr
          - if !@discussion.updated_by.hide_country
            %span.country-name
              = t("global.from", :site => @discussion.updated_by.country_name)
              = country_flag(@discussion.updated_by.country_code, @discussion.updated_by.country_name)
      .clear
