= javascript_include_merged :show

-content_for :subtabs do
  .navtitle
    = t(".title")

-content_for :main do

  - form_for(@discussion, :url => discussion_path(@discussion), :html => {:class => "form"}) do |f|
    =render :partial => "form", :locals => {:f => f}
    .group.navform
      .right
        = f.label :wiki, "Wiki", :class => "radio"
        = f.check_box :wiki, :class => "checkbox"

      = f.submit t("scaffold.update")
      = t("global.or")
      = link_to t('scaffold.cancel'), discussions_path, :class => "button cancel"
