-content_for :main do

  -content_for :subtabs do
    .navtitle
      =t("wiki.history.title", :count => @discussion.versions.count)

  -counter = @discussion.versions.count

  -form_tag diff_discussion_path(@discussion), :method => "GET", :class => "form" do
    #discussions
      .discussion
        %h2
          =link_to h(@discussion.title), discussion_path(@discussion)
        %h2.version_title
          = radio_button_tag("prev", :current, :checked => @prev == "current")
          = radio_button_tag("curr", :current, :checked => @curr == "current")
          =t("wiki.history.current_version")
          .diff_actions
            -if @discussion.versions.count > 0
              =link_to t("global.previous"), diff_discussion_path(@discussion, :curr => :current, :prev => @discussion.versions.count-1 ), :class => "diff_prev"
        -if !@discussion.version_message.blank?
          %h2
            = t('wiki.history.version_summary')
          %h3.version_message
            = @discussion.version_message
        %h2=t(:title, :scope => "activerecord.attributes.discussion")
        =h(@discussion.title)
        -if !@discussion.body.blank?
          %h2=t(:body, :scope => "activerecord.attributes.discussion")
          .markdown
            = shapado_auto_link(markdown(@discussion.body))
        %h2=t(:tags, :scope => "activerecord.attributes.discussion")
        =@discussion.tags.join(", ")

      -@discussion.versions.reverse_each do |version|
        -counter -= 1
        -if !version.data.empty?
          = render :partial => "wiki/version", :object => version, :locals => {:post => @discussion, :number => counter, :prev => @prev, :curr => @curr, :scope => "activerecord.attributes.discussion"}
    .group.navform
      = submit_tag t("wiki.actions.show_diff"), :value => "diff", :name => "show"
      = t("global.or")
      = link_to(t("scaffold.back"), discussion_path(@discussion))
