-content_for :trends do
  = render :partial => "discussion_topics", :object => @discussions

-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :subtabs do
  .navtitle
    = t(".title")
    -if @discussions
      == (#{@discussions.total_entries})

  %ul
    %li.newest
      = link_to t("discussions.index.newest"), discussions_path(:sort=>"newest"), :title => t("discussions.index.newest_tooltip")
    %li.hot
      = link_to t("discussions.index.hot"), discussions_path(:sort=>"hot"), :title => t("discussions.index.hot_tooltip"), :rel => "nofollow"
    %li.votes
      = link_to t("discussions.index.votes"), discussions_path(:sort=>"votes"), :title =>  t("discussions.index.votes_tooltip"), :rel => "nofollow"
    %li.activity
      = link_to t("discussions.index.active"), discussions_path(:sort=>"activity"), :title => t("discussions.index.active_tooltip"), :rel => "nofollow"


-content_for :sidebar do
  #sidebar
    -if logged_in?
      = render :partial => "shared/language_filter"

    = render :partial => "shared/current_tags"
    .block
      %h3
        = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"])
      .content
        = render :partial => "shared/tag_list", :object => @tag_cloud




/Bookmarks
-content_for :main do
  #inner{:style=>'width:468px;'}
    .secondary-navigation{:class => @active_subtab.to_s}
      = yield :subtabs
      .clear
    .content
      %p.markdown
        = show_flash_messages(:class => "flash", :markdown => true)
        = render :partial => "shared/ads/content_ads"
        .inner
          = yield
          .clear
  %ul.items#discussions
    -if @discussions.empty?
      %li.highlight
        = t(".empty")
    -@discussions.each do |discussion|
      = render :partial => "discussion", :object => discussion

  #additional_info
    =will_paginate @discussions

  #help_us
    = t(".help_to_answer")
    =link_to t(".unanswered_discussions"), unanswered_discussions_path

  .clear
