-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :subtabs do
  .navtitle
    = t(".title")
    -if @items
      == (#{@items.total_entries})

  %ul
    %li.newest
      = link_to t("items.index.newest"), unanswered_items_path(:sort=>"newest")
    %li.votes
      = link_to t("items.index.votes"), unanswered_items_path(:sort=>"votes")
    -if logged_in?
      %li.mytags
        = link_to t("items.unanswered.my_tags"), unanswered_items_path(:sort=>"mytags")
      %li.expert
        = link_to t(".expert"), unanswered_items_path(:sort=>"expert")

-content_for :sidebar do
  = render :partial => "shared/current_tags"
  .block
    %h3
      = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"])
    .content
      = render :partial => "shared/tag_list", :object => @tag_cloud
  -if logged_in?
    = render :partial => "shared/preferred_tags"
    = render :partial => "shared/language_filter"

/Items
%ul.items#items
  -if @items.empty?
    %li.box.highlight
      = t(".empty")
  -@items.each do |item|
    = render :partial => "item", :object => item

#additional_info
  =will_paginate @items


