-content_for :main do

  #main-index

    %h1
      = "Editing bunny"

    %p
      - form_for @bunny, :url => item_bunny_path(@item.doctype_id, @item), :html =>{ :method => :put } do |f|
        = f.error_messages
        %p
          = f.text_field :name, :value => @bunny.name
        %p
          = f.submit 'Update'

    %p
      = link_to 'Show', item_bunny_path
      = link_to 'Back', item_bunnies_path
