-content_for :main do

  #main-index

    %h1
      = "Editing distributors"

    %p
      - form_for @distributor, :url => item_distributor_path(@item.doctype_id, @item), :html =>{ :method => :put } do |f|
        = f.error_messages
        %p
          = f.text_field :name, :value => @distributor.name
        %p
          = f.submit 'Update'

    %p
      = link_to 'Show', item_distributor_path
      = link_to 'Back', item_distributors_path
