-link = url_for(:host => @group.domain, :controller => "items", :action => "show", :id => @item.to_param)
-user_link= url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

= t('notifier.global.hi', :user => @item.user.login)

==
==

= t('.message1', :user => @user.login, :group => @group.name)
==

= t('.message2')
==...     #{@item.title}

==
= t('.message3')
=link
