- referral_link = link_to "#{h(@item.title)}", "http://" + @domain + item_path(@item.doctype, @item)
- profile_link = link_to "Profile","http://" + @domain + user_path(@user)
- user = @user.first_name.capitalize
- poster = @item.user.first_name + " " + @item.user.last_name
- doctype = @item.doctype.name

%p
  = t('.hi', :user => user)
  %br
  = t('.message1', :poster => poster, :doctype => doctype)
  %br
  = "#{referral_link}"
  %br
  = t('.message3')
  %br
  = t('.message4')
  %hr
  %br
    %small
      = t('.message_footer', :profile => profile_link)
  %br
== - #{h(@group.name)}
