%p
  = t('notifier.global.hi', :user => h(@user.login))
  %br
  = t('.message1', :user => h(@item.user.login))
  %br
  == "#{h(@item.title)}"
  %br
  = t('.message2')
  = link_to url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug), url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug)
  %br

  = t('.message3')
  =  url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug)
  %br
  = t('.message4')
  %br
== - #{h(@group.name)}
