
= t('notifier.global.hi', :user => h(@user.login))

= t('.message1', :user => h(@item.user.login))

== "#{h(@item.title)}"

= t('.message2')
= url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug)

= t('.message3')
=  url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug)

= t('.message4')

== - #{@group.name}

