- referral_link = "http://" + @domain + item_path(@item.doctype, @item)

= t('.hi', :user => h(@user.first_name))

= t('.message1', :user => h(@item.user.id))

== "#{h(@item.title)}"

= t('.message2')
= t('#{referral_link}')

= t('.message4')

= t('.message_footer')

== - #{@group.name}

