- referral_link = "http://" + @domain + item_path(@item.doctype, @item)

%p
  = t('.hi', :user => h(@user.first_name))
  %br
  = t('.message1', :user => h(@item.user.first_name))
  %br
  == "#{h(@item.title)}"
  %br
  = link_to "#{h(@item.title)}", referral_link
  %br
  = t('.message4')
  %br
  = t('.message_footer')
  %br
== - #{h(@group.name)}
