- referral_link = "http://" + @domain + item_path(@item.doctype_id, @item)
- profile_link = link_to "Profile","http://" + @domain + user_path(@user)
- user = @user.name.capitalize
- poster = @item.user.first_name + " " + @item.user.last_name
- doctype = @item.doctype_id

= t('.hi', :user => user)

= t('.message1', :poster => poster, :doctype => doctype)

= t('.message2')
= t('#{referral_link}')

= t('.message4')

= t('.message_footer', :profile => profile_link)

