- user = @user
- poster = @item.user.first_name + " " + @item.user.last_name
- doctype = @item.doctype.name
- referral_link = link_to "#{h(@item.title)}", "http://" + @domain + item_path(@item.doctype, @item)
- new_answer = find_and_preserve("<pre style='font-size:20px'>"+ shapado_auto_link(markdown(@answer.body, :group => @group))+"</pre>")
- item = link_to h(@item.title), url_for(:host => @domain, :controller => "items", :action => "show", :id => @item.slug)

%p
  = t('notifier.global.hi', :user => h(user))
  %br
    = "test"
    = t('.message', :user => h(poster), :new_answer => new_answer, :item => referral_link, :login => poster)
  %br
    = h('#{referral_link.to_s}')
