%h1
  =@user.login << "'s Avatars"

%table
  %tr
    %th 
      ="Avatar"
    %th 
      ="Name"
    %th 
      ="Avatars ID"
    %th 
      ="Actions"

  -@user_avatars.each do |avatar|

    -if @user.id == avatar.user_id
      %tr
        %td
          - if @user.default_avatar == avatar.id
            = "default"
          - else
            = link_to "#{avatar.name}", set_default_avatar_path(avatar)

        %td
          - cropped_avatar = avatar.avatar.process(:thumb,avatar.avatar_cropping)
          = image_tag cropped_avatar.process(:thumb,"48x48").url, :alt => avatar.name
        %td
          =h(avatar.avatar_cropping)
        %td
          =h(avatar.name)
        %td
          = link_to 'Show', avatar
          = link_to 'Edit', edit_avatar_path(avatar)
          = link_to 'Delete', avatar, :confirm => 'Are you sure?', :method => :delete
          = link_to 'Crop', crop_avatar_path(avatar)


%p
  = link_to 'New avatar', new_avatar_path
