.group
  = f.label :display_name, "Display name", :class => "label"
  = f.text_field :display_name, :class => "text_field"
  = "Your display name is used on posts and comments - it is how others see you"

  = f.label :slug, "Member Profile URL", :class => "label"
  = f.text_field :slug, :class => "text_field"
  = "By default this is a number, but you can have a custom one if desired and available - simply fill in here to check"

  .group
    = f.label :bio, t(:bio, :scope => "activerecord.attributes.user", :default => "Bio"), :class => "label"
    = f.text_area :bio, :class => "text_field", :cols=>"40", :rows=>"20", :style=>"height:48px;width:496px; max-width:496px; margin:0 16px"
  = "This is the short piece of text under your photo on your posts"

  .group
    = "If you already have an existing website such as a blog or company site be sure to include it here"
    .left{:style=>"width:10%;"}
      = "My website"
    .left{:style=>"width:40%;"}
      = f.label :website, t(:website, :scope => "activerecord.attributes.user"), :class => "label"
      = f.text_field :website, :class => "text_field"
    .right{:style=>"width:40%;"}
      = f.label :website_url, t(:website_url, :scope => "activerecord.attributes.user"), :class => "label"
      = f.text_field :website_url, :class => "text_field"
  .clear

  .group
    = "If you already have an existing Twitter account fill in the details here if you want others to know this"
    .left{:style=>"width:10%;"}
      = "Follow me on twitter"
    .left{:style=>"width:40%;"}
      = f.label :twitter, "Show Twitter?", :class => "label"
      = f.check_box :twitter, :class => "text_field"
    .right{:style=>"width:40%;"}
      = f.label :twitter_url, "Link to your Twitter account", :class => "label"
      = f.text_field :twitter_url, :class => "text_field"
  .clear

  .group
    = "If can optionally include your Linkedin Account if you are ameniable to contect requests"
    .left{:style=>"width:10%;"}
      = "Linked in"
    .left{:style=>"width:40%;"}
      = f.label :linkedin, "Show LinkedIn?", :class => "label"
      = f.check_box :linkedin, :class => "text_field"
    .right{:style=>"width:40%;"}
      = f.label :linkedin_url, "Link to your Twitter account", :class => "label"
      = f.text_field :linkedin_url, :class => "text_field"
  .clear





-if AppConfig.enable_i18n
  .group
    = f.label :language, t('.language'), :class => "label"
    = f.select :language, locales_options, {}, :class => "select"
-else
  = f.hidden_field :language, :value => (current_group.language || AppConfig.default_language)

.group
  = f.label :timezone, t(:timezone, :scope => "activerecord.attributes.user"), :class => "label"
  =time_zone_select( "user", "timezone", ActiveSupport::TimeZone.all, {:include_blank => true}, :class => "select")

-unless @user.new_record?
  .group
    = f.label :hide_country, t(:hide_country, :scope => "activerecord.attributes.user"), :class => "label"
    = f.check_box :hide_country, :class => "checkbox"

-unless @user.new_record?
  .group
    = f.label :birthday, t(:birthday, :scope => "activerecord.attributes.user"), :class => "label"
    = f.date_select :birthday, :start_year => 1920, :include_blank => true, :end_year => Time.now.year
    = "This is non-mandatory but useful to allow us to better understand the group demographics"

.group.navform
  = f.submit t('scaffold.update')




