-content_for :secondary_navigation do
  
  .secondary-navigation{:style => "background-color:#{current_group.secondary};"}
    %ul
      %li
        = link_to h("Welcome"), settings_path(:tab => "welcome"), :class => "tab"
      %li.account
        = link_to h("Settings"), settings_path(:tab => "account")
      %li.social
        = link_to h("Social Networks"), settings_path(:tab => "social")
      %li.details
        = link_to h("Profile Info"), settings_path(:tab => "details")
      %li.avatar
        = link_to h("Images"), avatars_path
      %li.messaging
        = link_to h("Messages"), settings_path(:tab => "messaging")
  .clear


