-content_for :secondary_navigation do
  .secondary-navigation{:class => @active_subtab.to_s, :style => "background-color:#555;"}
    .navcontrols.right
      .subtabs
        %ul
          %li
            = "Show: "
          %li.account
            = link_to h("Settings"), settings_path(:tab => "account"), :class => "standard-button"
          %li.social
            = link_to h("Social Networks"), settings_path(:tab => "social"), :class => "standard-button"
          %li.details
            = link_to h("Details"), settings_path(:tab => "details"), :class => "standard-button"
          %li.profile_image
            = link_to h("Profile Image"), settings_path(:tab => "profile_image"), :class => "standard-button"
          %li.avatar
            = link_to h("Avatar"), settings_path(:tab => "avatar"), :class => "standard-button"
          %li.messaging
            = link_to h("Messaging"), settings_path(:tab => "messaging"), :class => "standard-button"
  .clear


