-content_for :main do

  #main

    %h1
      = "Editing doctype"

    %p
      - form_for @doctype, :html =>{ :method => :put } do |f| #, :url => doctype_path(@group)
        = f.error_messages

        .group
          = "Featured? Check this box if you want it in the features"
          = f.check_box :featured

        %hr
        .group
          = "General settings"

        .group
          = "Slideshow"
          = f.text_field :slideshow, :value => @doctype.slideshow

        .group
          = "Top dog"
          = f.check_box :top_dog, :value => @doctype.top_dog

        .group
          = "Does this section include video content?"
          = f.check_box :has_video
        .group
          = "Does this section include a formal link?"
          = f.check_box :has_links


        .group
          = "Use the alternate format (shows large image and cycles through images) ?"
          = f.check_box :product_format


        %span

        .group
          = "Public Access? Uncheck this box if you do not want it to appear in the sidebar"
          = f.check_box :public_access

        %hr
        %span
          = "&nbsp;"
        .group
          = f.text_field :name, :value => @doctype.name
        .group
          = "Create label, used for buttons in show and shortcuts in indexes"
          = f.text_field :create_label, :value => @doctype.create_label
        .group
          = "Create label Past tense , used for messaging eg. Rudy *shared a thought* on..."
          = f.text_field :created_label, :value => @doctype.created_label
        .group
          = "Help text, used on a create page to describe what that section is about"
          -if current_group.wysiwyg_editor
            = f.text_area :help_text, :class => "text_area", :id => "wysiwyg_editor", :value => markdown(@doctype.help_text)
          -else
            = f.text_area :help_text, :class => "text_area", :id => "markdown_editor"
            .description
              = t('.sponsor_description_legend')
            %label.label
              = t("global.preview")
            #markdown_preview.markdown
              =markdown(@doctype.help_text)


        .group
          = "Hide this section?"
          = f.check_box :hidden

        .group
          = "Expand this section?"
          = f.check_box :expanded


        .group
          = f.submit 'Update'

    %p
      = link_to 'Show', doctype_path
      = link_to 'Back', doctypes_path
