-content_for :main do

  #main-index

    %h1
      = "Editing doctype"

    %p
      - form_for @doctype, :html =>{ :method => :put } do |f| #, :url => doctype_path(@group)
        = f.error_messages
        %p
          = f.text_field :name, :value => @doctype.name
        %p
          = "Hidden?"
          = f.check_box :hidden


        %p
          = f.submit 'Update'

    %p
      = link_to 'Show', doctype_path
      = link_to 'Back', doctypes_path
