-content_for :main do

  #main-index

    %h1
      = "Listing doctypes for"
      = current_group.name
    %small
      = link_to current_group.name, group_path(current_group)

    %p
      = link_to 'New doctype', new_doctype_path #(@group)

    %p
      %table{:class => "doctype_index"}
        %tr
          %th
            = "name"
          %th{:colspan => "2"}
            = "order"
          %th
            = "#"
          %th
            = "Hide?"
          %th
            = "Videos?"
          %th
            = "Links?"
          %th
            = "Custom_icon?"
          %th
            = "Create label"
          %th
            = "actions"
        - current_group.doctypes.each do |doctype|
          %tr
            %td
              = doctype.name.to_s

            -form_tag move_doctype_path(doctype) do
              %td.order
                = submit_tag("up", :name=>"move_to", :value => "up")
              %td.order 
                = submit_tag("down", :name=>"move_to", :value => "down")
            %td
              = "#{doctype.items.count.to_i}"
            %td
              = "#{doctype.hidden}"
            %td
              = "#{doctype.has_video.to_s}"
            %td
              = "#{doctype.has_links.to_s}"
            %td
              = "#{doctype.custom_icon}"
            %td
              = "#{doctype.create_label}"
            %td
              = link_to 'List Items', list_doctype_path(doctype)
              = link_to 'Show', doctype_path(doctype)
              = link_to 'Edit', edit_doctype_path(doctype)
              = link_to 'Destroy', doctype_path(doctype), :confirm => 'Are you sure?', :method => :delete





