.group
  = f.label :title, "#{t(:mode, :scope => "activerecord.attributes.item")}*", :class => "label"
  -Item::MODES.each do |mode|
    = f.check_box :show_modes, :class => "checkbox"
    = t(mode, :scope => "activerecord.attributes.item")
  .description
    = "[NON FUNCTIONAL]"


.group
  = f.check_box :show_news_articles, :class => "checkbox"
  = f.label :show_news_articles, t('show_news_articles', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_newsfeeds, :class => "checkbox"
  = f.label :show_newsfeeds, t('show_newsfeeds', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_video, :class => "checkbox"
  = f.label :show_videos, t('show_video', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_images, :class => "checkbox"
  = f.label :show_images, t('show_images', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_articles, :class => "checkbox"
  = f.label :show_articles, t('show_articles', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_blogs, :class => "checkbox"
  = f.label :show_blogs, t('show_blogs', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_questions, :class => "checkbox"
  = f.label :show_questions, t('show_questions', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_discussions, :class => "checkbox"
  = f.label :show_discussions, t('show_discussions', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_bookmarks, :class => "checkbox"
  = f.label :show_bookmarks, t('show_bookmarks', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_bugs, :class => "checkbox"
  = f.label :show_bugs, t('show_bugs', :scope => "activerecord.attributes.group"), :class => "radio"

.group
  = f.check_box :show_features, :class => "checkbox"
  = f.label :show_features, t('show_features', :scope => "activerecord.attributes.group"), :class => "radio"


