
-content_for :main do
  %h1
    = "Create your own community, instantly and for free in 3 easy steps"

  .description
    = "Our 'free edition' allows any provtae indiidual to create a community "

  %h3
    = "1. Check the availability of your community"
  %h3
    = "2. Decide if you want the free edition or a premium edition ( see below )"
  .description
    = "Feel free to start with the free version, you can always upgrade later if you like it"

  .comparison


    %table
      %tr
        %td
          = "Egg"


    .left
      .group-button{:style => "background-color:#{current_group.primary}; font-size:16px "}
        = "Free Edition"

    .right
      .group-button{:style => "background-color:#{current_group.supplementary}; font-size:16px "}
        = "Premium Edition"



  %h3
    = "3. Start thinking daily"




  %h1
    = "Corporate Accounts"

  .copy
    = "Thinking daily is great for businesses and organisation, however the signup process is a little different - please contact us for commercial proicing"

