- grp = current_group
- stop1 = grp.primary_dark
- stop2 = grp.primary
- stop3 = grp.secondary
- stop4 = grp.tertiary
- stop5 = grp.text_colour

- alt1 = grp.supplementary_dark
- alt2 = grp.supplementary
- alt3 = grp.supplementary_lite

\.fold-icon{height:64px;width:64px;background-image:url(/images/blank_icon.png);float:left;}
\.fold-icon-open{height:64px;width:64px;background-image:url(/images/blank_icon_o.png);float:left;}


\.ui-state-active{
color:#{stop5};
width:100%;
margin:0 auto;

-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(bottom, #{stop3} 0%, #{stop2} 50%, #{stop1} 60%, #{stop1} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#{stop2}), color-stop(50%,#{stop1}), color-stop(60%,#{stop1}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(bottom, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */


}

\.ui-state-default{
color:#{stop5};
width:100%;
margin:0 auto;

-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop2} 50%, #{stop1} 60%, #{stop1} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */


}



\.fold-header h3{color:#{stop5};
width:100%;
border-top: 1px solid #222222;




}
\h3.fold-header a{color:#{stop5}}

\.ui-accordion{padding:0;margin:0}
\.ui-state-default{





}

\body{background-image:url(/images/black_25_bg.png);}

-#\#footer{background-image:url(/images/black_25_bg.png);}


\.ui-accordion-header{/*width:100%;margin:0;*/}

\.ui-widget-content{
border-top: 1px solid #222222;
-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 30%, #{stop1} 55%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */

}

\.map{height:256px;width:256px;background:#{stop4};}
\.map-holder{height:256px;width:256px;border-radius:8px;background:#{stop5};}
\.map-large{height:464px;width:464px;background:#{stop4};}
\.map-large-holder{height:464px;width:464px;border-radius:8px;background:#{stop5};}


\.heading{
font-size:1.5em;
font-weight:bold;
padding:8px 0;
text-shadow:-1px -1px 2px #000000,2px 2px 1px #{stop2};
}

\.help{
font-size:0.5em;
color: #{stop4}
}

\.colorwell{
\-webkit-box-shadow:0 0 8px black;
outline: none;
transition: all 0.25s ease-in-out;
border: 3px solid silver;
border-radius: 16px;
width: 56px;
height: 56px;
text-align: center;
cursor: pointer;
margin:8px 0 0 16px;
}

\body .colorwell-selected{
\-webkit-box-shadow:0 0 8px white;
border: 3px solid white;
padding: 4px
font-weight: bold;
}


\.container{margin:0;padding:0 16px;}

-#\ul.mobile li{height:32px;line-height:32px;font-weight:bold}
-#\ul.mobile li.note{height:32px;line-height:32px;font-weight:normal}

-#\body{width:512px;}

\#body{margin:0 auto}
\#body .content{width:100%;margin:0 16px;}

\#title{margin:0 auto}
\#title .content{width:100%;margin:0 auto;text-align:center}


\.text_field{width:442px;height:1.5em;border-radius:16px;border: 4px solid silver;font-size:2em;font-family:"Arial Black";font-weight:bold;padding:4px 16px;margin:16px 0 16px 0; background: -webkit-gradient(linear,left left,right right,from(#dcdcdc),to(#ffffff))}

\.text_field_mobile{font-family:"Arial Black",Gadget,sans-serif;border-radius:8px;font-size:1.5em;width:442px;margin:8 16px; height:64px;border:2px inset white; overflow:hidden;}

\.text_area_mobile{font-family:"Arial Black",Gadget,sans-serif;border-radius:16px;font-size:1.5em;width:442px;margin:8 16px; height:64px;border:4px inset white; overflow:hidden;}


\.swatch{height:32px;width:128px;border:3px solid white}
\.text_field_short{width:64px;margin:0 16px;border:1px solid white; font-weight:bold;color:white}





\#toolbar{z-index: 100;height: 56px;line-height:56px;background: -webkit-gradient(linear,left top,left bottom,from(#525051),to(#000000));background: -moz-linear-gradient(top,#525051,#000000);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#000000',startColorstr='#525051');border-bottom:1px solid #202020;}

\#logo{margin:0;background:-webkit-gradient(linear,left top,left bottom,from(#{stop1}),to(#{stop3}));background:-moz-linear-gradient(top,#{stop1},#{stop4});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{stop4}',startColorstr='#{stop1}');}

\.logo-container-mobile{width:728px;margin:0 auto;}

\#fold{margin:0;}


-#\#fold{background:-webkit-gradient(linear,left top,left bottom,from(#{stop1}),to(#{stop4}));background:-moz-linear-gradient(top,#{stop1},#{stop4});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{stop4}',startColorstr='#{stop1}');}

\#fold.a{cursor:pointer}

\#body{height:auto;}

\#footer{
border-top:1px solid black;
background: #{stop1}; /* Old browsers */
}

\#null{
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 30%, #{stop1} 55%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop2} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\#fold{
border-top: 1px solid #222222;
-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 30%, #{stop1} 55%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(30%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}

\.fold.settings{min-height:256px; height:auto}


\.footer-mobile{
border-top: 1px solid #{stop2};
}


\.reputation{
border-radius: 8px;
color:white;
font-weight:bold;
font-size:1.5em;

border: 2px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:32px;
width:240px;
-#border-bottom: 1px solid #111111;
background: #{stop1}; /* Old browsers */
background: -moz-linear-gradient(top, #111111 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}




\button{
font-weight:bold;
font-size:1em;
line-height:1em;
\/* font-family: HelveticaNeue-CondensedBlack,"arial black",gadget,sans-serif; */
text-shadow: -1px -1px 1px black;
\-webkit-box-shadow:0 0 8px black;
background: #{stop1}; /* Old browsers */
}


\button.create-button{
height:1em;
border-radius: 8px;
color:#{stop5};

padding:4px 16px;
margin:0;
border: 2px outset #{stop4};


height:32px;


background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #111111 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */

}


\button.create-button:hover{border: 2px outset #{stop4};cursor:pointer;}

\button.inner-button{


font-size:1em;
padding:4px 16px;margin:0;
border-radius: 8px;
color:white;
font-weight:bold;
\-webkit-box-shadow:0 0 8px black;

border: 2px outset #{stop4};
text-shadow: -1px -1px 1px black;
height:3em;
line-height:1.5em;

background: #{stop1}; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{stop2}), color-stop(24%,#{stop1}), color-stop(76%,#{stop2}), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{stop3} 0%,#{stop1} 50%,#{stop1} 60%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #{stop3} 0%, #{stop1} 40%, #{stop1} 60%, #{stop2} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* IE10+ */
background: linear-gradient(top, #{stop2} 0%,#{stop1} 50%,#{stop3} 51%,#{stop1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{stop1}', endColorstr='#{stop1}',GradientType=0 ); /* IE6-9 */
}


\.fold{width:728px;height:64px;margin:0 auto;

}


\.submit-button{border-radius:8px;text-transform:uppercase;letter-spacing:-1px;width:100%;height:56px;font-weight:bold;font-size:2em;margin-top:8px;margin-bottom:4px;line-height:32px;color:white; font-weight:bold; text-shadow:-2px -2px 2px #{alt1},2px 2px 1px #{alt2};}

\button.submit-button{
border: 2px outset white;
background: #{alt1}; /* Old browsers */
background: -moz-linear-gradient(top, #{alt1} 0%, #{alt2} 50%, #{alt3} 60%, #{alt1} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{alt1}), color-stop(50%,#{alt2}), color-stop(60%,#{alt3}), color-stop(100%,#{alt1})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* IE10+ */
background: linear-gradient(top, #{alt1} 0%,#{alt2} 50%,#{alt3} 60%,#{alt1} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{alt1}', endColorstr='#{alt3}',GradientType=0 ); /* IE6-9 */
cursor:pointer;


}

\/*General styles*/

\a{color:#{stop4};text-decoration: none;}
\a:hover{color:#{stop2};text-decoration:none;} 
\h2{text-shadow:-1px -1px 2px #000000,2px 2px 1px #{stop2};}
\h3{text-shadow:-1px -1px 2px #000000,2px 2px 1px #{stop2};margin:0 auto;height:64px;border-bottom:1px solid #{current_group.primary};}

\ul{list-style-type:none;padding:0}
\body{font-family:sans-serif;margin:0;padding:0;color:#{stop5};
background:#{stop1};
/*background: -moz-linear-gradient(top, #{stop2} 0%, #{stop1} 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#000000), color-stop(100%,#{stop1})); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(bottom, #{stop2} 0%,#{stop1} 100%); /* Chrome10+,Safari5.1+ */*/


}
\.left{float:left}
\.right{float:right}
\.clear{clear:both}
\.showhide{cursor:pointer}



 







