- grp = current_group

\.container{width:480px;margin:0 auto;padding:0 16px;}

-#\ul.mobile li{height:32px;line-height:32px;font-weight:bold}
-#\ul.mobile li.note{height:32px;line-height:32px;font-weight:normal}

\#body{margin:0 auto}
\#body .content{width:480px;margin:0 16px;}

\#title{margin:0 auto}
\#title .content{width:480px;margin:0 auto;text-align:center}


\.text_field{width:442px;height:1.5em;border-radius:16px;border: 4px solid silver;font-size:2em;font-family:"Arial Black";font-weight:bold;padding:4px 16px;margin:32px 0 16px 0; background: -webkit-gradient(linear,left left,right right,from(#dcdcdc),to(#ffffff))}

\.text_field_mobile{border-radius:16px;font-size:1.5em;width:472px;margin:8 16px; height:64px;border:3px inset white}

\.swatch{height:32px;width:128px;border:3px solid white}
\.text_field_short{width:64px;margin:0 16px;border:1px solid white; font-weight:bold;color:white}



\ul{list-style-type:none;padding:0}
\body{font-family:sans-serif;margin:0;padding:0;color:#{grp.text_colour};background:#{grp.primary_dark}}
\.left{float:left}
\.right{float:right}
\.clear{clear:both}


\#toolbar-mobile{z-index: 100;height: 56px;line-height:56px; width: 100%;background: -webkit-gradient(linear,left top,left bottom,from(#525051),to(#000000));background: -moz-linear-gradient(top,#525051,#000000);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#000000',startColorstr='#525051');}



\#logo-mobile {margin:0;}

\#logo-mobile {background:-webkit-gradient(linear,left top,left bottom,from(#{grp.primary_dark}),to(#{grp.secondary}));background:-moz-linear-gradient(top,#{grp.primary_dark},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{grp.tertiary}',startColorstr='#{grp.primary_dark}');}

\.logo-container-mobile{width:512px;margin:0 auto;}

\#fold{margin:0;}


-#\#fold{background:-webkit-gradient(linear,left top,left bottom,from(#{grp.primary_dark}),to(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.primary_dark},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{grp.tertiary}',startColorstr='#{grp.primary_dark}');}

\#fold.a{cursor:pointer}

\#fold{
border-top: 1px solid #222222;
-#border-bottom: 1px solid #111111;
background: #{grp.primary_dark}; /* Old browsers */
background: -moz-linear-gradient(top, #{grp.primary} 0%, #{grp.primary_dark} 30%, #{grp.primary_dark} 55%, #{grp.primary} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{grp.primary}), color-stop(30%,#{grp.primary_dark}), color-stop(76%,#{grp.primary}), color-stop(100%,#{grp.primary_dark})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.primary_dark} 60%,#{grp.primary_dark} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* IE10+ */
background: linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{grp.primary_dark}', endColorstr='#{grp.primary_dark}',GradientType=0 ); /* IE6-9 */
}

\.fold.settings{min-height:256px; height:auto}


\.footer-mobile{
border-top: 1px solid #{grp.primary};
}


\.reputation{
border-radius: 8px;
color:white;
font-weight:bold;
font-size:1.5em;

border: 2px outset #{grp.tertiary};
text-shadow: -1px -1px 1px black;
height:32px;
width:240px;
-#border-bottom: 1px solid #111111;
background: #{grp.primary_dark}; /* Old browsers */
background: -moz-linear-gradient(top, #111111 0%, #{grp.primary_dark} 40%, #{grp.primary_dark} 60%, #{grp.primary} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{grp.primary}), color-stop(24%,#{grp.primary_dark}), color-stop(76%,#{grp.primary}), color-stop(100%,#{grp.primary_dark})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.primary_dark} 60%,#{grp.primary_dark} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* IE10+ */
background: linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{grp.primary_dark}', endColorstr='#{grp.primary_dark}',GradientType=0 ); /* IE6-9 */
}

\.submit-button{border:4px outset gainsboro;font-family:sans-serif;border-radius:16px;text-transform:uppercase;letter-spacing:-1px;width:480px;height:56px:font-weight:bold;font-size:2em;margin-top:8px;margin-bottom:4px;line-height:56px;color:white; font-weight:bold; text-shadow:-2px -2px 4px black;}

\button.create-button{
height:1em;border-radius:16px;border: 4px outset silver;font-size:1em;font-family:"Arial Black";font-weight:bold;padding:4px 16px;margin:32px 0 16px 0;
border-radius: 8px;
color:white;
font-weight:bold;


border: 2px outset #{grp.tertiary};
text-shadow: -1px -1px 1px black;
height:32px;
width:240px;
-#border-bottom: 1px solid #111111;
background: #{grp.primary_dark}; /* Old browsers */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{grp.primary}), color-stop(24%,#{grp.primary_dark}), color-stop(76%,#{grp.primary}), color-stop(100%,#{grp.primary_dark})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.primary_dark} 60%,#{grp.primary_dark} 100%); /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #111111 0%, #{grp.primary_dark} 40%, #{grp.primary_dark} 60%, #{grp.primary} 100%); /* FF3.6+ */
background: -o-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* IE10+ */
background: linear-gradient(top, #{grp.primary} 0%,#{grp.primary_dark} 50%,#{grp.secondary} 51%,#{grp.primary_dark} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{grp.primary_dark}', endColorstr='#{grp.primary_dark}',GradientType=0 ); /* IE6-9 */
}


\button.create-button:hover{border: 2px outset #{grp.tertiary};cursor:pointer;}

\.fold{width:512px;height:64px;margin:0 auto;

}

\.inner-teaser{font-size:1em}




\input.submit-button{

background: #{grp.supplementary_dark}; /* Old browsers */
background: -moz-linear-gradient(top, #{grp.primary} 0%, #{grp.secondary} 40%, #{grp.tertiary} 60%, #{grp.primary} 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#{grp.primary}), color-stop(50%,#{grp.secondary}), color-stop(60%,#{grp.tertiary}), color-stop(100%,#{grp.primary})); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #{grp.primary} 0%,#{grp.tertiary} 50%,#{grp.secondary} 60%,#{grp.primary} 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #{grp.supplementary} 0%,#{grp.supplementary_dark} 50%,#{grp.secondary} 51%,#{grp.supplementary_dark} 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #{grp.supplementary} 0%,#{grp.supplementary_dark} 50%,#{grp.secondary} 51%,#{grp.supplementary_dark} 100%); /* IE10+ */
background: linear-gradient(top, #{grp.supplementary} 0%,#{grp.supplementary_dark} 50%,#{grp.secondary} 51%,#{grp.supplementary_dark} 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{grp.supplementary_dark}', endColorstr='#{grp.supplementary_dark}',GradientType=0 ); /* IE6-9 */
cursor:pointer;


}


-if grp.has_landing_bg?
  \#landing{background-image:url(#{grp.landing_bg});background-repeat:no-repeat}

-else
  \#landing{background-color: #{grp.primary};}


- if grp.theme != "ping"


  - if grp.header_bg

    \.logo-container-inner {background:-webkit-gradient(linear,left top,left bottom,to(#ffffff),from(#dcdcdc));background:-moz-linear-gradient(top,#dcdcdc,#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcdcdc',endColorstr='#ffffff');}
  - else

    \.logo-container-inner {background:-webkit-gradient(linear,left top,left bottom,to(#ffffff),from(#dcdcdc));background:-moz-linear-gradient(top,#dcdcdc,#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcdcdc',endColorstr='#ffffff');}

  \#header-container-inner { background-color:'#{grp.secondary}';border-left: 2px solid white;border-right: 4px solid white;}

  \.display-name-i{color:#{grp.primary_dark}; backgrond-image:url('/images/white_25_bg.png');}
  \.display-name-ii{color:#555051}
  - if grp.toolbar_bg

    \.navigation-container {height:40px;background:#{grp.toolbar_bg};border-bottom:1px solid #{grp.tertiary};}
    \.navigation-container-inner {height:40px;background:#{grp.toolbar_bg};border-bottom:1px solid #{grp.tertiary};}

  - else
    \.navigation-container {height:32px;border-top:1px solid #{grp.primary_dark};}


  \.channel-container-inner {background-color: #ffffff;border-left: 2px solid white;border-right: 4px solid white;}




- else


  \#seperator{height:4px; width:100%; background-color:#{grp.primary};}
  \.display-name-i{color:white; background-image:url('/images/white_25_bg.png');}
  \.display-name-ii{color:#{grp.secondary}}
  \#logo-container {background:-webkit-gradient(linear,left top,left bottom,from(#{grp.primary_dark}),to(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.primary_dark},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{grp.tertiary}',startColorstr='#{grp.primary_dark}');}
  \.logo-container-inner {background:-webkit-gradient(linear,left top,left bottom,from(#{grp.primary_dark}),to(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.primary_dark},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{grp.tertiary}',startColorstr='#{grp.primary_dark}');}


  \#header-container{background:#{grp.secondary};background:-webkit-gradient(linear,left top,left bottom,to(#FFFFFF),from(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.tertiary},#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#ffffff',startColorstr='#{grp.tertiary}');}

  \.navigation-container {background:#{grp.primary};background:-webkit-gradient(linear,left top,left bottom,to(#{grp.tertiary}),from(#{grp.primary}));background:-moz-linear-gradient(top,#{grp.primary},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.primary}',endColorstr='#{grp.tertiary}');}




  \.landing-drop {background:#{grp.tertiary};}
  \.landing-dropX {background:#{grp.primary};background:-webkit-gradient(linear,left top,left bottom,from(#{grp.tertiary}),to(#{grp.primary}));background:-moz-linear-gradient(top,#{grp.tertiary},#{grp.primary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#{grp.primary}',startColorstr='#{grp.tertiary}');}

  \#header-container-inner {background:#{grp.tertiary};background:-webkit-gradient(linear,left top,left bottom,to(#ffffff),from(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.tertiary},#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#ffffff',startColorstr='#{grp.tertiary}');border:0}

  - if grp.toolbar_bg

    \.navigation-container {height:40px;background:#{grp.toolbar_bg};border-bottom:1px solid #{grp.tertiary};}
    \.navigation-container {background:#{grp.toolbar_bg};border-bottom:1px solid #{grp.tertiary};}

  - else

    \.navigation-container { background-color:#{grp.secondary};}


  \.channel-container-inner {background-color: #{grp.secondary};border-left: 2px solid white;border-right: 4px solid white;}



  \#container{margin:0;}

  button.search-button{border: 1px solid black;background-color:#{grp.primary};background:#{grp.primary_dark};background:-webkit-gradient(linear,left top,left bottom,to(#{grp.secondary}),from(#{grp.primary_dark}));background:-moz-linear-gradient(top,#{grp.primary_dark},#{grp.secondary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.primary_dark}',endColorstr='#{grp.secondary}');}

  \.modflair{background-color:#{grp.primary};background:#{grp.primary_dark};background:-webkit-gradient(linear,left top,left bottom,to(#{grp.tertiary}),from(#{grp.primary}));background:-moz-linear-gradient(top,#{grp.primary},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.primary}',endColorstr='#{grp.tertiary}');}

  \.like-button{border:1px solid #{grp.primary_dark};background:#{grp.primary_dark};background:-webkit-gradient(linear,left top,left bottom,to(#{grp.tertiary}),from(#{grp.primary}));background:-moz-linear-gradient(top,#{grp.primary},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.primary}',endColorstr='#{grp.tertiary}');}


  \#toolbar ul.submissions li:hover{background:#{grp.primary}}
  \#toolbar ul.submissions li ul{background:#{grp.primary}}

  \#toolbar ul.settings li:hover{background:#{grp.secondary}}
  \#toolbar ul.settings li ul{background:#{grp.secondary}}
  \#toolbar ul.settings li ul a:hover{background:#525051}

  \.channel_listing_horizontal li {background-color: #{grp.secondary};}

  -#\.channel_listing_horizontal li {background-color: #525051;
  -#border-bottom: 1px;
  -#}

  \.channel_listing_horizontal li.selected {background-color: #{grp.secondary};}

  \.secondary-navigation-sections {filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.primary_dark}',endColorstr='#{grp.primary}');background:-webkit-gradient(linear,left top,left bottom,from((#dcdcdc),to(#{grp.secondary}));background:-moz-linear-gradient(top,#dcdcdc,#{grp.secondary});}

  \h2.form-header{ color: #{grp.primary};}

  \.tag-list a{background:#{grp.primary_dark};}
  -#\.tag-list a{filter:progid:DXImageTransform.Microsoft.shadow(color=#{grp.supplementary_dark}, direction=0, strength=0.5)}  
  \.tag-list .tag a:link, .tag-list .tag a:active, .tag-list .tag a:visited {}
  \.tag-list .tag a:hover{ background:#{grp.primary};}

  \.label-highlight a{ color: #{grp.secondary};}
  -#\.secondary-navigation-sections{ background-color: #{grp.secondary};}
  \.secondary-navigation{ background-color: #{grp.secondary};}
  \.tertiary-navigation{ background-color: #{grp.tertiary};}
  \.trends{ background-color: #{grp.secondary};}
  h1 .item{ background-color: #{grp.tertiary};}
  \.toolbar-button{ background-color: #{grp.secondary};}
  \.secondary_box{ background-color: #{grp.secondary};}
  \.tertiary_box{ background-color: #{grp.tertiary};}
  \#sidebar h3{color:white;background: #{grp.primary_dark}; background-color: #000000;}
  \#sidebar-inner h3{background: #{grp.primary_dark};background-color: #{grp.primary_dark};}
  \.section-topic a{color: #{grp.tertiary};}


  \.publish-button {background: #{grp.supplementary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.supplementary}',endColorstr='#{grp.supplementary_dark}');background:-webkit-gradient(linear,left top,left bottom,from(#{grp.supplementary}),to(#{grp.supplementary_dark}));background:-moz-linear-gradient(top,#{grp.supplementary},#{grp.supplementary_dark}); border:1px none #{grp.primary_dark};text-shadow: #{grp.supplementary_dark} 0px -1px 1px}
  

  \.supplementary-button {background: #{grp.supplementary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.supplementary}',endColorstr='#{grp.supplementary_dark}');background:-webkit-gradient(linear,left top,left bottom,from(#{grp.supplementary}),to(#{grp.supplementary_dark}));background:-moz-linear-gradient(top,#{grp.supplementary},#{grp.supplementary_dark}); border:1px solid #{grp.supplementary};text-shadow: #{grp.supplementary_dark} 0px -1px 1px}


  \.action-button {background:#{grp.primary}}
  \.action-button:hover {background:#{grp.primary_dark}}
  \a.action-button:hover {color:pink}

  \.input-holder{background:#{grp.tertiary}}
  \.input-holder-password{background:#{grp.tertiary}}

  \.supplementary-navigation {background: #b6b6b6; height:26px; line-height:26px}
  \#main-index .title {background: #b6b6b6; height:29px; line-height:29px}  

  \.community {background: #{grp.supplementary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.supplementary}',endColorstr='#{grp.supplementary_dark}');background:-webkit-gradient(linear,left top,left bottom,from(#{grp.supplementary}),to(#{grp.supplementary_dark}));background:-moz-linear-gradient(top,#{grp.supplementary},#{grp.supplementary_dark}); border:1px solid white;text-shadow: #{grp.supplementary_dark} 0px -1px 1px}

  \#above-the-fold {background-color:#{grp.primary};border-top:4px solid #{grp.tertiary};color;#{grp.supplementary_dark}}

  \#above-the-fold h3{color:#{grp.supplementary_lite};}

  \.create-button {border-color: #{grp.primary_dark}}
  \.contribute-button {border-color: #{grp.primary_dark}; font-weight:normal;}
  \.create-button:hover{border-color: #{grp.primary_dark}}
  \.contribute-button:hover{border-color: #{grp.primary_dark}; font-weight:normal;}

  a{color:#{grp.tertiary};text-decoration: none;}
  a:hover{color:#{grp.primary};text-decoration:none;} 


  \.facebook-like{background-color:white;}

  \.standard-button-alternate .inner{background:-webkit-gradient(linear,left top,left bottom,from(#{grp.primary}),to(#{grp.tertiary}));background:-moz-linear-gradient(top,#{grp.primary},#{grp.tertiary});filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{grp.tertiary}',endColorstr='#{grp.primary}')}




 







