
.container
  .heading
    = "Login to your account..."

.form
  .group
    = "First name"
    = f.text_field :first_name, :class => "text_field_mobile"
  .clear

  .group
    = "Last name"
    = f.text_field :last_name, :class => "text_field_mobile"
  .clear

  .group{:style => "display:none"}
    = f.text_field :login, :class => "text_field_mobile"
  .clear

  .group
    = "Email address"
    = f.text_field :email, :class => "text_field_mobile"
    .note{:style=>"color:white; font-size:12px; line-height:12px; margin-left:16px; float:right "}
      = "Your email address is never shared"
  .clear

  .group
    = "Password"
    = f.password_field :password, :class => "text_field_mobile"
  .clear

  .group
    = "Password Again"
    = f.password_field :password_confirmation, :class => "text_field_mobile"

  .clear


  .group{:style => "display:none"}
    = f.label :name, t(:name, :scope => "activerecord.attributes.user"), :class => "label left"
    = f.text_field :name, :class => "text_field_mobile"

  .group{:style => "margin-bottom:4px; border: 0; float: right; width: 300px"}
    = f.check_box :terms
    = f.label :terms, "I agree to your <a href='/about/legal'>terms and conditions</a>", :class => "label right", :style => "font-size:12px;margin-top:10px;color:white"

  .group
    %button.submit-button{:style=>"margin:0 0 32px;"}
      = "Login"





