-bronze, silver, gold = user.badges_count_on(current_group)

.participant

  %div.gravatar{:style=>"width:40px;float:left; margin-right:4px;"}
    = link_to gravatar(user.email.to_s, :size => 40), user_path(user)

  %div.details

    %span.fn.nickname
      -unless user.nil?
        =link_to h(user.login), user_path(user), :class => "user-link"

      %span.adr
        - if !user.hide_country
          %span.country-name
            = t("global.from", :site => user.country_name)
            = country_flag(user.country_code, user.country_name)
        - else
          %span
            = "from somewhere"

    %div.reputation{:title => t("activerecord.attributes.user.reputation")}
      -unless user.nil?
        -if user.owner_of?(current_group)
          %span.ownerflair{:title => "Group Administrator", :style => "background-color:#{current_group.secondary};border: 1px solid #{current_group.secondary};text-shadow: #{current_group.secondary} 0px -1px 1px"}
            Admin
        -elsif user.mod_of?(current_group)
          %span.modflair{:title => "moderator"}
            Associate
        -elsif user.editor_of?(current_group)
          %span.editorflair{:title => "Group Editor", :style => "background-color:#{current_group.secondary};border: 1px solid #{current_group.secondary};text-shadow: #{current_group.secondary} 0px -1px 1px"}
            Editor

      -else
        = t('users.deleted')
      -unless user.nil?
        %span.label
          =user.reputation_on(current_group)

    -if local_assigns[:with_badges] != false
      -if gold.to_i > 0
        %span{:title => "#{gold} gold badges"}
          %span.gold.badgeicon-small
          %span.badgecount
            =gold

      -if silver.to_i > 0
        %span{:title => "#{silver} silver badges"}
          %span.silver.badgeicon-small
          %span.badgecount
            =silver

      -if bronze.to_i > 0
        %span{:title => "#{bronze} bronze badges"}
          %span.bronze.badgeicon-small
          %span.badgecount
            =bronze




    %div.time_ago
      %small
        = t('activerecord.attributes.user.created_at')
        = t("time.ago", :time => time_ago_in_words(user.created_at))
    .clear
.clear
