.block
  %h3
    = "Details"
  .content
    %table

      %tr
        %td.user-field
          = "Web:"
        %td.user-field-value
          -if @user.website
            =link_to h(@user.website), h(@user.website), :rel => "nofollow"

      - if !@user.hide_country
        %tr
          %td.user-field
            = "Loc:"
          %td.user-field-value
            %span.adr
              %span.country-name
                = h(@user.country_name)
                = country_flag(@user.country_code, @user.country_name)
