-content_for :form do
  =render :partial => "users/settings/subtabs"
  -form_for(@user, :html => {:class => "form", :multipart => true}) do |f|
    = f.error_messages
    =hidden_field_tag :source, domain_url(:custom => @user, :controller => "settings", :action => "settings", :tab => @active_subtab)
    =render :partial => "users/settings/#{@active_subtab||'details'}", :locals => {:f => f}


  = yield :after_form

-content_for :sidebar_inner do
  #sidebar-inner
    = render :partial => "profile_image", :object => @user
    = render :partial => "profile_details", :object => @user
    = render :partial => "profile_biography", :object => @user
    = render :partial => "profile_statistics", :object => @user
    = render :partial => "profile_achievements", :object => @user

/Layout
- content_for :main do
  #main-index{:style=>"float:left; width:728px;"}
    .content
      .inner
        .supplementary-navigation
          = "#{@user.first_name.to_s}'s "
          = "#{@active_subtab}"
        .clear
        = yield :secondary_navigation
        = yield :form





