-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s}
    %h3
      = "Members"
      -if @users
        == (#{format_number(@users.total_entries)})
    .navcontrols
      %ul
        %li.label
          = "Sort by:&nbsp;"
        %li.reputation
          = link_to t(".reputation"), users_path(:sort=>"reputation"), :title => t(".reputation_tooltip"), :class => "standard-button"
        %li.newest
          = link_to t(".newest"), users_path(:sort=>"newest"), :title => t(".newest_tooltip"), :class => "standard-button"
        %li.oldest
          = link_to t(".oldest"), users_path(:sort=>"oldest"), :title => t(".oldest_tooltip"), :class => "standard-button"
        %li.name
          = link_to t(".name"), users_path(:sort=>"name"), :title => t(".name_tooltip"), :class => "standard-button"

  

-content_for :sidebar_inner do
  #sidebar-inner


    .block
      %h3
        = h("Search for a member")
      .content{:style => "background-color: gainsboro"}
        -form_tag "/users", :class => "form", :id => "filter_users", :method => "get" do
          = submit_tag("Search",:class => "right")
          = text_field_tag "q", params[:q], :class => "text_field search_field left" 
          .clear
    = render :partial => "shared/signup_button",  :locals => {:width => "wide"}
    = render :partial => "shared/community_sponsor",  :locals => {:width => "wide"}


    = render :partial => "recent_members"
    .block
      %h3
        = h("Something")
      .content
        = h("Something else")

-content_for :sidebar do
  #sidebar
    -current_group.widgets.each do |widget|
      .widget.block{:id => widget.name}
        = render :partial => widget.partial_name, :locals => {:widget => widget, :width => "narrow"}

    -if !current_group.isolate # this will be the group connect thing
      = render :partial => "welcome/featured_groups" #, :locals => {:item => item}

-content_for :list do

  %ul.members-list-index#users
    -@users.each do |user|
      -if user.login != "admin"
        = render :partial => "user", :object => user

  #additional_info
    =will_paginate @users
    .clear


/Layout
-content_for :main do

  #main-index

    = yield :subtabs
    .clear
    = yield :list


