-content_for :form do
  - @user.password = @user.password_confirmation = nil
  = error_messages_for :user
  - form_for @user, :url => users_path, :html => {:class => "form"} do |f|
    =render :partial => "form", :locals => {:f => f}
    .form-footer
      = submit_tag "Create account", :class => "create-button", :style => "width:312px; height:32px; padding: 0 32px; font-weight: bold; font-size:18px;"

- content_for :main do

  #main{:style => "width:898px; padding: 0 32px"}
    %h1{:style => "color:#{current_group.primary}; font-weight:bold; padding: 8px 0 0 0;text-shadow: 1px 1px 0 rgba(255,255,255,255.25)"}
      = "#{current_group.signup_heading}"

    .left
      %h2.form-header
        = "Create a free account"

      = yield :form

      .clear
      .group{:style => "margin-left:32px;"}
        %h3
          = "Existing members..."
        %p
          = link_to "I already have an account and want to login normally", new_user_session_path



    .left{:style => "width:240px;padding: 0 32px 32px 32px"}
      %h3{:style => "margin-top:32px"}
        = "or login with another account..."
      = render :partial => "sessions/openid"
      .clear
      %h3
        = "Note..."
      = "Using an existing login will create a new account which you access using your login from another site"


  .clear
