- content_for :head do
  %meta{:name => "keywords", :content => "member"}
  %meta{:name => "description", :content => @user.bio }
  %link{:rel => "canonical", :href => user_path(@user) }

-content_for :show_user do

  .supplementary-navigation
    %h3
      = @user.display_name

    .navcontrols



  .clear

  #member-tabs
    %ul.member-tabs
      %li
        = link_to "Posts", "#posts"
      %li
        = link_to "Comments", "#answers"
      %li
        = link_to "Favourites",  "#favourites"
  .filter{:style=>""}
    %ul
      %li.newest
        = link_to "newest", user_path(@user, params.merge(:sort=>"newest")), :rel => "nofollow"
      %li.oldest
        = link_to "oldest", user_path(@user, params.merge(:sort=>"oldest")), :rel => "nofollow"
      %li.views
        = link_to "views ", user_path(@user, params.merge(:sort=>"views")), :rel => "nofollow"
      %li.votes
        = link_to "votes ", user_path(@user, params.merge(:sort=>"votes")), :rel => "nofollow"


    %div.panes
      %div.pane
        %ul.items#posts
          -@items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @items, :param_name => "items_page"
          .clear

      %div.pane
        %ul.items#answers
          -@answers.each do |answer|
            -next if answer.item.banned
            = render :partial => "answers/answer", :object => answer
        .additional_info
          = will_paginate @answers, :param_name => "answers_page"
          .clear

      %div.pane
        %ul.items#favourites
          -@favorite_items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @favorites, :param_name => "favorites_page"
          .clear


-content_for :sidebar do
  #sidebar
    = render :partial => "profile_mini", :object => @user
    = render :partial => "profile_achievements", :object => @user
    = render :partial => "profile_statistics", :object => @user

-content_for :sidebar_inner do
  #sidebar-inner
    .block
      = render :partial => "follow_button", :locals => {:object => @user, :width => "wide"}

    = render :partial => "/users/profile_image", :object => @user
    .block
      %h3
        = "info"
      .content
        = render :partial => "/users/profile_mini", :object => @user
        = markdown(@user.bio)

    .block
      %h3
        = "Followers"
      .content
        -if @user.followers.count > 0
          .counter
            = number_with_delimiter(@user.followers.count)
            Followers
          .friend_list
            -@user.followers.each do |follower|
              %span
                =link_to gravatar(follower.email.to_s, :size => 24), user_path(follower)

    .block
      %h3
        = "Following"
      .content
        -if current_user = @user
          -if @user.following.count > 0
            .counter
              = number_with_delimiter(@user.following.count)
              Following
            .friend_list
              -@user.following.each do |follower|
                %span
                  = link_to gravatar(follower.email.to_s, :size => 24), user_path(follower)



- content_for :main do
  #main-index
    .content
      .inner
        = yield :show_user



