- content_for :head do
  %meta{:name => "keywords", :content => "member"}
  %meta{:name => "description", :content => @user.bio }
  %link{:rel => "canonical", :href => user_path(@user) }

-content_for :show_user do

  = javascript_include_merged :show

  #member-tabs
    %ul.member-tabs{:style=>"width:50%; float:left"}
      %li
        = link_to "Posts", "#posts"
      %li
        = link_to "Comments", "#answers"
      %li
        = link_to "Favourites",  "#favourites"

    .filter{:style=>"height:32px;float:right; width:50%; border-bottom: 1px solid gainsboro"}
      %div{:style=>"display:inline;float:right"}
        %label.category-button
          = link_to "newest", user_path(@user, params.merge(:sort=>"newest")), :rel => "nofollow"
        %label.category-button
          = link_to "oldest", user_path(@user, params.merge(:sort=>"oldest")), :rel => "nofollow"
        %label.category-button
          = link_to "views ", user_path(@user, params.merge(:sort=>"views")), :rel => "nofollow"
        %label.category-button
          = link_to "votes ", user_path(@user, params.merge(:sort=>"votes")), :rel => "nofollow"

  .clear




    %div.panes{:style=>"border-right:1px solid gainsboro;"}
      %div.pane
        %ul.items#posts
          -@items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @items, :param_name => "items_page", :per_page => 7
      .clear

      %div.pane
        %ul.items#answers
          -@answers.each do |answer|
            -next if answer.item.banned
            = render :partial => "answers/answer", :object => answer
        .additional_info
          = will_paginate @answers, :param_name => "answers_page"
      .clear

      %div.pane
        %ul.items#favourites
          -@favorite_items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @favorites, :param_name => "favorites_page"
      .clear




-content_for :sidebar_inner do
  #sidebar-inner{:style=>"float:left"}


    .block{:style=>"border-bottom:1px solid gainsboro; height:32px"}
      -#%div
        -#= @user.display_name
      = render :partial => "follow_button", :locals => {:object => @user, :width => "wide"}


    .block

      .content{:style=>"margin-bottom:10px"}
        = render :partial => "/users/profile_sidebar", :object => @user
      .content{:style=>"padding-bottom:10px;margin-bottom:10px; border-bottom:1px solid gainsboro"}
        = @item.user.bio

      - if @item.user.website_url?
        .user-links
          = "My website:"
          = link_to "#{@item.user.website}","#{@item.user.website_url}" 
      
      - if @item.user.twitter?
        .user-links
          %span{:style=>"float:left"}
            = "Follow me on:"
          = link_to "#{@item.user.twitter_url}", "Twitter" 

          -#= "<a href=\"https://twitter.com/#{@item.user.twitter_url}\" class=\"twitter-follow-button\">Follow #{@item.user.twitter_url}</a>"
          -#= "<script src=\"http://platform.twitter.com/widgets.js\" type=\"text/javascript\"></script>"


      - if @item.user.linkedin?
        .user-links
          -#%span{:style=>"float:left"}
            -#= image_tag "/images/logos/linkedin.png", :height=>"16px"

          = "<script src=\"http://platform.linkedin.com/in.js\" type=\"text/javascript\"></script>"
          = "<script type=\"IN/MemberProfile\" data-id=\"#{@item.user.linkedin_url}\" data-format=\"click\" data-text=\"View my proile\"></script>"


    .block
      %h3
        = "Followers"
      .content
        -if @user.followers.count > 0
          .counter
            = number_with_delimiter(@user.followers.count)
            Followers
          .friend_list
            -@user.followers.each do |follower|
              %span
              - @avatar = Avatar.find(follower.default_avatar)
              - if @avatar.present?
                - cropped_avatar = @avatar.avatar.process(:thumb,@avatar.avatar_cropping)
                - default_avatar = cropped_avatar.process(:thumb,"32x32").url
                = image_tag default_avatar, :style => "height:32px;width:32px;"
              - else
                = image_tag "/images/anonymous_avatar.png", :style => "height:32px;width:32px;" #, user_path(user)

    .block
      %h3
        = "Following"
      .content
        -if current_user = @user
          -if @user.following.count > 0
            .counter
              = number_with_delimiter(@user.following.count)
              Following
            .friend_list
              -@user.following.each do |follower|
                %span
                - @avatar = Avatar.find(follower.default_avatar)
                - if @avatar.present?
                  - cropped_avatar = @avatar.avatar.process(:thumb,@avatar.avatar_cropping)
                  - default_avatar = cropped_avatar.process(:thumb,"32x32").url
                  = image_tag default_avatar, :style => "height:32px;width:32px;"
                - else
                  = image_tag "/images/anonymous_avatar.png", :style => "height:32px;width:32px;" #, user_path(user)



- content_for :main do
  #main-index{:style=>"width:728px;float:right;"}
    .content
      .inner
        = yield :show_user



