- content_for :head do
  %meta{:name => "keywords", :content => "member"}
  %meta{:name => "description", :content => @user.bio }
  %link{:rel => "canonical", :href => user_path(@user) }

-content_for :show_user do

  = javascript_include_merged :show

  #member-tabs
    %ul.member-tabs{:style=>"width:50%; float:left"}
      %li
        = link_to "Posts", "#posts"
      %li
        = link_to "Comments", "#answers"
      %li
        = link_to "Favourites",  "#favourites"

    .filter{:style=>"height:32px;float:right; width:50%; border-bottom: 1px solid gainsboro"}
      %div{:style=>"display:inline;float:right"}
        %label.category-button
          = link_to "newest", user_path(@user, params.merge(:sort=>"newest")), :rel => "nofollow"
        %label.category-button
          = link_to "oldest", user_path(@user, params.merge(:sort=>"oldest")), :rel => "nofollow"
        %label.category-button
          = link_to "views ", user_path(@user, params.merge(:sort=>"views")), :rel => "nofollow"
        %label.category-button
          = link_to "votes ", user_path(@user, params.merge(:sort=>"votes")), :rel => "nofollow"

  .clear




    %div.panes{:style=>"border-right:1px solid gainsboro;"}
      %div.pane
        %ul.items#posts
          -@items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @items, :param_name => "items_page", :per_page => 7
      .clear

      %div.pane
        %ul.items#answers
          -@answers.each do |answer|
            -next if answer.item.banned
            = render :partial => "answers/answer", :object => answer
        .additional_info
          = will_paginate @answers, :param_name => "answers_page"
      .clear

      %div.pane
        %ul.items#favourites
          -@favorite_items.each do |item|
            = render :partial => "items/item", :object => item
        .additional_info
          = will_paginate @favorites, :param_name => "favorites_page"
      .clear




-content_for :sidebar_inner do
  .sidebar-inner{:style=>"float:left; width:300px;"}


    .block{:style=>"border-bottom:1px solid gainsboro; height:32px"}
      .heading
        = "Member profile"



    .block{:style=>"margin-bottom:10px"}

      .content{:style=>"margin-bottom:10px"}
        = render :partial => "/users/profile_sidebar", :object => @user




      .content{:style=>"padding-bottom:10px;margin-bottom:10px; border-bottom:1px solid gainsboro"}
        = @user.bio






      - if @user.website_url?
        .user-links
          = "My website:"
          = link_to "#{@user.website}","#{@user.website_url}" 
      
      - if @user.twitter?
        .user-links
          %span{:style=>"float:left"}
            = "Follow me on:"
          = link_to "#{@user.twitter_url}", "Twitter" 

          -#= "<a href=\"https://twitter.com/#{@item.user.twitter_url}\" class=\"twitter-follow-button\">Follow #{@item.user.twitter_url}</a>"
          -#= "<script src=\"http://platform.twitter.com/widgets.js\" type=\"text/javascript\"></script>"


      - if @user.linkedin?
        .user-links
          -#%span{:style=>"float:left"}
            -#= image_tag "/images/logos/linkedin.png", :height=>"16px"

          = "<script src=\"http://platform.linkedin.com/in.js\" type=\"text/javascript\"></script>"
          = "<script type=\"IN/MemberProfile\" data-id=\"#{@user.linkedin_url}\" data-format=\"click\" data-text=\"View my profile\"></script>"


    .block
      .heading
        = "Followers"
      .content
        .friend_list{:style=>"width:300px;"}
          -@user.followers.each do |follower|
            = render :partial => "users/user_mini", :locals => {:user => follower, :width => "follower"}
    .clear

    .block
      .heading
        = "Following"
      .content
        .friend_list{:style=>"width:300px"}
          -@user.following.each do |follower|
            = render :partial => "users/user_mini", :locals => {:user => follower, :width => "follower"}
    .clear


- content_for :main do
  #main-index{:style=>"width:728px;float:right;"}
    .content
      .inner
        = yield :show_user



