-if @banned
  -form_tag unban_path do
    %table.table
      %tr
        %th
        %th
          =t(:flags, :scope => "activerecord.models")
        %th
          =t(:title, :scope => "activerecord.attributes.item")
        %th
          =t(:body, :scope => "activerecord.attributes.item")
      -@banned.each do |item|
        %tr
          %th
            = check_box_tag "item_ids[]", item.id
          %td
            = render :partial => "flags/list", :locals=> {:flaggeable => item}
          %td
            = link_to h(item.title), item_path(item)
          %td
            = truncate(h(item.body), :length => 100)
    = will_paginate @banned, :param_name => "items_page"
    = submit_tag "unban"
