-content_for :main do

  #main-index

    %h1
      = "Editing video"

    %p
      - form_for @video, :url => item_video_path(@item.doctype_id, @item), :html =>{ :method => :put } do |f|
        = f.error_messages
        %p
          = f.text_field :video_link, :value => @video.video_link
        %p
          = f.submit 'Update'

    %p
      = link_to 'Show', item_video_path
      = link_to 'Back', item_videos_path
