#navigation
  %ul.left
    -#if !current_group.has_custom_channels
      -#cache("autochannel_#{current_group.id}") do
        =# self.autochannel
    %li.welcome
      = link_to ("..."), domain_url(:custom => current_group.domain)

    %li.channels
      = link_to ("channels"), domain_url(:custom => current_group.domain)
    %li.topics
      = link_to ("topics"), domain_url(:custom => current_group.domain)
    %li.users
      =link_to t("layouts.application.users"), users_path

.clear


-if current_group.has_custom_channels
  %div.channels
    = h(current_group.custom_channels)

.clear





