
-if current_group.has_sponsor?

  -if width == "wide"
    .block
      %h3
        = "community partner..."
      .content
        -if current_group.has_sponsor?
          .sponsor{:style => "height:#{current_group.sponsor_logo_wide_info["height"]}px"}
            = link_to image_tag(sponsor_logo_wide_group_path(current_group), :width => current_group.sponsor_logo_wide_info["width"], :height => current_group.sponsor_logo_wide_info["height"], :alt => "#{current_group.sponsor_name}", :title => "#{current_group.sponsor_name}"), current_group.sponsor_link

        -if current_group.show_sponsor_description?
          -if current_group.show_sponsor_description_boxheader?
            %span.strong
              = current_group.sponsor_description_boxheader
          .sponsor_description
            = markdown(current_group.sponsor_description)

  -if width == "narrow"
    .block
      %h3
        = "Sponsor..."
      .content

        -if current_group.has_sponsor?

          -if current_group.has_sponsor?
            .edition
              = image_tag(sponsor_logo_narrow_group_path(current_group), :alt => "#{current_group.sponsor_name}", :title => "#{current_group.sponsor_name}")

          -if current_group.show_sponsor_description?
            .description
              = current_group.sponsor_description


.clear



