#contextual-navigation{:class => @active_section}
  %ul
    -current_group.doctypes.reverse.each do |doctype|
      -if !doctype.hidden?
        -if doctype.name == @active_section
          %li{:class => doctype.name }
            - section_link = doctype.name.capitalize
            = link_to section_link, items_path(doctype), :style => "color: white; background-color:#{current_group.primary}"
        -else
          %li{:class => doctype.name }
            - section_link = doctype.name.capitalize
            -#= link_to section_link, nodes_path(section.name)
            = link_to section_link, items_path(doctype), :style => "color: white;", :object => doctype


    -if !current_group.isolate && AppConfig.enable_groups
      %li{:style => "border-right:1px solid #ffffff"}
        -if @active_section == "groups"
          = link_to "Communities", groups_path, :style => "color: black;"
        -else
          = link_to "Communities", groups_path, :style => "margin-right:8px;"



    %li{:style => "border-right:1px solid #ffffff"}
      -if @active_section == "members"
        = link_to "Members", users_path, :style => "color: black;"
      -else
        = link_to "Members", users_path, :style => "margin-right:8px;"

.clear
