-if @active_tag

  #contextual-navigation
    %ul
      %li.label      
        = "Show: "
      %li.news
        =link_to t("layouts.application.news"), items_path #{:tags => @active_tag}
      %li.videos
        =link_to t("layouts.application.videos"), items_path
      %li.articles
        =link_to t("layouts.application.articles"), items_path
      %li.articles
        =link_to t("layouts.application.articles"), items_path
      %li.items
        =link_to t("layouts.application.items"), items_path
      %li.discussions
        =link_to t("layouts.application.discussions"), discussions_path
      %li.bookmarks
        =link_to t("layouts.application.bookmarks"), bookmarks_path, :options => current_tags
      %li.users.last
        =link_to t("layouts.application.users"), users_path
      %li
        %small
          = "(current_tags: " << h(current_tags.to_s).capitalize << ")"
  .clear

-else

  #contextual-navigation
    %span.label
      = "Show: "<< h(current_tags.to_s).capitalize
    %ul
      %li.news
        =link_to t("layouts.application.news"), items_path #{:tags => @active_tag}
      %li.videos
        =link_to t("layouts.application.videos"), items_path
      %li.articles
        =link_to t("layouts.application.articles"), items_path
      %li.blogs
        =link_to t("layouts.application.articles"), items_path
      %li.items
        =link_to t("layouts.application.items"), items_path
      %li.discussions
        =link_to t("layouts.application.discussions"), discussions_path
      %li.bookmarks
        =link_to t("layouts.application.bookmarks"), bookmarks_path
      %li.users
        =link_to t("layouts.application.users"), users_path
      %li
        %small
          = "(current_tags: " << h(current_tags.to_s).capitalize << ")"
  .clear
