#contextual-navigation{:class => @mode}
  %ul
    -current_group.sections.each do |section|
      -if !section.hidden?
        %li{:class => section.mode }
          = link_to section.node, "#" #isections_path(section.node, :mode => section.mode)
    %li{:style => "border-left:1px solid white"}
      = link_to "Groups", groups_path
    %li
      = link_to "Members", users_path

  .clear

%script
  = "$(document).ready(function() {"
  = "$('li."+ @mode.to_s+"').css({'background-color':'"+current_group.primary+"'});"
  = "$('li."+ @mode.to_s+" a').css({'color':'#000'});"
  = "});"


