-pass = @discussions
-pass.each do |discussion|
  = discussion.tags.to_s


-cache("trending_topics_#{current_group.id}") do
  %div{:style=>"width:962px;height:26px; margin:13px 0; line-height:26px;"}
    %div{:style=>"float:right;width:234px;"}
      = "Something here"
    %div.left

      = "Trends:" 

    %div{:style=>"float:right;width:580px;margin-right:26px;"}
      %marquee{ :behavior => 'scroll',:scrollamount => '1',}
        = self.discussion_topics



.clear

%script
  = "$(function() {"
  = "//$('marquee').marquee();"
  = "$('marquee').marquee('pointer').mouseover(function () {"
  = "       $(this).trigger('stop');"
  = "   }).mouseout(function () {"
  = "       $(this).trigger('start');"
  = "   }).mousemove(function (event) {"
  = "       if ($(this).data('drag') == true) {"
  = "           this.scrollLeft = $(this).data('scrollX') + ($(this).data('x') - event.clientX);"
  = "       }"
  = "   }).mousedown(function (event) {"
  = "       $(this).data('drag', true).data('x', event.clientX).data('scrollX', this.scrollLeft);"
  = "   }).mouseup(function () {"
  = "       $(this).data('drag', false);"
  = "   });"
  = "});"
