= current_group.head
#header

  #logo
    -if current_group.has_logo?
      = link_to image_tag(logo_group_path(current_group), :class => "group_logo", :width => current_group.logo_info["width"], :height => current_group.logo_info["height"]), domain_url(:custom => current_group.domain)
    -else
      = link_to image_tag("default_logo.png", :class => "group_logo"), domain_url(:custom => current_group.domain)

  #label
    .label-highlight
      = h(current_group.name_highlight)
    %span.label-special
      = h(@active_tab)




  #search
    = render :partial => "shared/search"




.clear



