
- if @custom_header
  = yield :custom_header


- else
  - if current_group.logo_only?
    - header = Header.find(current_group.default_header)
    - base_header = header.header.process!(:thumb,header.header_cropping)


    #header{:style=>"height:136px; background-image:url(#{base_header.url});background-size:512px 136px;background-repeat:no-repeat", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}

      - if current_group.logo_only? && current_group.text_only?

        #toolbar-alt{:style=>"background-image:url(/images/black_25_bg.png)"}
          = render :partial => "shared/toolbar_mobile_alt"
        .container{:style => "padding:0;height:80px;width:512px; float:left;z-index:2;position:absolute;top:28px;left:0px;"}
          .logo-mobile{:style => "width:512px;"}
            .name
              = link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}", :style=>"font-size:2em;font-weight:bold;text-shadow:-1px -1px 2px black,1px 1px 2px #{current_group.tertiary};color:#{current_group.text_colour};text-decoration:none;margin-left:16px;float:left;"
          
          -if current_group.has_strapline?
            .clear
            .strapline{:style => "color:#{current_group.text_colour};float:left; margin-left:16px;"}
              ="#{current_group.strapline}"  

      - elsif current_group.logo_only? && !current_group.text_only?

        #toolbar-alt{:style=>"background-image:url(/images/black_25_bg.png)"}
          = render :partial => "shared/toolbar_mobile_alt"


    .clear


  - else

    #header{:style=>"height:136px; background-image:url(#{base_header.url});background-size:512px 136px;background-repeat:no-repeat", :onclick=>"window.location=(\'#{domain_url(:custom => current_group.domain)}\')"}
      #toolbar
        = render :partial => "shared/toolbar_mobile"

      #logo
        = render :partial => "shared/logo_mobile"
