


- if false #@subscription.ends_at < Time.now
  %p
    = "This subscription has expired"
-# else
  -#%p
    -#= "This subscription is active"


- if current_group.default_header
  - header = Header.find(current_group.default_header)
  - base_header = header.header.process!(:thumb,header.header_cropping)


  

  - if current_group.logo_only? && current_group.text_only?
    .container{:style => "padding:0;height:80px;width:512px;"}
      .logo-mobile{:style => "height:80px;width:512px; float:left;z-index:2;position:absolute;top:56px;left:0px;"}
        = link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}", :style=>"font-size:2em;font-weight:bold;line-height:80px;text-shadow:-1px -1px 2px black;color:white;text-decoration:none;margin-left:16px;"
      .logo-mobile{:style => "height:80px;width:512px; float:left;z-index:1;position:absolute;top:56px;left:0px;"}
        = link_to image_tag(base_header.url, :width => "512px", :height => "80px",  :style => "/**/"), "#{domain_url(:custom => current_group.domain)}", :style=>"color:#{current_group.text_colour};margin:0px;height:80px;width:512px;", :alt => "Home"
        -if current_group.has_strapline?
          .strapline{:style => "height:80px;line-height:80px;color:white;float:left; border-left:1px solid color:white; margin-left:8px;padding-left:8px;"}
            ="#{current_group.strapline} X"


  - if current_group.logo_only? && !current_group.text_only?
    .container{:style => "padding:0;height:80px;width:512px;"}
      .logo-mobile{:style => "height:80px;width:512px; float:left;"}
        = link_to image_tag(base_header.url, :width => "512px", :height => "80px",  :style => "bottom:0px;"), "#{domain_url(:custom => current_group.domain)}", :style=>"color:#{current_group.text_colour};margin:0px;height:80px;width:512px", :alt => "Home"

  - if current_group.text_only? && !current_group.logo_only?
    .container{:style => "height:80px;text-align:left;"}
      =link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}", :style=>"font-size:2em;font-weight:bold;line-height:80px;text-shadow:-1px -1px 2px black;color:white;text-decoration:none;"
      -if current_group.has_strapline?
        .strapline{:style => "height:80px;line-height:80px;color:white;float:left; border-left:1px solid color:white; margin-left:8px;padding-left:8px;"}
          ="#{current_group.strapline}"

-else
  .container{:style => "height:80px;text-align:left;"}
    =link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}", :style=>"font-size:2em;font-weight:bold;line-height:80px;text-shadow:-1px -1px 2px black;color:white;text-decoration:none;"
