#contextual-navigation{:class => @active_tab}

  %ul
    %li.properties
      =link_to t("layouts.manage.properties"), manage_properties_path
    %li.sections
      =link_to t("layouts.manage.sections"), sections_path
    %li.widgets
      =link_to t("layouts.manage.widgets"), widgets_path
    -if current_group.has_custom_html
      %li.content
        =link_to t("layouts.manage.content"), manage_content_path
    %li.announcements
      = link_to t("layouts.manage.announcements"), announcements_path

    -if current_group.has_custom_ads
      %li.ads
        =link_to t("layouts.manage.advertising"), ads_path
    %li.members
      = link_to t("layouts.manage.members"), members_path


%script
  = "$(function() {"
  = "$('li."+ @mode.to_s+"').css({'background-color':'"+current_group.secondary+"'});"
  = "$('li."+ @mode.to_s+" a').css({'color':'#fff'});"
  = "});"
