
-if current_group.has_quick_create

  .container
    .form

      - quick_create = current_group.quick_create


      - doctype = current_group.doctypes.find(quick_create)


      - item = Item.new 
      = "QC: #{quick_create} </br>"
      = "IDT: #{doctype.name}"

      - form_for(item, :url => new_item_path(doctype.name), :html => {:class => "form",:method => "get"}) do |f|
        = render :partial => "items/form_quick_create_mobile", :locals => {:f => f, :doctype => item.doctype_id}

    .clear

