
%h4
  = "#{current_group.quick_create_heading}"




%div
  - quick_create = current_group.quick_create
  - doctype = Doctype.find(quick_create)
  - item = Item.new 

  = "doctype: #{doctype.name}"


  - form_for(item, :url => new_item_path(doctype), :html => {:class => "form",:method => "get"}) do |f|
    = render :partial => "items/form_quick_create", :locals => {:f => f, :doctype => doctype}
