.search-box
  - form_tag search_path, :method => :get, :style => "display: inline" do
    = text_field_tag :q, params[:q], :id => "search-field", :style=>"float:left"
    %button="Boo!"
    %br
      = radio_button_tag(:mode, "here", true)
      = label_tag "Here"
      = radio_button_tag(:mode, "there")
      = label_tag "There"
      = radio_button_tag(:mode, "everywhere")
      = label_tag "Everywhere"

