
.group-share-box{:style=>"float:right; "}

 
  .inner{:style=>"float:right;height:16px; "}

    -# if !current_group.other_groups_facebook.empty?
    %ul
      %li{:style=>"display:inline"}
        .text{:style=>"float:left;height:28px;line-height:26px"}  
          = " Also found on: "
      %li{:style=>"display:inline"}
        = link_to "<img src='/images/application-rss-xml.png' height='16px' width='16px' class='icon'/>", "/items?format=atom"


      - if !current_group.other_groups_facebook.empty?
        %li{:style=>"display:inline"}
          = link_to "<img src='/images/share/facebook_32.png' height='16px' width='16px' class='icon'/>", current_group.other_groups_facebook.to_s
      - if !current_group.other_groups_linkedin.empty?
        %li{:style=>"display:inline"}
          = link_to "<img src='/images/share/linkedin_32.png' height='16px' width='16px' class='icon'/>", current_group.other_groups_linkedin.to_s
      - if !current_group.other_groups_twitter.empty?
        %li{:style=>"display:inline"}
          = link_to "<img src='/images/share/twitter_32.png' height='16px' width='16px' class='icon'/>", current_group.other_groups_twitter.to_s
      - if !current_group.other_groups_google.empty?
        %li{:style=>"display:inline"}
          = link_to "<img src='/images/share/google_32.png' height='16px' width='16px' class='icon'/>", current_group.other_groups_google.to_s
 






