- expanded = local_assigns[:expanded]


- if current_group.has_video_on_homepage?

  -#.section-head-welcome{:style=>"border-bottom:10px solid white;border-top:4px solid #{current_group.secondary}"}
    -#.secondary-navigation-sections{:style=>"width:300px;background-color:gainsboro"}
      -#.videos{:style=>"width:300px;font-family:Arial,sans-serif; font-weight:normal;letter-spacing:-1px;font-size:12px;padding-left:10px;color:#{current_group.primary_dark};"}
        -#= "Todays videos...."  
        -#.navcontrols{:style => "width:96px; height:24px; float:right;padding-right:10px;display:none"}
          -#%a.show_video{:class => "video navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
            -#= "show video"
          -#%a.hide_video{:class => "video navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
            -#= "hide video"

  .sidebar_video
    .section-listing-welcomev{:class => "video", :style => "height:150px;background-color:WHITE;border-bottom:1px solid white; margin-bottom:10px;"}

      %h4{:style=>"line-height:32px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color:white; background-color:#000; border-top:4px solid black;margin:0; font-size:14px; letter-spacing:0px;font-weight:bold;border-bottom:1px solid white"}
        %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
          = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
        = "Video"

      -current_group.doctypes.reverse.each do |doctype|
        -if doctype.has_video?
          .video{:style=>"height:140px;width:300px;float:right;border-left:1px solid white;border-bottom:10px solid white", :class=>"feature-box"}

            .videobox{:style=>"width:300px;height:180px;background-color:black;",:class=>"none"}
              - items_array = Array.new
              - doctype.items.reverse.each do |item|
                - items_array << item 

              - items_array[0..0].each do |item|
                -#= render :partial => "/items/video_player_welcome", :locals => {:item => item, :sort=>"hot"}

                -if item.default_thumbnail?


                  - image = Image.find(item.default_thumbnail)
                  - base_image = image.image.process(:thumb,image.image_cropping)
                  - base_thumbnail = base_image.process(:thumb,"300x")
                  - base_thumbnail_grey = base_thumbnail.process(:greyscale, "20")


                  .features-thumbnail{:style => "background-image:url(#{base_thumbnail.url});width:300px; height:180px;overflow:hidden" }
                    = link_to image_tag("/images/spacer.gif", :class => 'a', :alt => item.title, :title => item.title,:style => "position: absolute;width:300px;height:160px" ), item_path(item.doctype, item)


                    .videobox-title{:style=>"position:relative;font-family:arial;font-weight:bold;opacity:0.6;width:284px;overflow:hidden;background-color:black; color:white;position:absolute:font-size:12px;height:24px; line-height:24px;padding:4px ;letter-spacing:0;filter: alpha(opacity = 60);zoom:1;z-index:100"}
                      .text
                        = render :partial => "shared/activity_markers", :locals => {:item => item}
                        = link_to item.title, item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 48), :style => "opacity:1;margin-top:-50px;color:white; font-weight:bold;font-size:12px;overflow:hidden"



                        

                    .inner-link{:style=>"position:absolute;font-family:arial;font-weight:bold;opacity:1;width:284px;overflow:hidden;background-color:black; color:white;position:absolute:font-size:12px;height:40px;margin-top:96px; line-height:12px;padding:4px 8px;letter-spacing:0;filter: alpha(opacity = 100);zoom:1;z-index:100"}
                      .text
                        = link_to h( truncate(strip_tags(item.body), :length => 146) ), item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 48), :style => "opacity:1;margin-top:-50px;color:white; font-weight:normal;font-size:12px;overflow:hidden"


                  .inner-content{:style=>"padding:8px; margin-bottom:8px;background-color:black;color:white;border-bottom:10px solid white"}

                    .inner-author{:style=>"height:16px;DIsPLAY:NONE"}
                      = "Shared by " 
                      = link_to h(item.user.display_name), user_path(item.user)


                - else


                  .features-thumbnail{:style => "background-image:url(#{item.video_thumbnail});width:300px;height:180px; overflow:hidden; background-position:-64px -128px;" }
                    = link_to image_tag("/images/spacer.gif", :class => 'a', :alt => item.title, :title => item.title,:style => "position: absolute;width:300px;height:160px" ), item_path(item.doctype, item)


                    .videobox-title{:style=>"position:relative;font-family:arial;font-weight:bold;opacity:0.6;width:284px;overflow:hidden;background-color:black; color:white;position:absolute:font-size:12px;height:24px; line-height:24px;padding:4px 8px ;letter-spacing:0;filter: alpha(opacity = 60);zoom:1;z-index:100"}
                      .text
                        = render :partial => "shared/activity_markers", :locals => {:item => item}           
                        = link_to item.title, item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 48), :style => "opacity:1;margin-top:-50px;color:white; font-weight:bold;font-size:12px;overflow:hidden"                    

                    .inner-link{:style=>"position:absolute;font-family:arial;font-weight:bold;opacity:0.6;width:284px;overflow:hidden;background-color:black; color:white;position:absolute:font-size:12px;height:50px;margin-top:96px; line-height:12px;padding:4px 8px;letter-spacing:0;filter: alpha(opacity = 60);zoom:1;z-index:100"}
                      .text
                        = link_to h( truncate(strip_tags(item.body), :length => 96) ), item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 48), :style => "opacity:1;margin-top:-50px;color:white; font-weight:normal;font-size:12px;overflow:hidden"


                  .inner-content{:style=>"background-color:black;color:white"}

                    .inner-author{:style=>"height:16px;DIsPLAY:NONE"}
                      = "Shared by " 
                      = link_to h(item.user.display_name), user_path(item.user)

    .clear

    %script{:type => "text/javascript"}
      = "// collapse:"
      = "$('.hide_video.video').click(function() {"
      = "$('.hide_video.video').css('display','none');"
      = "$('.show_video.video').css('display','block');"
      = "$('.video.section-listing-welcomev').hide('fast');"
      -#= "$.cookie('summary.index.summary', 'collapsed', { expires: 2 });"
      = "});"
      = "// expand:"
      = "$('.show_video.video').click(function() {"
      = "$('.show_video.video').css('display','none');"
      = "$('.hide_video.video').css('display','block');"
      = "$('.video.section-listing-welcomev').show('slow');"
      -#= "$.cookie('summary.index.summary', 'expanded', { expires: 2 });"
      = "});"
      = "// ok so far"
      -#= "// COOKIES"
      -#= "var summary = $.cookie('summary.index.summary');"
      -#= "	// Set the user's selection for the left column"
      -#= "if (summary == 'collapsed') {"
      -#= "$('.hide_summary.summary').css('display','none');"
      -#= "$('.show_summary.summary').css('display','block');"
      -#= "$('.summary.section-listing-welcome').hide();"
      -#= "};"
      -#= "if (summary == 'expanded') {"
      -#= "$('.hide_summary.summary').css('display','block');"
      -#= "$('.show_summary.summary').css('display','none');"
      -#= "$('summary.summary.section-listing-welcome').show();"
      -#= "};"
      - if expanded == false
        -#= "if (summary == null) {"
        = "$('.show_video.video').css('display','block');"
        = "$('.hide_video.video').css('display','none');"
        = "$('.video.section-listing-welcomev').hide();"
        -#= "};"
      - else
        -#= "if (summary == null) {"
        = "$('.hide_video.video').css('display','block');"
        = "$('.show_video.video').css('display','none');"
        = "$('.video.section-listing-welcomev').show();"
        -#= "};"
      -#= "};"
