-if width == "narrow"

  %h3
    = "Contribute"

  %div{:style => "background-color:#ffffff; width:140px;padding:0 0 4px 0"}
    %ul
      - current_group.doctypes.each do |doctype|

        - if !doctype.hidden
          %li{:style=>"padding:2px 0; height:22px;"}
            = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "contribute-button"

-if width == "wide"

  %h3{:style=>"background-color:#{current_group.primary_dark};"}
    = "How to contribute..."

  %div{:style => "float:left;width:300px;padding:0; margin:0; background-color:#{current_group.tertiary};"}
    %div{:style => "float:left;width:150px"}
      %ul{:style=>"display:block"}
        - current_group.doctypes.each do |doctype|

          - if !doctype.hidden
            %li{:style=>"margin:4px; height:24px;float:left"}
              = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "contribute-button", :style => "width:108px;height:20px; margin:8px; line-height:20px;" 

    %div{:style => "float:left;width:100px; padding:10px;"}
      = "Anybody is welcome to contribute to this community, simply sign up for a free account and get involved now!"

  .clear

