-if width == "narrow"

  %h3
    = "Contribute"

  %div{:style => "background-color:#BBBBBB; width:140px;padding:0 0 4px 0"}
    %ul
      - current_group.doctypes.each do |doctype|

        - if !doctype.hidden
          %li{:style=>"padding:2px 0;"}
            = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "standard-button", :style => "border:2px solid green; background-color:green;font-weight:bold; width:112px; margin:1px 4px 1px 4px;"

-if width == "wide"

  %h3
    = "How to contribute..."

  %div{:style => "width:140px;padding:0 0 4px 0"}
    %ul
      - current_group.doctypes.each do |doctype|

        - if !doctype.hidden
          %li{:style=>"padding:2px 0;"}
            = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "standard-button", :style => "border:2px solid green; background-color:green;font-weight:bold; width:112px; margin:1px 4px 1px 4px;" 

  %div{:style => "float:right; width:116px"}
    = "Anybody is welcome to contribute to this community, simply sign up for a free account and get involved now!"

  .clear

