
-if logged_in? && current_group.show_signup_button? || logged_in? && current_user.owner_of?(current_group)

-if width == "wide"
  -if logged_in? && current_group.show_group_create?
    .block
      -if (params[:target] = "welcome")
        .group-button{:style => "width:248px;height:120px; border-bottom: 1px solid white"}
          %div{:style => "font-size:16px; margin-bottom:4px; font-family:georgia; font-weight:bold; "}
            = "Create a free community.."
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Join this community and share your knowledge"
          %div{:style => "font-size:18px; margin-bottom:8px "}
            = link_to "&#9733; signup to particpiate", new_user_path, :class => "create-button", :style => "font-weight:18px"
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Start thinking daily..."


  -else
    .block
      -if (params[:target] = "welcome")
        .group-button{:style => "width:248px;height:120px; border-bottom: 1px solid white"}
          %div{:style => "font-size:16px; margin-bottom:4px; font-family:georgia; font-weight:bold; "}
            = "Thought is free.."
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Join this community and share your knowledge"
          %div{:style => "font-size:18px; margin-bottom:8px "}
            = link_to "&#9733; signup to particpiate", new_user_path, :class => "signup-button", :style => "font-weight:18px"
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Start thinking daily..."


-if width == "narrow"
  -if logged_in? 
    .block
      -if (params[:target] = "welcome")
        .group-button{:style => "width:132px;height:120px; border-bottom: 1px solid white"}
          %div{:style => "font-size:16px; margin-bottom:4px; font-family:georgia; font-weight:bold; "}
            = "Create a free community.."
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Join this community and share your knowledge"
          %div{:style => "font-size:18px; margin-bottom:8px "}
            = link_to "&#9733; signup to particpiate", new_user_path, :class => "signup-button", :style => "font-weight:18px"
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Start thinking daily..."


  -elsif current_group.show_group_create?
    .block
      -if (params[:target] = "welcome")
        .group-button{:style => "width:132px;height:120px; border-bottom: 1px solid white"}
          %div{:style => "font-size:16px; margin-bottom:4px; font-family:georgia; font-weight:bold; "}
            = "Thought is free.."
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Join this community and share your knowledge"
          %div{:style => "font-size:18px; margin-bottom:8px "}
            = link_to "&#9733; signup to particpiate", new_user_path, :class => "signup-button", :style => "font-weight:18px"
          %div{:style => "font-size:12px; margin-bottom:8px "}
            = "Start thinking daily..."











