
-if current_group.has_sponsors?

  -if width == "wide"
    .block
      %h3
        = current_group.sponsors_label
      .content
        -if current_group.has_sponsors?
          - current_group.sponsored_links.each do |sponsored_link|
            .sponsored-link-wide
              .thumbnail{:style => "width:140px; height:40px; float:left;background:#{current_group.supplementary};"}
                = "&nbsp;"
              .text{:style => "width:152px; height:40px; line-height:13px;; float:right; overflow:hidden; padding:0 4px;"}
                = sponsored_link.name.to_s

  -if width == "narrow"
    .block
      %h3
        = current_group.sponsors_label
      .content
        -if current_group.has_sponsors?
          - current_group.sponsored_links.each do |sponsored_link|
            %li
              = sponsored_link.name.to_s




.clear



