#toolbar{:style => "float:left;width:256px;"}





  -if logged_in?
    -if !current_group.isolate && AppConfig.enable_groups
      .edition
        %ul.topbar.combobox.left
          %li
            = image_tag("/images/logos/star_32.png",:height=>"16px",:width=>"16px",  :style => "margin:6px 4px 4px 4px", :class => "main-icon")
            =link_to "My groups", :style=>"height:24px; line-height:24px;padding:4px 0 4px 0px"
            -#=link_to h(current_group.display_name_ii), domain_url(:custom => current_group.domain), :style=> "height:24px; line-height:24px;padding:4px 0 4px -4px"

            %ul
              -current_user.groups(:select => [:name, :domain]).each do |group|
                %li
                  -if group.favicon_path?
                    = image_tag( "#{group.favicon_path}",:height=>"16px",:width=>"16px", :style => "height:16px: width:16px; margin:4px 0")
                  -else
                    = image_tag("#{group.favicon_path}",:height=>"16px",:width=>"16px",  :style => "height:16px: width:16px; margin:4px 0 4px -4px")
                  - gname = group.display_name_i + " " + group.display_name_ii.to_s
                  =link_to h(gname), domain_url(:custom => group.domain), :style=>"height:24px; line-height:24px;padding:4px"

    -else
      .edition
        = image_tag("/images/logos/star_32.png",:height=>"16px",:width=>"16px",  :style => "margin:6px 4px 4px 4px", :class => "main-icon")
        -#=link_to "thinkingdaily", domain_url(:custom => current_group.domain), :style=>"font-family:georgia;line-height:32px;font-weight:bold;"
        -#=link_to h(current_group.display_name_ii), domain_url(:custom => current_group.domain), :style=> "height:16px: width:16px; margin:4px 0 4px -4px"


  -else
    .edition
      = image_tag("/images/logos/star_32.png",:height=>"16px",:width=>"16px",  :style => "margin:6px 4px 4px 4px", :class => "main-icon")
      -#=link_to "thinkingdaily", domain_url(:custom => current_group.domain), :style=>"font-family:georgia;line-height:32px;font-weight:bold;"
      -#=link_to h(current_group.display_name_ii), domain_url(:custom => current_group.domain), :style=> "height:16px: width:16px; margin:4px 0 4px -4px"




#toolbar{:style => "float:right;width:640px;"}



  -if !logged_in?
    .entry{:style => "margin-left:8px"}
      = link_to "Login", new_user_session_path
    .entry
      = link_to "Become a member", new_user_path, :style => "font-weight:bold;"

  -if logged_in?
    .entry{:style=>"display:none"}
      =link_to "<img src='/images/logos/thinking_32.png' height='12px' width='12px' style='margin-top:4px'/>", "#" ,:style=>"padding:3px;border:0; height:16px; width:16px;"

  -if logged_in?

    .entry{:style=>"padding:0"}
      %ul.topbar.settings.right
        %li{:style=>"background-image: url('images/icons/settings.png');padding:0;width:96px;height:32px"}
          -#=link_to "Account", "#", :rel => 'nofollow', :style=>"height:32px;"
          = link_to "&nbsp;", "#", :rel => 'nofollow', :style=>"height:32px;width:96px;color:black"

          %ul
            %li
              =  link_to "My settings", settings_path(:tab => "welcome"), :class => "something"
            %li
              =link_to t("layouts.application.logout"), destroy_user_session_path, :class => "something"

    .entry{:style=>"padding:0"}
      %ul.topbar.submissions.right
        %li{:style=>"text-align:center;padding:0; border:0px solid #{current_group.primary};text-shadow:0"}
          -#%span{:style=>"margin-left:8px"}
          = "Submissions"
          -#%span.reputation{:title => t("activerecord.attributes.user.reputation"), :style => "font-family:'Arial Narrow',arial;background-color:"+current_group.primary+";text-transform:uppercase;letter-spacing:0"}
            ="#{current_group.publish_label.capitalize}"
          %ul
            - current_group.doctypes.each do |doctype|

              - if !doctype.hidden && doctype.public_access
                %li
                  = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "something", :style => "height:18px; line-height:18px;" 
        



  -if logged_in?
    .entry
      - real_name = "#{current_user.first_name} #{current_user.last_name}"
      %strong= link_to(h(real_name), user_path(current_user))
      %span.reputation{:title => t("activerecord.attributes.user.reputation"), :style => "background-color:"+current_group.primary+""}=format_number(current_user.reputation_on(current_group))

    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"

    -if current_user.owner_of?(current_group)
      .entry
        =link_to "&#x2620;", manage_properties_path, :class => "manage_link", :style => "font-size:1.5em;"





