
.left{:style=>"margin-right:16px;"}

  - if !current_group.has_custom_toolbar?
    .edition
      = image_tag("/images/logos/star_32.png",:height=>"32px",:width=>"32px",  :style => "margin:14px;", :class => "main-icon")
      -#=link_to "thinkingdaily", domain_url(:custom => current_group.domain), :style=>"font-family:georgia;line-height:32px;font-weight:bold;"
      -#=link_to h(current_group.display_name_ii), domain_url(:custom => current_group.domain), :style=> "height:16px: width:16px; margin:4px 0 4px -4px"
  - elsif current_group.has_custom_toolbar?
    .edition
      = link_to image_tag("#{current_group.custom_toolbar_image}",:height=>"32px",:width=>"128px",  :style => "margin:0px", :class => "main-icon")         

.right{:style=>"margin-right:16px;"}
  -if !logged_in?
    .entry{:style => "margin-left:8px; font-size:1.5em; line-height:64px;text-shadow:-1px -1px 2px black"}
      = link_to "Login", new_user_session_path, :style => "font-weight:bold;color:white;text-decoration:none", :title => "You do not need to login just to ask a question"

  -if logged_in?

    .entry{:style=>"padding:0"}
      %ul.topbar.settings.right
        %li{:style=>"background-image: url('/images/icons/settings.png');padding:0;width:48px;height:32px"}
          -#=link_to "Account", "#", :rel => 'nofollow', :style=>"height:32px;"
          = link_to "&nbsp;", "#", :rel => 'nofollow', :style=>"height:32px;width:48px;color:black"

          %ul
            %li
              =  link_to "My settings", settings_path(:tab => "welcome"), :class => "something"
            %li
              =link_to t("layouts.application.logout"), destroy_user_session_path, :class => "something"

    .entry{:style=>"padding:0"}
      %ul.topbar.submissions.right
        %li{:style=>"text-align:center;padding:0; border:0px solid #{current_group.primary};text-shadow:0"}

          %span{:style=>"padding-left:12px;padding-right:12px;"}
            = "Submissions"

          %ul{:style=>"z-index:999;"}
            - current_group.doctypes.each do |doctype|

              - if !doctype.hidden && doctype.public_access
                %li
                  = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "something"
        
              - if  current_user.can_modify?(current_group)
                - if !doctype.hidden && !doctype.public_access
                  %li{:style=>"background-color:#{current_group.primary_dark};border-top:1px inset black"}
                    = link_to "#{doctype.create_label}", new_item_path(doctype), :class => "something"




  -if logged_in?
    .entry
      - if current_user.display_name?
        - real_name = "#{current_user.display_name}"
      - else
        - real_name = "#{current_user.first_name} #{current_user.last_name}"

      %strong= link_to(h(real_name), "/members/#{current_user.slug}")
      %span.reputation{:title => t("activerecord.attributes.user.reputation"), :style => "background-color:"+current_group.primary+""}=format_number(current_user.reputation_on(current_group))

    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"

    -if current_user.owner_of?(current_group)
      .entry{:style=>"background-image: url('/images/icons/administrator.png');padding:0;width:48px;height:32px;cursor:pointer;",:onclick=>"window.location.href=\'#{manage_properties_path}\'"}
        =link_to "&nbsp;", manage_properties_path, :class => "manage_link", :style => "height:48px;width:32px;"





