
.container{:style=>"height:56px"}
  - if current_group.logo_only?
    .left{:style=>"height:28px;width:40px;"}
      %a{:href=>"http://mofaq.com", :title => "moFAQ: Every business needs a mobile FAQ"}
        = image_tag("/images/mofaq/mobile-faq-logo.png",:height=>"28px",:width=>"45px",  :style => "border:0", :title => "moFaq: Every business needs a mobile FAQ")

  - else
    .left{:style=>"height:56px;width:80px;"}
      %a{:href=>"http://mofaq.com", :title => "moFAQ: Every business needs a mobile FAQ"}
        = image_tag("/images/mofaq/mobile-faq-logo.png",:height=>"56px",:width=>"99px",  :style => "border:0", :title => "moFaq: Every business needs a mobile FAQ")



  .right{:style=>"height:56px;"}
    -if !logged_in?
      .entry{:style => "margin-left:8px;text-shadow:-1px -1px 2px black"}
        %button.inner-button{:style=>"font-size:1.1em;height:2em;line-height:0.6em;margin:0.2em 0"}
          = link_to "Login", new_user_session_path, :style => "MARGIN :0;padding:0;font-weight:bold;color:white;text-decoration:none", :title => "You do not need to login just to ask a question", :class=>"SOMETHING"


    -if logged_in?

      .entry.right{:style => "margin-left:8px;text-shadow:-1px -1px 2px black"}
        %button.inner-button-small{:style=>"font-size:1.1em;height:2em;line-height:0.6em;margin:0.2em 0"}        
          =link_to "Logout", destroy_user_session_path, :style => "border:1px;MARGIN :0;padding:0;font-weight:bold;color:white;text-decoration:none", :title => "You do not need to login just to ask a question", :class=>"SOMETHING"

      .entry.right{:style => "line-height:56px;text-shadow:-1px -1px 2px black"}
        - if current_user.display_name?
          - real_name = "#{current_user.display_name}"
        - else
          - real_name = "#{current_user.login}"

        %strong
          = link_to real_name, "/members/#{current_user.slug}", :style => "font-size:1.5em;font-weight:bold;color:white;text-decoration:none"

      -if current_user.owner_of?(current_group)
        .entry.right{:style=>"padding:12px 0;width:56px;height:40px;cursor:pointer;",:onclick=>"window.location.href=\'#{manage_properties_path}\'"}
          =link_to "<img src=\'/images/icons/settings.png\' />", manage_properties_path, :class => "manage_link", :style => "height:40px;width:40px;"







