#toolbar{:style => "float:left;width:256px;"}
  -if logged_in?
    -if !current_group.isolate && AppConfig.enable_groups
      .edition
        %ul.topbar.combobox.left
          %li
            = image_tag(current_group.favicon_path,  :style => "margin:0};")
            .thoughtdomain
              =link_to h(current_group.name), domain_url(:custom => current_group.domain), :style=>"margin:0px;"
              =link_to h(current_group.name_highlight), domain_url(:custom => current_group.domain), :style=> "color:#{current_group.primary};margin:0 0 0 -2px;"

            %ul
              -current_user.groups(:select => [:name, :domain]).each do |group|
                %li
                  -if group.favicon_path?
                    = image_tag( "#{group.favicon_path}", :style => "background-color:#{group.secondary};")
                  -else
                    = image_tag("#{group.favicon_path}",  :style => "background-color:#{group.secondary};")
                  - gname = group.name + " " + group.name_highlight.to_s
                  =link_to h(gname), domain_url(:custom => group.domain)

    -else
      .edition
        %ul.topbar.combobox.left
          %li
            = image_tag(current_group.favicon_path,  :style => "height:24px: width:24px; margin:0};")
            .thoughtdomain
              =link_to h(current_group.name), domain_url(:custom => current_group.domain), :style=>"margin:0px;"
              =link_to h(current_group.name_highlight), domain_url(:custom => current_group.domain), :style=> "color:#{current_group.primary};margin:0 0 0 -2px;"


  -else
    .edition
      %ul.topbar.combobox.left
        %li
          = image_tag(current_group.favicon_path,  :style => "height:24px: width:24px; margin:0};")
          .thoughtdomain
            =link_to h(current_group.name), domain_url(:custom => current_group.domain), :style=>"margin:0px;"
            =link_to h(current_group.name_highlight), domain_url(:custom => current_group.domain), :style=> "color:#{current_group.primary};margin:0 0 0 -2px;"





#toolbar{:style => "float:right;width:auto;"}
  -if logged_in?
    -if current_user.owner_of?(current_group)
      .entry
        =link_to "&#x2620;", manage_properties_path, :class => "manage_link", :style => "font-size:1.5em;"
        |
    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"
        |
    .entry
      -# @avatar = Avatar.find(current_user.default_avatar)
      -# if @avatar.present?
      -#  - cropped_avatar = @avatar.avatar.process(:thumb,@avatar.avatar_cropping)
      -#  - default_avatar = cropped_avatar.process(:thumb,"18x18").url
      -#  = image_tag default_avatar, :style => "margin-bottom:-4px"
      -# else
      -#  = image_tag "/images/anonymous_avatar.png", :height => "18px", :width => "18px"


      - real_name = "#{current_user.first_name} #{current_user.last_name}"
      %strong= link_to(h(real_name), user_path(current_user))
      %span.reputation{:title => t("activerecord.attributes.user.reputation"), :style => "background-color:"+current_group.primary+""}=format_number(current_user.reputation_on(current_group))
      |
    .entry
      =link_to h("My Edition"), user_path(current_user)
      | 
    .entry
      =link_to h("My Profile"), user_path(current_user)
      | 
    .entry
      =link_to h("My Community"), user_path(current_user)
      |
    .entry
      =link_to h("My Settings"), settings_path(:tab => "welcome")
      |

  -if !logged_in?
    .entry
      = link_to h("About this community"), "/about/community"
      |
    .entry
      = link_to h("FAQ"), "/about/faq"
    .entry{:style => "margin-left:8px"}
      = render :partial => "shared/login"

  -if logged_in?
    .entry
      =link_to t("layouts.application.logout"), destroy_user_session_path
      |
    .entry
      = render :partial => "shared/contribute"


.clear


