#logo{:style => "float:left;"}
  -if current_group.logo_only?
    .logo-text
      .filling




        .left
          =link_to h(current_group.display_name_i), domain_url(:custom => current_group.domain), :style=>"color:white;margin:0;"
        .left
          =link_to h(current_group.display_name_ii), current_group.display_name_ii_link, :style=> "color:#{current_group.secondary};margin:0;"
        -if current_group.strapline?
          .strapline
            %p{:style => "color:white;margin:0;float:left;"}
              ="#{current_group.strapline}"

  -else
    .logo
      = link_to image_tag(current_group.logo_path, :width => current_group.logo_info["width"], :height => current_group.logo_info["height"],  :style => "bottom:0px;"), domain_url(:custom => current_group.domain), :style=>"margin:0px;", :alt => "Home"


#toolbar{:style => "float:right;width:auto;"}
  -if logged_in?
    -if current_user.owner_of?(current_group)
      .entry
        =link_to "&#x2620;", manage_properties_path, :class => "manage_link", :style => "font-size:1.5em;"
        |
    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"
        |
    .entry



      - real_name = "#{current_user.first_name} #{current_user.last_name}"
      %strong= link_to(h(real_name), user_path(current_user))
      %span.reputation{:title => t("activerecord.attributes.user.reputation"), :style => "background-color:"+current_group.primary+""}=format_number(current_user.reputation_on(current_group))
      |
    -#.entry
      -#=link_to h("My Edition"), user_path(current_user)
      -#| 
    .entry
      =link_to h("My Profile"), user_path(current_user)
      | 
    -#.entry
      -#=link_to h("My Community"), user_path(current_user)
      -#|
    .entry
      =link_to h("My Settings"), settings_path(:tab => "welcome")


  -if !logged_in?

    .entry
      = link_to h(current_group.about_label), "/about/community"
      |
    .entry
      = link_to h("FAQ"), "/about/faq"
      |
    .entry{:style => "margin-left:8px"}
      = link_to "Login", new_user_session_path


  -if logged_in?
    .entry
      |
      =link_to "#{current_group.publish_label.capitalize}", new_create_path, :rel => 'nofollow'
      |
    .entry
      =link_to t("layouts.application.logout"), destroy_user_session_path



.clear


