-#local_assigns[:section]

.group
  .label 
    = "Section name"
  .field
    = f.text_field :name

.group
  = select :section, "_type", Section.types.map {|w| [w.sub("Section", "").titleize, w] }

.group
  .label 
    = "Create label"
  .field
    = f.text_field :create_label


.group
  = f.check_box :hidden, :class => "checkbox"
  .label :hidden, "Hide in navigation", :class => "radio"
