-#local_assigns[:section]

.group
  .label 
    = "Section name"
  .field
    = f.text_field :name

.group
  .label 
    = "Section mode"
  = select :section, "_type", Section.types.map {|w| [w.sub("Section", " Mode").titleize, w] }

.group
  = f.check_box :has_images, :class => "checkbox"
  .label :has_images, "Has images?", :class => "radio"

.group
  .label 
    = "Create label"
  .field
    = f.text_field :create_label

.group
  .label 
    = "Custom Icon"
  .field
    = f.text_field :custom_icon


.group
  = f.check_box :hidden, :class => "checkbox"
  .label :hidden, "Hide in navigation", :class => "radio"
