-content_for :subtabs do
  .secondary-navigation
    %h3
      =t(".title")

%h2.title
  =t(".description")

#manage_sections
  %table{:width => "80%px"}
    %th
      =""
    %th
      ="Name"
    %th
      ="Mode"
    %th
      ="Has images?"
    %th
      ="Hidden?"
    %th
      ="Create Label"
    %th
      ="Custom Icon"
    %th
      ="Re-order"
    %th
      ="Actions"

    -list_order = 0
    -@sections.each do |section|

      -list_order = list_order + 1

      %tr{:style => "background-color: gainsboro;"}
        %td
          = list_order
        %td.node
          = h(section.name)   #, :locals => {:section => section}
        %td.mode
          = h(section.mode)   #, :locals => {:section => section}
        %td.has_images
          -if section.has_images?
            %strong
              = "true"
        %td.hidden
          -if section.hidden?
            %strong
              = "hidden"
        %td.mode
          = h(section.create_label)   #, :locals => {:section => section}
        %td.icon
          = h(section.custom_icon)   #, :locals => {:section => section}
        %td.order
          -form_tag move_section_path(section) do
            = submit_tag("up", :name=>"move_to", :value => "up") 
            = submit_tag("down", :name=>"move_to", :value => "down")
        %td.actions
          = link_to t("scaffold.destroy"), section_path(section), :method => :delete, :confirm => t("scaffold.sure", :model => "section")
          = " | "
          = link_to t("scaffold.edit"), edit_section_path(section), :method => :get


%h2.title
  =t(".new_section", :default => "Add new section")

-#form_tag sections_path, :class => "form" do |f|

- form_for(@section, :html=>{:class => "form", :id => "section"}) do |f|
  =render :partial => "form", :locals => {:f => f}


  .group.navform
    =submit_tag t("scaffold.add"), :class => "button"









