%style{:type => 'text/css'}
  a {color: #{current_group.primary};}
  a:hover {color: #444;}
  \#header-container {background-color: #{current_group.primary};}
  \#header-container-inner { 
  -if current_group.header_bg?
    background-color: #{current_group.primary};
  -if current_group.has_background?
    background-image:url(#{background_group_path(current_group)});
  -if !current_group.header_bg? && !current_group.header_bg_image?
    background-color: #{current_group.primary};
  }

  \#toolbar-container { 
  -if current_group.toolbar_bg?
    background-color: #{current_group.toolbar_bg};
  -if current_group.toolbar_bg_image?
    background-image:url(#{current_group.toolbar_bg_image});
  -if !current_group.toolbar_bg? && !current_group.toolbar_bg_image?
    background-color: black;
  }

  \#header #logo { background-color: #{current_group.secondary} ;}
  \#main-index .title { background-color: #{current_group.primary} ;}

  \.tag-list .tag a:link, .tag-list .tag a:active, .tag-list .tag a:visited { background-color: #{current_group.secondary};}
  \.tag-list .tag a:hover{ background-color: #{current_group.secondary};}
  \.label-highlight a{ color: #{current_group.secondary};}
  \.secondary-navigation-sections{ background-color: #{current_group.primary};}
  \.secondary-navigation{ background-color: #{current_group.secondary};}
  \.tertiary-navigation{ background-color: #{current_group.tertiary};}
  \.trends{ background-color: #{current_group.secondary};}
  h1 .item{ background-color: #{current_group.tertiary};}
  \.toolbar-button{ background-color: #{current_group.secondary};}
  \.secondary_box{ background-color: #{current_group.secondary};}
  \.tertiary_box{ background-color: #{current_group.tertiary};}
  \#sidebar h3{background-color: #{current_group.tertiary};}
  \#sidebar-inner h3{background-color: #{current_group.secondary};}
  \.section-topic a{color: #{current_group.tertiary};}
  \.section-button {background-color: #{current_group.primary}; border:1px solid #{current_group.secondary};text-shadow: #{current_group.primary} 0px -1px 1px}}

<!--//-->

-#\.edit-button{ background-color: #{current_group.tertiary};}
-#\.edit-button{ background-image: url(#{current_group.edit_button_bg_image};)}
-#\.button{background-color: #cdcdcd; background-image: url(#{current_group.edit_button_bg_image};)}


