%style{:type => 'text/css'}
  a {color: #{current_group.primary};}
  a:hover {color: #444;}
  \#header-container {background-color: #{current_group.primary};}
  \#header-container-inner { 
  -if current_group.header_bg?
    background-image: url(#{current_group.header_bg_image};)
  -if !current_group.header_bg? && !current_group.header_bg_image?
    background-color: #{current_group.primary};
  }

  \#toolbar-container { 
  -if current_group.toolbar_bg?
    background-color: #{current_group.toolbar_bg};
  -if current_group.toolbar_bg_image?
    background-image:url(#{current_group.toolbar_bg_image});
  -if !current_group.toolbar_bg? && !current_group.toolbar_bg_image?
    background-color: black;
  }

  \#header #logo { background-color: #{current_group.secondary} ;}
  /*\#main-index .title { background-color: #{current_group.primary} ;}*/

  \.tag-list .tag a:link, .tag-list .tag a:active, .tag-list .tag a:visited { background-color: #{current_group.secondary};}
  \.tag-list .tag a:hover{ background-color: #{current_group.secondary};}
  \.label-highlight a{ color: #{current_group.secondary};}
  \.secondary-navigation-sections{ background-color: #{current_group.primary};}
  \.secondary-navigation{ background-color: #{current_group.secondary};}
  \.tertiary-navigation{ background-color: #{current_group.tertiary};}
  \.trends{ background-color: #{current_group.secondary};}
  h1 .item{ background-color: #{current_group.tertiary};}
  \.toolbar-button{ background-color: #{current_group.secondary};}
  \.secondary_box{ background-color: #{current_group.secondary};}
  \.tertiary_box{ background-color: #{current_group.tertiary};}
  \#sidebar h3{color:white; background-color: #{current_group.tertiary};}
  \#sidebar-inner h3{background-color: #b6b6b6;/* #{current_group.secondary}; /*border: 1px solid #{current_group.tertiary}*/}
  \.section-topic a{color: #{current_group.tertiary};}
  \.primary-button {background-color: #{current_group.primary}; border:1px solid #{current_group.primary};text-shadow: #{current_group.primary} 0px -1px 1px}
  \.section-button {background-color: #{current_group.primary}; border:1px solid #{current_group.secondary};text-shadow: #{current_group.secondary} 0px -1px 1px}
  \.secondary-button {background-color: #{current_group.primary}; border:1px solid #{current_group.secondary};text-shadow: #{current_group.secondary} 0px -1px 1px}
  \.tertiary-button {background-color: #{current_group.tertiary}; border:1px solid #{current_group.tertiary};text-shadow: #{current_group.tertiary} 0px -1px 1px}
  \.create-item-button {background:#{current_group.secondary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{current_group.secondary}',endColorstr='#{current_group.primary}');background:-webkit-gradient(linear,left top,left bottom,from(#{current_group.secondary}),to(#{current_group.primary}));background:-moz-linear-gradient(top,#{current_group.primary},#{current_group.secondary});border:1px solid #{current_group.secondary};}
  \.create-item-button:hover {background-color: #{current_group.secondary_hover}; border:1px solid #{current_group.tertiary};text-shadow: #{current_group.secondary_hover} -1px -1px 1px;}
  \.signup-button{background:#{current_group.primary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{current_group.secondary}',endColorstr='#{current_group.tertiary}');background:-webkit-gradient(linear,left top,left bottom,from(#{current_group.secondary}),to(#{current_group.tertiary}));background:-moz-linear-gradient(top,#{current_group.tertiary},#{current_group.secondary});border:1px solid #{current_group.secondary};}
  \.group-button{background:#{current_group.primary};filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{current_group.secondary}',endColorstr='#{current_group.tertiary}');background:-webkit-gradient(linear,left top,left bottom,from(#{current_group.secondary}),to(#{current_group.tertiary}));background:-moz-linear-gradient(top,#{current_group.tertiary},#{current_group.secondary});border:1px solid #{current_group.secondary};}

<!--//-->

-#\.edit-button{ background-color: #{current_group.tertiary};}
-#\.edit-button{ background-image: url(#{current_group.edit_button_bg_image};)}
-#\.button{background-color: #cdcdcd; background-image: url(#{current_group.edit_button_bg_image};)}


