-if logged_in?
  .block

    .group-button{:style => "width:362px;background-color:#{current_group.primary}; font-size:18px "}
      = "ARE YOU THINKING DAILY?<br/>"
      %small
        = "Check to see if your personal thinking space is available"
      -form_for @group  do |f|
        = f.error_messages
        %div.left
          -if logged_in?
            = f.text_field :subdomain, :value => current_user.login.to_s, :class=>"gb_input", :style => "width:96px; background-color:#{current_group.secondary}; border:0; color:white; font-size:18px"
            = f.hidden_field :name, :value => current_user.login.to_s, :style => "width:180px; background-color:#{current_group.secondary}; color:white; font-size:18px"
            = ".thinkingdaily.com"
          -else
            = f.text_field :name, :value => "Empty", :class=>"gb_input", :style => "width:48px;text-overflow:hidden, background-color:#{current_group.secondary}"
            = ".thinkingdaily.com"

        %div.right
          .group.navform
            = f.submit  "Check availability", :class => "standard-button"
      .clear
      %div.small
        ="Find out more..."


-else
  .block
    .signup-button{:style => "width:360px;background-color:#{current_group.primary}; font-size:18px "}
      = link_to "SIGNUP NOW for a free account<br/>", new_user_path
      %small
        = "And get heard in our fast growing global community"






