- if current_group.has_welcome_features

  .section-listing-welcome{:class => "features", :style => "background-color:#ffffff; width:728px;height:124px; overflow:hidden"}
    - slideshow_delay = 0
    -current_group.doctypes.each do |doctype|
      -if doctype.featured
        -slideshow_delay = slideshow_delay + 500
        -#  = slideshow_delay.to_s
        %div{:style=>"width:181px; height:124px;float:right;border-right:1px solid white", :class=>"feature-box"}
          -#= "#{slideshow_delay}"
          %h4{:style=>"height:24px;line-height:24px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color: white; background-color:black; border-bottom:4px solid #{current_group.primary};margin:0; font-size:15px; letter-spacing:-1px;font-weight:bold;border-bottom:1px solid white"}
            %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
              = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
            = "#{doctype.name}"
          .feature-slideshow{:style => "height:124px;overflow:hidden;"}
            - features_array = Array.new
            - doctype.items.reverse.each do |item|
              - features_array << item 

            .slideshow{:class=>"#{doctype.name}", :style=>"display:none"}    
              - features_array[0..2].each do |item|
                = render :partial => "/items/welcome_features", :locals => {:item => item, :sort=>"hot"}
              -features_array = nil



        %script{:type => "text/javascript"}
          = "function slider#{doctype.name}(){"
          = "$(document).ready(function(){$('.slideshow.#{doctype.name}').fadeIn('fast').cycle({fx: 'scrollUp'});});"
          = "}"
          = "setTimeout('slider#{doctype.name}()',#{slideshow_delay});"








