%h3
  = "thought leadership in..."
.content
  .left

    .science
      = link_to " Science<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://thesciencedaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"
    .education
      = link_to " Education<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://theeducationdaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"
    .government
      = link_to "Government<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://thegovernmentdaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"
    .technology
      = link_to "Technology<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://thetechnologydaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"
    .business
      = link_to "Business<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://thebusinessdaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"
    .nature
      = link_to "Nature<img class='left' src='/images/logos/star_32.png' style='margin-top:1px;margin-right:4px;height:12px; width:12px'>", "http://thenaturedaily.com", :class => "community",:style => "width: 128px; margin-bottom:4px"




.clear
