- if current_group.has_adult_content?
  .content{:style=>"padding:32px 32px 16px 32px;margin:0 auto;height:32px;"}
    .holder{:style=>"padding:16px 32px 32px 32px;background-image:url(/images/landing_bg.png);background-repeat:repeat-x; margin:0 auto;"}
      = "Adult warning"

.content{:style=>"margin:0 auto;height:364px"}
  .right{:style=>"padding:32px;width:664px; height:300px;"}
    .holder{:style=>"padding:16px 32px 32px 32px;background-image:url(/images/landing_bg.png);background-repeat:repeat-x; margin:0 auto;"}
    
      %h3{:style=>"color:white;margin-bottom:8px;background:0;border:0;"}
        = current_group.landing_labels['guest_heading']
      .center{:style=>"width:388px;float:left;"}
        %a.standard-button-alternate{:style=>"margin-bottom:16px;width:388px;height:32px;font-size:18px;margin:0 auto;", :href=>"/?guest=true"}
          .inner{:style=>"width:372px; height:16px;padding:8px;"}
            = current_group.landing_labels['guest_button']
      .note{:style=>"width:128px;color:white; font-size:12px; line-height:12px; margin-left:16px; float:left "}
        = current_group.landing_labels['guest_note']

      .clear

      - if !current_group.disable_signups?

        %h3{:style=>"color:white;margin-top:8px;margin-bottom:8px;background:0;border:0"}
          = current_group.landing_labels['signup_heading']
        .center{:style=>"width:388px; float:left;"}
          %a.standard-button{:style=>"margin-bottom:16px;width:388px;height:32px;font-size:18px;margin:0 auto;", :href=>"/members/new"}
            .inner{:style=>"width:372px; height:16px;padding:8px;"}
              = current_group.landing_labels['signup_button']
        .note{:style=>"width:128px;color:white; font-size:12px; line-height:12px; margin-left:16px; float:left "}
          = current_group.landing_labels['signup_note']
        .clear

        %h3{:style=>"color:white;margin-top:8px;margin-bottom:8px;background:0;border:0"}
          = current_group.landing_labels['login_heading']
        .center{:style=>"width:388px;float:left"}
          %a.submit-button{:style=>"margin-bottom:16px;width:388px;height:32px;font-size:18px;margin:0 auto;", :href=>"/users/login"}
            .inner{:style=>"width:372px; height:16px;padding:8px;"}
              = current_group.landing_labels['login_button']

        .clear{:style=>"margin-bottom:16px;"}


  .left{:style=>"padding:32px 0 0 32px;width:268px;"}
    .holder{:style=>"padding:16px 32px 32px 32px;background-image:url(/images/landing_bg.png);background-repeat:repeat-x; margin:0 auto;"}
      %h1{:style=>"font-weight:bold;letter-spacing:-1px; color:white"}
        = current_group.landing_labels['heading']
      %p{:style=>"color:white"}
        = current_group.landing_labels['description']

      - if !current_group.disable_signups?

        %p{:style=>"font-weight:bold;letter-spacing:-1px; color:black; font-size:14px;"}
          = "Did you know?"
        %p{:style=>"color:white"}
          = "<b>#{current_group.display_name_i.upcase} #{current_group.display_name_ii.upcase}</b> is a new type of website where any member can post content. Why not become a member and contribute to our community"
  

    -# = render :partial => "shared/community_sponsor",  :locals => {:width => "wide"}


