- expanded = local_assigns[:expanded]

.contact
  .container{:style=>"height:280px;"}

    .left{:style=>"width:200px;"}
      .heading{:style=>"font-size:110%;"}
        = "#{current_group.name}"
      .group
        = "#{current_group.group_address_i}"
      .group
        = "#{current_group.group_address_ii}"
      .group
        = "#{current_group.group_city}"
      .group
        = "#{current_group.group_state}"
      .group
        = "#{current_group.group_postcode}"
      .group{:style=>"size:1em;text-transform:uppercase;color:#{current_group.tertiary}"}
        = "#{current_group.group_region}"

      -if current_group.group_phone
        .group
          = "TEL: #{current_group.group_phone}"
      -if current_group.group_phone
        .group
          = "FAX: #{current_group.group_fax}"


    .right{:style=>"width:280px;"}
      .map-holder{:style=>"padding:8px;"}
        .map
          - address = [current_group.group_address_ii,current_group.group_city,current_group.group_state].join(',')
          - main_url = "http://maps.googleapis.com/maps/api/staticmap?"
          - center = "center=" + address
          - marker = "&markers=color:red%7Clabel:X%7C" + address
          - other_params = "&zoom=14&size=256x256&maptype=roadmap&sensor=false"
          %img{'src' => (main_url + center + marker + other_params)}/

.clear




