- expanded = local_assigns[:expanded]
#fold
  .fold
    .left{:style=>"margin-left:16px;"}
      %h2
        = "Questions"

    .right{:style=>"width:64px;margin-right:16px;"}
      %a.show_below{:class => "fold navlinks showhide left", :style=>"color:white"}
        = "<img src='/images/blank_icon.png' height='64px' width='64px'/>"
      %a.hide_below{:class => "fold navlinks showhide left", :style=>"color:white"}
        = "<img src='/images/blank_icon_o.png' height='64px' width='64px'/>"



  .clear
  .below
    .contain{:style=>"width:480px;margin:0 auto;padding:0 16px;"}

      %ul.features
        -if current_group.items.empty?
          %li.highlight
            = t(".empty")
        -else
          - @items.reverse[0..5].each do |item|
            %li
              = render :partial => "/items/single_list_mobile", :locals => {:item => item, :sort=>"hot"}




          .clear
        .clear

  %script{:type => "text/javascript"}
    = "// collapse:"
    = "$('.hide_below.fold').click(function() {"
    = "$('.hide_below.fold').css('display','none');"
    = "$('.show_below.fold').css('display','block');"
    = "$('.below').hide('fast');"
    = "});"
    = "// expand:"
    = "$('.show_below.fold').click(function() {"
    = "$('.show_below.fold').css('display','none');"
    = "$('.hide_below.fold').css('display','block');"
    = "$('.below').show('fast');"
    = "});"
    = "// ok so far"
    = "$('.hide_below.fold').css('display','none');"
    = "$('.show_below.fold').css('display','block');"
    = "$('.below').hide();"

.clear




