- expanded = local_assigns[:expanded]
#fold
  .fold
    .left{:style=>"margin-left:16px;"}
      %h2
        = "How can we help?"

    .right{:style=>"width:64px;margin-right:16px;"}
      %a.show_quick_create{:class => "fold navlinks showhide left", :style=>"color:white"}
        = "<img src='/images/blank_icon.png' height='64px' width='64px'/>"
      %a.hide_quick_create{:class => "fold navlinks showhide left", :style=>"color:white"}
        = "<img src='/images/blank_icon_o.png' height='64px' width='64px'/>"



  .clear
  .quick-create
    .contain{:style=>"width:512px;margin:0 auto;"}
      = render :partial => "shared/quick_create_mobile"

  %script{:type => "text/javascript"}
    = "// collapse:"
    = "$('.hide_quick_create.fold').click(function() {"
    = "$('.hide_quick_create.fold').css('display','none');"
    = "$('.show_quick_create.fold').css('display','block');"
    = "$('.quick-create').hide('fast');"
    = "});"
    = "// expand:"
    = "$('.show_quick_create.fold').click(function() {"
    = "$('.show_quick_create.fold').css('display','none');"
    = "$('.hide_quick_create.fold').css('display','block');"
    = "$('.quick-create').show('fast');"
    = "});"
    = "// ok so far"
    = "$('.hide_quick_create.fold').css('display','none');"
    = "$('.show_quick_create.fold').css('display','block');"
    = "$('.quick-create').hide();"

.clear




