


#accordion




  %h3.fold-header
    = link_to "How can we help?","#",:style=>"color:#{current_group.text_colour};line-height:56px;",:class=>"container"

  %div
    .container{:style=>"width:480px;padding:0;"}
      = render :partial => "shared/quick_create_mobile"


  %h3.fold-header
    = link_to "Frequently asked....","#",:style=>"color:#{current_group.text_colour};line-height:56px;" 
  %div
    .container{:style=>"width:480px;padding:0;"}

      %ul.features
        -if current_group.items.empty?
          %li.highlight
            = t(".empty")
        -else
          - @items.reverse[0..5].each do |item|
            %li
              = render :partial => "/items/single_list_mobile", :locals => {:item => item, :sort=>"hot"}

  %h3.fold-header
    = link_to "Contact","#",:style=>"color:#{current_group.text_colour};line-height:56px;" 

  %div
    .container{:style=>"width:480px;padding:0;"}
      = render :partial => "mobile_quick_contact", :locals => {:expanded => false}






