
- expanded = local_assigns[:expanded]

- if current_group.has_slideshow
  -#.section-head-welcome{:style=>"border-bottom:10px solid white;border-top:4px solid #{current_group.secondary}"}
    -#.secondary-navigation-sections{:style=>"background-color:gainsboro"}
      -#.features{:style=>"font-family:Arial,sans-serif; font-weight:normal; font-size:12px;padding-left:10px;color:#{current_group.primary_dark}; letter-spacing:-1px;"}
        -#= "Todays " << current_group.slideshow_content.capitalize  

  .slideshow
        
    .section-listing-welcome{:class => "features", :style => "background-color:#ffffff; width:728px;height:220px; overflow:hidden"}
      - slideshow_delay = 0
      -@doctypes.each do |doctype|
        -if doctype.name == current_group.slideshow_content
          -slideshow_delay = slideshow_delay + 100
          -#  = slideshow_delay.to_s
          %div{:style=>"width:728px; height:200px;float:left;border-right:1px solid white", :class=>"feature-box"}
            -#= "#{slideshow_delay}"
            %h4{:style=>"height:32px;line-height:32px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color:white; background-color:#{current_group.primary_dark}; border-top:4px solid #{current_group.primary_dark};margin:0; font-size:15px; letter-spacing:-1px;font-weight:bold;border-bottom:1px solid white"}
              %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
                = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
              = "#{doctype.name}"
              = link_to "more", "/group/#{doctype.name}/index", :style=>"float:right;margin-right:10px;color:#{current_group.secondary};"

            .feature-slideshow{:style => "height:200px;overflow:hidden;"}
              - slideshow_items_array = Array.new
              - doctype.items.reverse.each do |item|
                - slideshow_items_array << item 

              .slideshow{:class=>"#{doctype.name}", :style=>"display:none"}    
                - slideshow_items_array[0..5].each do |item|

                  = render :partial => "/items/slide", :locals => {:item => item, :sort=>"hot"}

              -slideshow_items_array = ""


          %script{:type => "text/javascript"}
            = "function slideshow(){"
            = "$(document).ready(function(){$('.slideshow.#{doctype.name}').fadeIn('fast').cycle({fx: 'fade'});});"
            = "}"
            = "setTimeout('slideshow()',#{slideshow_delay});"


