
- expanded = local_assigns[:expanded]

- if current_group.has_slideshow
  .section-head-welcome{:style=>"border-bottom:10px solid white;border-top:4px solid white"}
    .secondary-navigation-sections{:style=>"background-color:gainsboro"}
      .features{:style=>"font-family:Arial,sans-serif; font-weight:normal; font-size:12px;padding-left:10px;color:#{current_group.primary_dark}; letter-spacing:-1px;"}
        = "Todays slides...."  
        .navcontrols{:style => "width:96px; height:24px; float:right"}
          %a.show_features{:class => "features navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
            = "show slides"
          %a.hide_features{:class => "features navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
            = "hide slides"

   
        
    .section-listing-welcome{:class => "features", :style => "background-color:#ffffff; width:728px;height:200px; overflow:hidden"}
      - slideshow_delay = 0
      -current_group.doctypes.each do |doctype|
        -if doctype.name == current_group.slideshow_content
          -slideshow_delay = slideshow_delay + 15000
          -#  = slideshow_delay.to_s
          %div{:style=>"width:728px; height:200px;float:left;border-right:1px solid white", :class=>"feature-box"}
            -#= "#{slideshow_delay}"
            %h4{:style=>"height:24px;line-height:24px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color: #{current_group.secondary}; background-color:black; border-bottom:4px solid black;margin:0; font-size:15px; letter-spacing:-1px;font-weight:bold;border-bottom:1px solid white"}
              %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
                = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
              = "#{doctype.name}"
            .feature-slideshow{:style => "height:200px;overflow:hidden;"}
              - items_array = Array.new
              - doctype.items.reverse.each do |item|
                - items_array << item 

              .slideshow{:class=>"#{doctype.name}", :style=>"display:none"}    
                - items_array[0..5].each do |item|

                  = render :partial => "/items/slide", :locals => {:item => item, :sort=>"hot"}

          %script{:type => "text/javascript"}
            = "function slideshow(){"
            = "$(document).ready(function(){$('.slideshow.#{doctype.name}').fadeIn('fast').cycle({fx: 'fade'});});"
            = "}"
            = "setTimeout('slideshow()',#{slideshow_delay});"


      %script{:type => "text/javascript"}
        = "// collapse:"
        = "$('.hide_features.features').click(function() {"
        = "$('.hide_features.features').css('display','none');"
        = "$('.show_features.features').css('display','block');"
        = "$('.features.section-listing-welcome').hide('fast');"
        -#= "$.cookie('summary.index.summary', 'collapsed', { expires: 2 });"
        = "});"
        = "// expand:"
        = "$('.show_features.features').click(function() {"
        = "$('.show_features.features').css('display','none');"
        = "$('.hide_features.features').css('display','block');"
        = "$('.features.section-listing-welcome').show('slow');"
        -#= "$.cookie('summary.index.summary', 'expanded', { expires: 2 });"
        = "});"
        = "// ok so far"
        -#= "// COOKIES"
        -#= "var summary = $.cookie('summary.index.summary');"
        -#= "	// Set the user's selection for the left column"
        -#= "if (summary == 'collapsed') {"
        -#= "$('.hide_summary.summary').css('display','none');"
        -#= "$('.show_summary.summary').css('display','block');"
        -#= "$('.summary.section-listing-welcome').hide();"
        -#= "};"
        -#= "if (summary == 'expanded') {"
        -#= "$('.hide_summary.summary').css('display','block');"
        -#= "$('.show_summary.summary').css('display','none');"
        -#= "$('summary.summary.section-listing-welcome').show();"
        -#= "};"
        - if expanded == false
          -#= "if (summary == null) {"
          = "$('.show_features.features').css('display','block');"
          = "$('.hide_features.features').css('display','none');"
          = "$('.features.section-listing-welcome').hide();"
          -#= "};"
        - else
          -#= "if (summary == null) {"
          = "$('.hide_features.features').css('display','block');"
          = "$('.show_features.features').css('display','none');"
          = "$('.features.section-listing-welcome').show();"
          -#= "};"
        -#= "};"
