- expanded = local_assigns[:expanded]


.section-head-welcome{:style=>"border-bottom:10px solid white;border-top:4px solid #{current_group.secondary}"}
  .secondary-navigation-sections{:style=>"background-color:gainsboro;"}
    .summary{:style=>"font-family:Arial,sans-serif; font-weight:normal; font-size:12px;padding-left:10px;color:#{current_group.primary_dark}; letter-spacing:-1px;"}
      = "On the site...."  
      .navcontrols{:style => "width:96px; height:24px; float:right; display:none"}
        %a.show_summary{:class => "summary navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
          = "show products"
        %a.hide_summary{:class => "summary navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
          = "hide products"


  .section-listing-welcome{:class => "summary"}

    #welcome-content
      -#= "hello"
      -current_group.doctypes.each do |doctype|
        -if !doctype.hidden?

          .div.left{:style=>"width:362px;background-color:#ffffff;border-right:1px solid white;border-bottom:1px solid gainsboro;padding-bottom:8px;margin-botton:8px display:block"}
            - section_link = doctype.name.capitalize
            .div.inner{:style=>"margin:0"}
              %h4{:style=>"height:24px;line-height:24px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color: white; background-color:#{current_group.tertiary}; border-bottom:4px solid #{current_group.primary};margin:0; font-size:15px; letter-spacing:-1px;font-weight:bold;border-bottom:1px solid white"}
                %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
                  = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
                = link_to section_link, items_path(doctype), :style => "color: #{current_group.primary};", :object => doctype, :style => "color:white"

              .content

                %ul.features
                  -if doctype.items.empty?
                    %li.highlight
                      = t(".empty")
                  -else

                    - items_array = Array.new
                    - doctype.items.reverse.each do |item|
                      - items_array << item
                    - items_array[0..0].each do |item|
                      .summary-list-text
                        = render :partial => "/items/two_column_leader", :locals => {:item => item, :sort=>"hot"}


                    .content
                      .more
                        %h4{:style => "color: #{current_group.primary};font-weight:bold; border-bottom:4px solid #{current_group.primary};height:32px; line-height:40px; margin-bottom:1px"}
                          = "More " + section_link.downcase
                        .summary-list-text
                        - items_array[1..4].each do |item|
                          = render :partial => "/items/summary_list_text", :locals => {:item => item, :sort=>"hot"}



      %script{:type => "text/javascript"}
        = "// collapse:"
        = "$('.hide_summary.summary').click(function() {"
        = "$('.hide_summary.summary').css('display','none');"
        = "$('.show_summary.summary').css('display','block');"
        = "$('.summary.section-listing-welcome').hide('slow');"
        -#= "$.cookie('summary.index.summary', 'collapsed', { expires: 2 });"
        = "});"
        = "// expand:"
        = "$('.show_summary.summary').click(function() {"
        = "$('.show_summary.summary').css('display','none');"
        = "$('.hide_summary.summary').css('display','block');"
        = "$('.summary.section-listing-welcome').show('slow');"
        -#= "$.cookie('summary.index.summary', 'expanded', { expires: 2 });"
        = "});"
        = "// ok so far"
        -#= "// COOKIES"
        -#= "var summary = $.cookie('summary.index.summary');"
        -#= "	// Set the user's selection for the left column"
        -#= "if (summary == 'collapsed') {"
        -#= "$('.hide_summary.summary').css('display','none');"
        -#= "$('.show_summary.summary').css('display','block');"
        -#= "$('.summary.section-listing-welcome').hide();"
        -#= "};"
        -#= "if (summary == 'expanded') {"
        -#= "$('.hide_summary.summary').css('display','block');"
        -#= "$('.show_summary.summary').css('display','none');"
        -#= "$('summary.summary.section-listing-welcome').show();"
        -#= "};"
        - if expanded == false
          -#= "if (summary == null) {"
          = "$('.show_summary.summary').css('display','block');"
          = "$('.hide_summary.summary').css('display','none');"
          = "$('.summary.section-listing-welcome').hide();"
          -#= "};"
        - else
          -#= "if (summary == null) {"
          = "$('.hide_summary.summary').css('display','block');"
          = "$('.show_summary.summary').css('display','none');"
          = "$('.summary.section-listing-welcome').show();"
          -#= "};"
        -#= "};"

      .clear
    .clear






