.two_column_categories



  .section-listing-welcome{:class => "summary"}



    - categories = current_group.group_categories #.split(',')

    - categories.each do |category|


      .div.left{:style=>"height:260px;width:362px;background-color:#ffffff;border-right:1px solid white;border-bottom:1px solid gainsboro;padding-bottom:8px;margin-botton:8px display:block"}
        - category_link = category.capitalize
        .div.inner{:style=>"margin:0"}
          %h4{:style=>"height:32px;line-height:32px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color: white; background-color:#{current_group.primary_dark}; border-bottom:4px solid #{current_group.primary};margin:0; font-size:15px; letter-spacing:-1px;font-weight:bold;border-bottom:1px solid white"}
            %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
              = "<img src='/images/logos/star_16.png' height='14px' width='14px'/>"
            = link_to category_link, search_path(:q => category), :style => "color: #{current_group.primary};", :style => "color:white"

          .content


            - options = {:per_page => 9, :page => params[:page] || 1}
            - pharse = category.downcase
            -# pharse_tags = "[" << category.downcase << "]"
            - @search_tags = pharse.scan(/\[(\w+)\]/).flatten
            - @search_text = pharse.gsub(/\[(\w+)\]/, "")
            - options[:tags] = {:$all => @search_tags} unless @search_tags.empty?
            - options[:group_id] = current_group.id
            - options[:order] = params[:last_target_date] #params[:sort_by] if params[:sort_by]
            - options[:banned] = false


            - items = Item.filter(category, options)

            - if items.count > 5

              - items.reverse[0..0].each do |item|

                .summary-list-text
                  = render :partial => "/items/two_column_leader", :locals => {:item => item} #, :sort=>"hot"}



              .more{:style=>"height:230px"}
                .summary-list-text
                  - items.reverse[1..5].each do |item|
                    - if item
                      .summary-text-item{:style=>"height:18px; line-height:18px"}

                        .inner-link{:style=>"width:300px;height:18px;overflow:hidden"}
                          %div{:style=>"padding:2px 0 3px 4px; height:18px; width:18px; float:left;"}
                            - if item.doctype.custom_icon?
                              = "<img src='#{item.doctype.custom_icon.to_s}' height='14px' width='14px'/>"     
                            
                            - else

                              = "<img src='/images/logos/star_32_point_inv.png' height='14px' width='14px'/>"


                          = link_to item.title, item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 96)
                          = link_to item.doctype.name, "/group/#{item.doctype.name}/index", :title => truncate(strip_tags(item.body), :length => 24),:style => "color:#{current_group.secondary}"

            .clear






