-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }

-content_for :custom_javascript do
  = javascript_include_merged :welcome








/Layout

-is_guest = params[:guest]


-if !logged_in? && !is_guest && current_group.has_landing?
  -content_for :main do
    #landing{:style=>"width:1032px"}
      = render :partial => "landing"



-else
  -content_for :main do

    -if current_group.has_leaderboard
      = render :partial => "shared/leaderboard"


    -if current_group.above_the_fold

      = render :partial => "above_the_fold", :locals => {:expanded => true}

    .clear

    -if current_group.has_custom_leaderboard? 

      = render :partial => "custom_leaderboard", :locals => {:expanded => true}

    -if current_group.below_the_fold

      = render :partial => "below_the_fold", :locals => {:expanded => true}



-content_for :list do
 
  #summary-header-welcome{:class => @active_tab}
    %ul
      - doctypes_array = Array.new

      - @doctypes.each do |doctype|
        - doctypes_array << doctype

      - if doctypes_array.count > 3
        - doctypes_array[3..7].each do |doctype|
          - if !doctype.hidden
            %li{:class => doctype.name }
              = render :partial => "items/summary_header_welcome", :locals => {:doctype => doctype, :section => doctype, :tab=>"activity", :expanded => doctype.expanded}


