-content_for :trends do
  = "trends"

-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }

-content_for :stuff do
  %h3
    = "Bookmarks"


-content_for :subtabs do
  .navtitle
    = t(".title")
    %button.right
      = "&#9733;"

    = t(".recent_items", :default => "Recent Items")
    -if @items
      == (#{@items.total_entries})

  %ul{:style => "display: inline"}
    %li.activity
      = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow"
    %li.hot
      = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow"

%div
  -if logged_in?
    #quick_item
      =render :partial => "quick_item_box"
    %ul.items#related_items
      %li
%ul.items#items
  -if @items.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"items.index.empty")
  -@items.each do |item|
    = render :partial => "items/item", :object => item

#additional_info
  #help_us
    = t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
    %br
    = t("items.index.help_to_answer")
    = link_to t("items.index.unanswered_items"), unanswered_items_path


  .clear
  .subtabs
    %ul{:style => "float:right;display: inline"}
      %li.activity
        = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow"
      %li.hot
        = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow"
    %span.right 
      = "Show me:"


-content_for :main do
  #inner{:style=>'width:468px;'}
    .secondary-navigation{:class => @active_subtab.to_s}
      = yield :subtabs
      .clear
    .content
      %p.markdown
        = show_flash_messages(:class => "flash", :markdown => true)
        = render :partial => "shared/ads/content_ads"
        .inner
          = yield
          .clear


  
    %ul.items#items
      -if @items.empty?
        .box.highlight
          %li
            = t(".empty", :default => :"items.index.empty")
      -@items.each do |item|
        = render :partial => "items/item", :object => item    
    

  #additional_info
    #help_us
      = t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
      %br
      = t("items.index.help_to_answer")
      = link_to t("items.index.unanswered_items"), unanswered_items_path



-content_for :sidebar do
  #sidebar.left
    .block.notice
      = render :partial => "shared/layout/notice"
    -current_group.widgets.each do |widget|
      .widget.block{:id => widget.name}
        = render :partial => widget.partial_name, :locals => {:widget => widget}

    -if logged_in?
      = render :partial => "shared/preferred_tags"
    -if AppConfig.enable_i18n
      = render :partial => "shared/language_filter"
    -if !current_group.isolate && AppConfig.enable_groups
      .block{:style => "background: transparent"} 
        .content
          = link_to t(".create_own_site"), new_group_path, :id => "create_own_site"
