-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }


-content_for :section_head do
  -#Placeholder

-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s,:style => "background-color:#{current_group.secondary}"}
    .navlabel
      = t(".recent_items", :default => "Recent Items")
      -if @items
        -#== (#{@items.total_entries})
    .navcontrols
      %ul{:style => "display: inline"}
        %li.activity
          = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow", :class=>"button"
        %li.hot
          = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow", :class=>"button"


%ul.items#items
  -#if @items.empty?
    -#.box.highlight
      -#%li
        -#= t(".empty", :default => :"items.index.empty")
  -#@items.each do |item|
    -#= render :partial => "items/item", :object => item

#additional_info
  #help_us
    -#= t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
    %br
    -#= t("items.index.help_to_answer")
    -#= link_to t("items.index.unanswered_items"), unanswered_items_path()


  .clear
-content_for :subtags do
  .subtabs
    %ul{:style => "float:right;display: inline"}
      %li.activity
        = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow",:class=>"button"
      %li.hot
        = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow",:class=>"button"
    %span.right 
      = "Show me:"


-content_for :list do
 
  #summary-header-welcome{:class => @active_tab}
    %ul
      - doctypes_array = Array.new

      - @doctypes.each do |doctype|
        - doctypes_array << doctype

      - if doctypes_array.count > 3
        - doctypes_array[3..7].each do |doctype|
          %li{:class => doctype.name }
            = render :partial => "items/summary_header_welcome", :locals => {:doctype => doctype, :section => doctype, :tab=>"activity", :expanded => doctype.expanded}




/Layout
-content_for :main do

  


  #sidebar-inner{:style => "float:right; width:300px;"}

    .block
      = render :partial => "shared/sidebar_actions",  :locals => {:width => "wide"}
    .block{:style => "margin-bottom:4px"}
      %h3{:style=>"background:#{current_group.primary_dark}"}
        = "About this community"
      .content
        .markdown
          = markdown(current_group.description)


    -#-if width == "narrow"
      -#.block
        -#= render :partial => "shared/sidebar_actions",  :locals => {:width => "narrow"}


    -#- current_group.widgets.each do |widget|
      -#.widget.block{:id => widget.name}
        -#= render :partial => widget.partial_name, :locals => {:widget => widget, :width => "wide"}

    = render :partial => "shared/community_sponsor",  :locals => {:width => "wide"}
    -if current_group.has_medium_rectangle
      .label
        = "Advertisment"
      .medium-rectangle{:style=>"width:300px;height:250px; float:left; background-color:pink; border-bottom:1px solid white"}
        = current_group.medium_rectangle_content
      .clear
    = render :partial => "shared/sponsored_links",  :locals => {:width => "wide"}

    -if !current_group.isolate # this will be the group connect thing
      -#= render :partial => "featured_groups", :locals => {:width => "wide"}



  #welcome-index{:style => "float:left; width:729px;"}
    .content
      .inner
        = render :partial => "homepage_content", :locals => {:expanded => true}

    .clear


    .content
      .inner
        = yield :list
        .clear





