-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }

-content_for :stuff do
  %h3
    = "Bookmarks"


-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s,:style => "background-color:#{current_group.secondary}"}
    .navlabel
      = t(".recent_items", :default => "Recent Items")
      -if @items
        == (#{@items.total_entries})
    .navcontrols
      %ul{:style => "display: inline"}
        %li.activity
          = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow", :class=>"button"
        %li.hot
          = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow", :class=>"button"


%ul.items#items
  -if @items.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"items.index.empty")
  -@items.each do |item|
    = render :partial => "items/item", :object => item

#additional_info
  #help_us
    = t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
    %br
    = t("items.index.help_to_answer")
    = link_to t("items.index.unanswered_items"), unanswered_items_path


  .clear
-content_for :subtags do
  .subtabs
    %ul{:style => "float:right;display: inline"}
      %li.activity
        = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow",:class=>"button"
      %li.hot
        = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow",:class=>"button"
    %span.right 
      = "Show me:"


-content_for :list do
  #inner{:style=>'width:468px;'}
    .secondary-navigation{:class => @active_subtab.to_s}
      = yield :subtabs
      .clear
    .content
      %p.markdown
        = show_flash_messages(:class => "flash", :markdown => true)
        = render :partial => "shared/ads/content_ads"
        .inner
          = yield
          .clear


  
    %ul.items#items
      -if @items.empty?
        .box.highlight
          %li
            = t(".empty", :default => :"items.index.empty")
      -@items.each do |item|
        = render :partial => "items/item", :object => item    
    

  #additional_info
    #help_us
      = t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
      %br
      = t("items.index.help_to_answer")
      = link_to t("items.index.unanswered_items"), unanswered_items_path



-content_for :sidebar_left do
  #sidebar.left

    -current_group.widgets.each do |widget|
      .widget.block{:id => widget.name}
        = render :partial => widget.partial_name, :locals => {:widget => widget}

    -if logged_in?
      = render :partial => "shared/preferred_tags"
    -if AppConfig.enable_i18n
      = render :partial => "shared/language_filter"
    -if !current_group.isolate && AppConfig.enable_groups
      .block{:style => "background: transparent"} 
        .content
          = link_to t(".create_own_site"), new_group_path, :id => "create_own_site"


-content_for :sidebar_right do
  .block
    %h3
      = h("Something")
    .content
      = h("Something else")


/Layout
-content_for :main do
  #main.right
    #sidebar.left
      .sponsor{:style => "background-color:#{current_group.secondary}; background-image: url(/images/white_50_bg.png);"}
        = "sponsor"
      = yield :sidebar_left

    #sidebar.right
      .notice{:style => "background-color:#{current_group.secondary}"}
        = render :partial => "shared/layout/notice"
      = yield :sidebar_right
    .clear

  #main.left
    = yield :list
  .clear


