-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }



-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s,:style => "background-color:#{current_group.secondary}"}
    .navlabel
      = t(".recent_items", :default => "Recent Items")
      -if @items
        == (#{@items.total_entries})
    .navcontrols
      %ul{:style => "display: inline"}
        %li.activity
          = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow", :class=>"button"
        %li.hot
          = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow", :class=>"button"


%ul.items#items
  -if @items.empty?
    .box.highlight
      %li
        = t(".empty", :default => :"items.index.empty")
  -@items.each do |item|
    = render :partial => "items/item", :object => item

#additional_info
  #help_us
    = t(".browse_all_or_by_tags", :full_list_of_items => link_to(t('.full_list_of_items'), items_path), :browse_by_tags => link_to(t('.browse_by_tags'), tags_items_path))
    %br
    = t("items.index.help_to_answer")
    = link_to t("items.index.unanswered_items"), unanswered_items_path


  .clear
-content_for :subtags do
  .subtabs
    %ul{:style => "float:right;display: inline"}
      %li.activity
        = link_to t("items.index.active"), root_path(:tab=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow",:class=>"button"
      %li.hot
        = link_to t("items.index.hot"), root_path(:tab=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow",:class=>"button"
    %span.right 
      = "Show me:"


-content_for :list do

  #section-listing{:class => @active_tab}
    %ul
      -current_group.sections.each do |section|
        -if !section.hidden?
          %li{:class => section.name }
          = render :partial => "items/welcome_section_head", :locals => {:section => section, :sortable => "true", :list_mode => "standard"}






-content_for :sidebar do
  #sidebar
    .sidebar
      .inner
        -current_group.widgets.each do |widget|
          .widget.block{:id => widget.name}
            = render :partial => widget.partial_name, :locals => {:widget => widget}

        .block
          %h3
            = h("Something")
          .content
            = h("Something else")


/Layout
-content_for :main do
  #main
    .content
      .inner
        = yield :list
        .clear


