-content_for :form do

  =local_assigns[:mode]

  -if @item
    - form_for(:answer, :url => item_answer_path(@item, @answer), :html => {:method => :put, :class => "form"}) do |f|
      = h(@item.mode.to_s)
      =render :partial => "form", :locals => {:f => f, :markdown => true, }
      .group
        .group.navform
          .right
            = f.label :wiki, "Wiki", :class => "radio"
            = f.check_box :wiki, :class => "checkbox"
          = f.submit t("scaffold.update"), :class => "buttton"
          = t("global.or")
          = link_to t('scaffold.cancel'), item_path(@item), :class => "button cancel"

/Layout
-content_for :main do

  #main-index
    = yield :form
  .clear

