-content_for :main do
  -content_for :subtabs do
    .navtitle
      = t(".title")

  =local_assigns[:mode]


  -if !@question
    - form_for(:answer, :url => question_answer_path(@question, @answer), :html => {:method => :put, :class => "form"}) do |f|
      =render :partial => "form", :locals => {:f => f, :markdown => true}
      .group
        .group.navform
          .right
            = f.label :wiki, "Wiki", :class => "radio"
            = f.check_box :wiki, :class => "checkbox"
          = f.submit t("scaffold.update"), :class => "buttton"
          = t("global.or")
          = link_to t('scaffold.cancel'), question_path(@question), :class => "button cancel"

  -if @discussion
    - form_for(:answer, :url => discussion_answer_path(@discussion, @answer), :html => {:method => :put, :class => "form"}) do |f|
      =render :partial => "form", :locals => {:f => f, :markdown => true}
      .group
        .group.navform
          .right
            = f.label :wiki, "Wiki", :class => "radio"
            = f.check_box :wiki, :class => "checkbox"
          = f.submit t("scaffold.update"), :class => "buttton"
          = t("global.or")
          = link_to t('scaffold.cancel'), discussion_path(@discussion), :class => "button cancel"
