%h3
  = "Communities..."

  .science
    = link_to "Science", "science", :class => "community",:style => "width: 140px"
  .science
    = link_to "Education", "science", :class => "community"
  .science
    = link_to "Government", "science", :class => "sup-button"
  .science
    = link_to "Technology", "science", :class => "sup-button"
  .science
    = link_to "Business", "science", :class => "sup-button"
  .science
    = link_to "Nautre", "science", :class => "sup-button"
