%h3{:style=>"background-color:#{current_group.secondary};"}
  =h("#{current_group.leaders_label}")
.content
  %ul.members-list
    -widget.top_users(current_group).each do |user|
      -#if user.login != "admin"
      -if width == "wide"
        %li{:onclick => "document.location.href='#{user_path(user)}'", :style => "height:32px"}
          = render :partial => "users/user_mini", :locals => {:user => user, :width => "wide"}
      -if width == "narrow"
        %li{:onclick => "document.location.href='#{user_path(user)}'", :style => "height:32px"}
          = render :partial => "users/user_mini", :locals => {:user => user, :width => "narrow"}
  .more
    =link_to t("scaffold.more"), users_path
  .clear
.clear


