-link = @question.bookmark

.group
  = f.label :bookmark, "#{t(:bookmark, :scope => "activerecord.attributes.bookmark")}", :class => "label"
  = h(link)

-mytitle = GetMetadata.new(link)

.group
  = f.label :title, "#{t(:title, :scope => "activerecord.attributes.bookmark")}", :class => "label"
  = f.text_field :title, :class => "text_field", :value => mytitle.metatitle.to_s
  .description
    = "Title: "
    - if mytitle.metatitle.to_s == "Please type your bookmark title"
      = "[!] Cannot automatically determine"
    = h(mytitle.metatitle.to_s)

.group   
  = "<br/>descripton: " << h(mytitle.metadescription.to_s)

-getkeywords = URLGetRankedKeywords.new(link)
-getentities = URLGetRankedEntities.new(link)
-gettext = URLGetText.new(link)

.admin{:style => 'font-size:small;border:1px solid green'}
  .meta{:style => 'float:left;'}
    = "Meta Keywords"
    -string = mytitle.metakeywords.to_s
    = comma_to_list(string)
  .meta{:style => 'float:right;'}
    = "Alchemy Keywords" 
    = link_to "xml", "view-source:" << getkeywords.showlink, :target => "_blank"
    -string = getkeywords.extractedkeywords.to_s
    = comma_to_list(string)

  .meta{:style => 'float:right;'}
    = "Combined and deduped" 
    =# link_to "xml", "view-source:" << getkeywords.showlink, :target => "_blank"
    -#string = combining_strings(mytitle.metakeywords,getkeywords.extractedkeywords).to_s
    =# comma_to_list(string)

  .clear

.admin{:style => 'font-size:0.7em;border:1px solid red'}

  .meta{:style => 'float:right;'}
    = "Alchemy Entities" 
    = link_to "xml", "view-source:" << getentities.showlink, :target => "_blank"
    -#string = getentities.entities.to_s
    =# comma_to_list(string)

  .meta{:style => 'float:right;'}
    = "<b>Terminologies:</b>" 
    -string = getentities.terminologies.to_s
    = comma_to_list(string)

  .meta{:style => 'float:right;'}
    = "<b>Persons:</b>" 
    -string = getentities.persons.to_s
    = comma_to_list(string)

  .meta{:style => 'float:right;'}
    = "<b>Organisations:</b>" 
    -string = getentities.organisations.to_s
    = comma_to_list(string)

  .meta{:style => 'float:left;'}
    = "<b>Locations:</b>" 
    -string = getentities.locations.to_s
    = comma_to_list(string)
  .clear


%br
.clear
%hr
  %small
    =# gettext.extractedtext.to_s

%hr
%br
%input{:type => "submit"}



%hr 
  = h(@question)
