= "New Bookmark<br/>"

= f.error_messages
= error_messages_for(:user)

.group
  = f.label "Mode: ", :class => "label"
  = f.text_field :mode, :class => "text_field", :value => "Bookmark", :readonly => "readonly"


.group
  = f.label :bookmark, "#{t(:bookmark, :scope => "activerecord.attributes.question")}*", :class => "label"
  = f.text_field :bookmark, :class => "text_field", :value => "To be processed on submit"
  .description
    = t(".bookmark_tip")


#so it submits, then redirects to page 2 after processing
