= "Stage 1"

= f.error_messages
= error_messages_for(:user)

.group
  = f.label "Mode: ", :class => "label"
  = f.text_field :mode, :class => "text_field", :value => "Bookmark", :readonly => "readonly"


.group
  = f.label :bookmark, "#{t(:bookmark, :scope => "activerecord.attributes")}*", :class => "label"
  - if params['bookmark'] == ''
    = f.text_field :bookmark, :class => "text_field", :value => params['bookmark']
  - else
    = f.text_field :bookmark, :class => "text_field", :value => "http://browserthings.com/installing-shapado-on-debian-lenny/"


