
-content_for :subtabs do
  .navtitle
    = t(".title")


-content_for :main do
  #main-index
    = "What would you like to create?<br><br><br>"
    - current_group.doctypes.each do |doctype|
      - if !doctype.hidden
        = link_to "#{doctype.create_label}", new_item_path(doctype)
        = "<br/>"



