-solution = item.accepted && item.answer_id == answer.id
-source = item_path(@doctype, @item)

- @aflag = current_user.has_flagged?(answer) if logged_in?
- @aflag ||= Flag.new

.answer.commentable{:class => "post-#{answer.id} #{solution ? "solution" : ""}" }
  %a{:name=>answer.id}
  .toolbox-container
    .toolbox{:style => "display:none"}
      =vote_box_inline(answer, item_path(@item.doctype_id, @item), item.closed)
      .controls
        .actions
          = link_to t('activerecord.attributes.answer.link'), item_answer_path(@item.doctype_id, @item.id, answer.id), :class => "button"
          - if logged_in? && @aflag.new? && current_user != answer.user
            = link_to t(".flag"), new_item_answer_flag_path(@item.doctype, @item,answer), :class => "flag-link button", :rel => 'nofollow'

          -if logged_in?
            -if (current_user.mod_of?(@item.group) || current_user.can_modify?(@item))
              -unless @item.accepted
                = link_to t(".pick_answer"), solve_item_path(@doctype, @item, :answer_id => answer), :class=>"button"
              -if solution
                = link_to t(".unset_answer"),  unsolve_item_path(@item.doctype_id, @item), :class=>"button"
            -if answer.wiki || current_user.can_edit_others_posts_on?(answer.group) || current_user.can_modify?(answer)
              = link_to t("scaffold.edit"), edit_item_answer_path(@item.doctype_id, @item, answer), :class=>"button"
            -if current_user.can_modify?(answer)
              = link_to t("scaffold.destroy"), item_answer_path(@item.doctype_id, @item, answer), :confirm => t("scaffold.sure", :model => "answer"), :method => :delete, :class =>"button"
            -if !@aflag.new?
              .flagged
                = "#{t('items.show.flagged_as')} #{t(@aflag.reason, :scope=>'flags.form')}"
                =link_to t("scaffold.edit"), edit_item_answer_flag_path(@item.doctype_id, @item,answer,@aflag), :class => "flag-link button", :id => "edit_answer_flag_link", :rel => 'nofollow'
                =link_to t("scaffold.destroy"), item_answer_flag_path(@item.doctype_id, @item,answer,@aflag), :id => "destroy_answer_flag_link", :rel => 'nofollow', :confirm => "are you sure?", :method => :delete

          -if answer.versions.count > 0
            = link_to t(".history", :default => "history"), history_item_answer_path(@item.doctype_id, @item, answer), :class=>"button"
          -if logged_in?
            -if(current_user.can_modify?(@item) || current_user.mod_of?(@item.group))
              = link_to t("scaffold.destroy"), item_answer_path(@item.doctype_id, @item.id, answer.id), :confirm => "are you sure?", :method => :delete, :class=>"button"
            -if current_user.mod_of?(@item.group)
              = link_to "ban", ban_path(:answer_ids => [answer.id]), :confirm => "are you sure?", :class=>"button"
        .clear
        .forms
      .clear

  .body-col
    .markdown.entry-content
      =find_and_preserve(shapado_auto_link(markdown(answer.body), :link_users => true))

      .owner-data
        .updated{:title => answer.updated_at}

        .author
          -unless answer.anonymous
            = render :partial => "users/user_mini", :locals => {:user => answer.user, :width => "narrow"}
          -else
            %b=t("global.anonymous")
          %small.time_ago
            = t('activerecord.attributes.answer.created_at')
            = t("time.ago", :time => time_ago_in_words(answer.created_at))

    -if logged_in? && (current_user.mod_of?(current_group) || current_user.can_view_offensive_counts_on?(current_group)) && answer.flags.count > 0
      %h3
        = t(:flags, :scope => "activerecord.models")
      = render :partial => "flags/list", :locals => {:flaggeable => answer}
    -if !answer.updated_by.nil?
      .owner-data{:style=>"width:128px;float:right;"}


        .author
          = render :partial => "users/user_mini", :locals => {:user => answer.updated_by, :width => "narrow"}
          -unless answer.updated_by.hide_country
            .adr
              %small.country-name
                = t("global.from", :site => answer.updated_by.country_name)
                = country_flag(answer.updated_by.country_code, answer.updated_by.country_name)

          %small.time_ago
            = t('activerecord.attributes.answer.updated_at', :default => "updated")
            = t("time.ago", :time => time_ago_in_words(answer.updated_at))

    .clear
    / Nested Answers
    -if logged_in?
      .actionbox-container{:style => "height:26px; width:100%; background-color:gainsboro"}
        .actionbox{:style => ""}
          = link_to h("Reply to this comment"), new_item_comment_path(@item.doctype_id, @item, @answer), :class => "addNestedAnswer add_answer_comment_link action-button"


  .clear
  .forms.comment-form{:style => "background-color:#eee; width:70%"}
    -form_tag item_answer_comments_path(@doctype, @item, answer), :class => "form commentForm nestedAnswerForm" do
      -@comment = Comment.new
      = render :partial => "comments/form", :locals => {:source => source, :commentable => answer}
      .group.navform
        = t("global.or")
        = link_to t('scaffold.cancel'), '', :class => 'cancel_comment'
        = submit_tag t("comments.shared.comment_submit"), :class => "create-button", :style => "width:128px; height:24px; float:right;"

    .children.comments{:style => "border-top: 4px solid gainsboro; background-color:#eee; width:70%"}
      -answer.comments.each do |comment|
        .inline-comment{:style => "border-bottom: 1px dotted gainsboro"}
          = render :partial => "comments/comment", :object => comment, :locals => {:source => source, :mini => true}

    .clear


.clear
