.block
  -#.heading{:style=>"background:#{current_group.primary}; color: white; height:20px; line-height:20px"}
    -#= "Posted by"
  .content
    = render :partial => "users/user_mini", :locals => {:user => @item.user, :width => "square"}
  .content{:style=>"padding-bottom:10px;margin-bottom:10px; border-bottom:1px solid gainsboro"}
    = h(truncate(strip_tags(@item.user.bio), :length => 512) )
    -#= @item.user.bio

  - if @item.user.website_url?
    .user-links
      = "My website:"
      = link_to "#{@item.user.website}","#{@item.user.website_url}" 
  
  - if @item.user.twitter?
    .user-links
      %span{:style=>"float:left"}
        = "Follow me on:"
      = link_to "#{@item.user.twitter_url}", "Twitter" 

      -#= "<a href=\"https://twitter.com/#{@item.user.twitter_url}\" class=\"twitter-follow-button\">Follow #{@item.user.twitter_url}</a>"
      -#= "<script src=\"http://platform.twitter.com/widgets.js\" type=\"text/javascript\"></script>"


  - if @item.user.linkedin?
    .user-links
      -#%span{:style=>"float:left"}
        -#= image_tag "/images/logos/linkedin.png", :height=>"16px"

      = "<script src=\"http://platform.linkedin.com/in.js\" type=\"text/javascript\"></script>"
      = "<script type=\"IN/MemberProfile\" data-id=\"#{@item.user.linkedin_url}\" data-format=\"click\" data-text=\"View my proile\"></script>"

