- item = local_assigns[:item]

-if @default_thumbnail

  - image = @default_thumbnail
  - base_image = image.image.process(:thumb,image.image_cropping)
  - expanded_image = base_image.process(:thumb,"800x")
  - base_thumbnail = base_image.process(:thumb,"300x")

  .block
    %h4
      = "Image"
      .expand
        = link_to  "Expand image", expanded_image.url, :title => "#{image.caption}"


    .default_thumbnail
      .expand
        = link_to image_tag(base_thumbnail.url,:class => 'expand',:alt => "#{image.caption.to_s}",:title => "#{image.caption.to_s}"),expanded_image.url,:title => "#{image.caption.to_s}"


  .clear


