= local_assigns[f]
= f.error_messages
= error_messages_for(:user)




.answer-form-holder

  = f.hidden_field :doctype_id, :value => @doctype.id
  = f.hidden_field :title, :value => @item.title

  -if @item.distributors.empty?
    = "No distributors set"

  %ul{:style=>"width:50%; float:left"}
    %h4 
      = "Distributors available"

      

    - groups_available = Array.new
      
    -current_user.groups(:select => [:name, :domain, :id]).each do |group|
      - groups_available << group

    - groups_available.each do |groupie|
      = groupie.name.to_s



  .answer-form
    .group

      = "Yes we can distribute"



  .answer-actions{:style => "line-height:32px; height: 32px; width: 512px; margin: 0 auto 16px auto; position:relative;"}
    = submit_tag "Distribute", :class => "submit-button", :style => "width:256px; height:28px; float:right;"
    = link_to t('scaffold.cancel'), items_path, :class => "button cancel", :style => "float:right;"

.clear









