.author{:style => "height: 14px;font-size:14px;"}
  .user_data
    %span.asked_by{:style=>"float:left"}
      = "#{current_group.publish_label_past.capitalize} by"
    = render :partial => "users/show_mini", :locals => {:user => @item.user}
    = t("time.ago", :time => time_ago_in_words(@item.updated_at))
.clear

- if @item.updated_by.present?

  .author{:style => "height: 14px;"}
    .user_data
      %span.asked_by{:style=>"float:left;"}
        = "Edited by "
      = render :partial => "users/show_mini", :locals => {:user => @item.updated_by}
      = t("time.ago", :time => time_ago_in_words(@item.updated_at))
  .clear
