= local_assigns[f]
= f.error_messages
= error_messages_for(:user)

-#= javascript_include_merged :show


.answer-form-holder

  = f.hidden_field :doctype_id, :value => params[:doctype_id]
  = f.hidden_field :anonymous, :value => params[:anonymous]
  = f.hidden_field :anonymous_display_name, :value => params[:anonymous_display_name]
  = f.hidden_field :anonymous_email, :value => params[:anonymous_email]

  -# else




  .answer-form{:style=>"padding:0 32px 16px 32px;border-radius:4px"}

    = f.label :title, "#{t(:title, :scope => "activerecord.attributes.item")}", :class => "label"
    .group{:style=>"width:584px;padding:8px; background:#bcbcbc;border-radius:4px;"}
      = f.text_field :title, :class => "text_field", :style => "width:556px; max-width:556px; margin:0 ;"
    .note
      = "If your title is longer than this text box, then chances are your title is too long..!"
    .clear



    .group

      - if @doctype.has_video?
        = f.label :video_link, "#{t(:video_link, :scope => "activerecord.attributes")}", :class => "label", :style => "margin-left: 8px"
        = f.text_field :video_link, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

        = f.label :video_thumbnail, "#{t(:video_link, :scope => "activerecord.attributes")}", :class => "label", :style => "margin-left: 8px"
        = f.text_field :video_thumbnail, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

    = f.label :body, t(:body, :scope => "activerecord.attributes.item"), :class => "label", :style=>"margin:16px 0 0 0"

    .group{:style=>"width:584px;padding:8px; background:#bcbcbc;border-radius:4px 4px 0 0;"}

      = f.text_area :body, :class => "text_area", :id => "markdown_editor", :style => "height:auto;min-height:128px; width:560px; max-width:560px;"

    .clear
  
    - if false

      .group
        %hr

          = f.label :article_link, "This is the source link", :class => "label", :style => "margin-left: 8px"
          = f.text_field :article_link, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

          = f.label :article_link_author, "Author", :class => "label", :style => "margin-left: 8px"
          = f.text_field :article_link_author, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

          = f.label :article_link_publisher, "Publisher", :class => "label", :style => "margin-left: 8px"
          = f.text_field :article_link_publisher, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"


      -#.openedit{:style => "float:right; margin-right: 16px; display:none"}
        -#= f.label :wiki, "Anybody can edit? ", :class => "radio"
        -#= check_box :wiki, :class => "checkbox right"

        .clear

      -#markdown_preview.markdown
        -#=markdown(@item.body)
        -#.clear
      -#.clear
    .clear



    -if current_group.language.nil? && AppConfig.enable_i18n
      .group
        = f.label :language, t(:language, :scope => "activerecord.attributes.item"), :class => "label"
        = language_select(f, @item)
        .description
          = t(".language_tip")
    -else
      = f.hidden_field :language, :value => (current_group.language || AppConfig.default_language)





    .answer-actions{:style => "padding:0 16px 16px 16px; width:568px;"}
      = submit_tag "Save changes", :class => "submit-button", :style => "width:256px; height:28px; float:right;"
      = link_to t('scaffold.cancel'), items_path, :class => "submit-button cancel", :style => "background:red"

.clear

-content_for :sidebar_inner do
  #sidebar-inner{:style=>"width:300px;float:right"}
    = "SB"
    - if false
      -if !current_group.item_help.empty?
        .help
          %h3
            = t(".how_to_ask")
          =current_group.item_help
    %h4
      = "Similar #{@doctype.name}"

    .related-item
      %ul.items#related_items







