= local_assigns[f]
= f.error_messages
= error_messages_for(:user)




.answer-form-holder

  = f.hidden_field :doctype_id, :value => @doctype.id
  = f.hidden_field :title, :value => @item.title




  .group


    = f.label :article_link, "This is the source link", :class => "label", :style => "margin-left: 8px"
    = f.text_field :article_link, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

    = f.label :article_link_author, "Author", :class => "label", :style => "margin-left: 8px"
    = f.text_field :article_link_author, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"

    = f.label :article_link_publisher, "Publisher", :class => "label", :style => "margin-left: 8px"
    = f.text_field :article_link_publisher, :class => "text_field", :style => "width:496px; max-width:496px; margin:0 16px"



  .answer-actions{:style => "line-height:32px; height: 32px; width: 512px; margin: 0 auto 16px auto; position:relative;"}
    = submit_tag "Distribute", :class => "submit-button", :style => "width:256px; height:28px; float:right;"
    = link_to t('scaffold.cancel'), items_path, :class => "button cancel", :style => "float:right;"

.clear









