.post-info
  .author.user_info.vcard
    .gravatar.logo
      -if !@item.anonymous
        = gravatar(@item.user.email.to_s, :size => 32)
    .user_data
      %span.asked_by
        = t('activerecord.attributes.item.asked_by')
      -if @item.anonymous
        =t("global.anonymous")
      -else
        =render :partial => "users/user_mini", :locals => {:user => @item.user}
      %span.time_ago.published{:title => @item.created_at, :class => "relativetime"}
        = t("time.ago", :time => time_ago_in_words(@item.created_at))
        - if @item.wiki
          .wiki_flag
            wiki
      %span.adr
        - if !@item.user.hide_country
          %span.country-name
            = t("global.from", :site => @item.user.country_name)
            = country_flag(@item.user.country_code, @item.user.country_name)
    .clear
  - if @item.updated_by.present?
    .user_info
      .gravatar.logo
        = gravatar(@item.updated_by.email.to_s, :size => 32)
      .user_data
        %span.asked_by
          = t('activerecord.attributes.item.updated_by')
        =render :partial => "users/user_mini", :locals => {:user => @item.updated_by}
        %span.time_ago.published{:title => @item.updated_at, :class => "relativetime"}
          = t("time.ago", :time => time_ago_in_words(@item.updated_at))
        %span.adr
          - if !@item.updated_by.hide_country
            %span.country-name
              = t("global.from", :site => @item.updated_by.country_name)
              = country_flag(@item.updated_by.country_code, @item.updated_by.country_name)
      .clear
.clear
