.section-head{:class => @active_subtab.to_s}
  .secondary-navigation-sections
    .navlabel
      - section_link = section.name.downcase
      = link_to (section.name.capitalize), "#{section.name}"

    .navcontrols
      %a.show_summary{:class => "#{section.name} section-button show"}
        = "show headlines"
      %a.hide_summary{:class => "#{section.name} section-button hide"}
        = "hide headlines"
    .navlinks
      -if section.mode
        - create_item = section.create_label
        - url = domain_url(:custom => current_group.domain) << "/add/new?section=" << section.name.downcase
        = link_to h(create_item), url,:class =>"link", :rel => 'nofollow', :node => section.name
        = "|"
      -else
        = "no mode"

  .section-listing{:class => section.name}

    .listings-left
      .title
        = h("mode.#{section.mode}")
      .content
        %ul.listing
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            -item_array = Array.new
            -@items.each do |item|
              -if item.section == section.name
                -item_array << item
            -item_array[0..0].each do |item|
              = render :partial => "items/section_list_item", :locals => {:item => item,:tab=>"hot", :list_mode => "latest"}

        -#sorted_array = tag_array.sort_by{|a|a}.reverse
        .clear
 

    .listings-centre
      .title
        = h("mode.#{section.name}")
      .content

        %ul.listing
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            -item_array = Array.new
            -@items.each do |item|
              -if item.section == section.name
                -item_array << item
            -item_array[0..5].each do |item|
              = render :partial => "items/section_list_item", :locals => {:item => item, :list_mode => "headline"}
        .clear

    .listings-right
      .title
        = h("mode.#{section.mode}")
      .content
        %ul.features
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            -features_array = Array.new
            -@items.each do |item|
              -if item.section == section.name
                -features_array << item
            -features_array[0..1].each do |item|
              = render :partial => "items/section_list_item", :locals => {:item => item,:sort=>"hot", :list_mode => "thumbnail"}

        %script{:type => "text/javascript"}
          = "// collapse:"
          = "$('.hide_summary.#{section.name}').click(function() {"
          = "$('.hide_summary.#{section.name}').css('display','none');"
          = "$('.show_summary.#{section.name}').css('display','block');"
          = "$('.#{section.name}.section-listing').hide('slow');"
          = "$.cookie('#{section.name}.welcome.summary', 'collapsed', { expires: 2 });"
          = "});"
          = "// expand:"
          = "$('.show_summary.#{section.name}').click(function() {"
          = "$('.show_summary.#{section.name}').css('display','none');"
          = "$('.hide_summary.#{section.name}').css('display','block');"
          = "$('.#{section.name}.section-listing').show('slow');"
          = "$.cookie('#{section.name}.welcome.summary', 'expanded', { expires: 2 });"
          = "});"
          = "// ok so far"
          = "// COOKIES"
          = "var #{section.name} = $.cookie('#{section.name}.welcome.summary');"
          = "	// Set the user's selection for the left column"
          = "if (#{section.name} == 'collapsed') {"
          = "$('.hide_summary.#{section.name}').css('display','none');"
          = "$('.show_summary.#{section.name}').css('display','block');"
          = "$('.#{section.name}.section-listing').hide();"
          = "};"
          = "if (#{section.name} == 'expanded') {"
          = "$('.hide_summary.#{section.name}').css('display','block');"
          = "$('.show_summary.#{section.name}').css('display','none');"
          = "$('#{section.name}.#{section.name}.section-listing').show();"
          = "};"
          = "if (#{section.name} == null) {"
          = "$('.hide_summary.#{section.name}').css('display','block');"
          = "$('.show_summary.#{section.name}').css('display','none');"
          = "$('.#{section.name}.section-listing').show();"
          = "};"

    .clear
  .clear



