-section = local_assigns[:source]
-expanded = local_assigns[:expanded]
= expanded


.section-head
  .secondary-navigation-sections
    .navlabel
      -#= link_to "#{section.upcase}", domain_url(:custom => current_group.domain) << "/" << section.node.downcase, :locals => section
      - section_link = section
      = h(section)



 
    .navcontrols
      %a.show_summary{:class => "#{section} navlinks showhide right"}
        = "show headlines"
      %a.hide_summary{:class => "#{section} navlinks showhide right"}
        = "hide headlines"


  .section-listing{:class => section}

    .listings-left
      .title
        = h("mode.#{section}")
      .content
        %ul.listing
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            -item_array = Array.new
            -@items.each do |item|
              -if item.section == section
                -item_array << item
            -item_array[0..0].each do |item|
              = render :partial => "items/section_list_item", :locals => {:item => item,:sort=>"hot", :list_mode => "latest"}

        -#sorted_array = tag_array.sort_by{|a|a}.reverse
        .clear
 

    .listings-centre
      .title
        = h("mode.#{section.type}")
      .content

        %ul.listing
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            - current_group.items.reverse.each do |item| 
              = render :partial => "items/section_list_item", :locals => {:item => item, :list_mode => "headline"}
        .clear

    .listings-right
      .title
        = h("mode.#{section}")
      .content
        %ul.features
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -else
            -features_array = Array.new
            -@items.each do |item|
              -if item.section == section
                -features_array << item
            -features_array[0..1].each do |item|
              = render :partial => "items/section_list_item", :locals => {:item => item,:sort=>"hot", :list_mode => "thumbnail"}

    %script{:type => "text/javascript"}
      = "// collapse:"
      = "$('.hide_summary.#{section}').click(function() {"
      = "$('.hide_summary.#{section}').css('display','none');"
      = "$('.show_summary.#{section}').css('display','block');"
      = "$('.#{section}.section-listing').hide('slow');"
      = "$.cookie('#{section}.index.summary', 'collapsed', { expires: 2 });"
      = "});"
      = "// expand:"
      = "$('.show_summary.#{section}').click(function() {"
      = "$('.show_summary.#{section}').css('display','none');"
      = "$('.hide_summary.#{section}').css('display','block');"
      = "$('.#{section}.section-listing').show('slow');"
      = "$.cookie('#{section}.index.summary', 'expanded', { expires: 2 });"
      = "});"
      = "// ok so far"
      = "// COOKIES"
      = "var #{section} = $.cookie('#{section}.index.summary');"
      = "	// Set the user's selection for the left column"
      = "if (#{section} == 'collapsed') {"
      = "$('.hide_summary.#{section}').css('display','none');"
      = "$('.show_summary.#{section}').css('display','block');"
      = "$('.#{section}.section-listing').hide();"
      = "};"
      = "if (#{section} == 'expanded') {"
      = "$('.hide_summary.#{section}').css('display','block');"
      = "$('.show_summary.#{section}').css('display','none');"
      = "$('#{section}.#{section}.section-listing').show();"
      = "};"
      - if expanded = "false"
        = "if (#{section} == null) {"
        = "$('.show_summary.#{section}').css('display','block');"
        = "$('.hide_summary.#{section}').css('display','none');"
        = "$('.#{section}.section-listing').hide();"
        = "};"
      - else
        = "if (#{section} == null) {"
        = "$('.hide_summary.#{section}').css('display','block');"
        = "$('.show_summary.#{section}').css('display','none');"
        = "$('.#{section}.section-listing').show();"
        = "};"


    .clear
.clear








