-active_section = local_assigns[:section]
-#-doctype = local_assigns[:doctype]
-expanded = local_assigns[:expanded]
-#= expanded

- @doctype = @doctypes.find_by_slug_or_id(doctype.id)
- items = @doctype.items

.section-head-welcome
  .secondary-navigation-sections
    .navlabel
      -#= link_to "#{section.name.upcase}", domain_url(:custom => current_group.domain) << "/" << section.node.downcase, :locals => section
      - section_link = section.name.downcase
      = h(section.name.capitalize)

    .navlinks.right
      = link_to "#{current_group.publish_label} #{doctype.name}",new_item_path(doctype),:locals => {:doctype => doctype}, :class => "publish-button" #, :style => "width:200px; padding: 8px"
 
    .navcontrols
      %a.show_summary{:class => "#{section.name} navlinks showhide right"}
        = "show headlines"
      %a.hide_summary{:class => "#{section.name} navlinks showhide right"}
        = "hide headlines"


  .section-listing-welcome{:class => section.name}

    .listings-centre{:style => "width:420px; float:left;"}
      .title
        = h("Headlines")
      .content

        %ul.listing
          -if doctype.items.empty?
            %li.highlight
              = t(".empty")
          -else
            - doctype.items.reverse.each do |item| 
              -#= item.title
              = render :partial => "items/section_list_item_welcome", :locals => {:section => section, :item => item, :list_mode => "headline"}


    .listings-right{:style => "width:280px; float:right;"}
      .title
        = h("Features")
      .content
        %ul.features
          -if doctype.items.empty?
            %li.highlight
              = t(".empty")
          -else
            - doctype.items.reverse.each do |item| 
              = render :partial => "items/section_list_item", :locals => {:item => item,:sort=>"hot", :list_mode => "thumbnail"}



        .clear

    %script{:type => "text/javascript"}
      = "// collapse:"
      = "$('.hide_summary.#{section.name}').click(function() {"
      = "$('.hide_summary.#{section.name}').css('display','none');"
      = "$('.show_summary.#{section.name}').css('display','block');"
      = "$('.#{section.name}.section-listing-welcome').hide('slow');"
      = "$.cookie('#{section.name}.index.summary', 'collapsed', { expires: 2 });"
      = "});"
      = "// expand:"
      = "$('.show_summary.#{section.name}').click(function() {"
      = "$('.show_summary.#{section.name}').css('display','none');"
      = "$('.hide_summary.#{section.name}').css('display','block');"
      = "$('.#{section.name}.section-listing-welcome').show('slow');"
      = "$.cookie('#{section.name}.index.summary', 'expanded', { expires: 2 });"
      = "});"
      = "// ok so far"
      = "// COOKIES"
      = "var #{section.name} = $.cookie('#{section.name}.index.summary');"
      = "	// Set the user's selection for the left column"
      = "if (#{section.name} == 'collapsed') {"
      = "$('.hide_summary.#{section.name}').css('display','none');"
      = "$('.show_summary.#{section.name}').css('display','block');"
      = "$('.#{section.name}.section-listing-welcome').hide();"
      = "};"
      = "if (#{section.name} == 'expanded') {"
      = "$('.hide_summary.#{section.name}').css('display','block');"
      = "$('.show_summary.#{section.name}').css('display','none');"
      = "$('#{section.name}.#{section.name}.section-listing-welcome').show();"
      = "};"
      - if expanded == "false"
        = "if (#{section.name} == null) {"
        = "$('.show_summary.#{section.name}').css('display','block');"
        = "$('.hide_summary.#{section.name}').css('display','none');"
        = "$('.#{section.name}.section-listing-welcome').hide();"
        = "};"
      - else
        = "if (#{section.name} == null) {"
        = "$('.hide_summary.#{section.name}').css('display','block');"
        = "$('.show_summary.#{section.name}').css('display','none');"
        = "$('.#{section.name}.section-listing-welcome').show();"
        = "};"


    .clear
.clear








