-title = h(item.title)
-last_target = item.last_target

%li.headline{:class => class_for_item(item)}
  -if item.activity_at > Time.zone.now.yesterday
    %span.new
      = "new"
  -if item.updated_at > Time.zone.now.yesterday
    %span.updated
      = "updated"

  -if item.activity_at > Time.zone.now.yesterday && last_target.present?
    %span
      = image_tag("/images/icons/hot.png", :width => 12, :height => 12)

  -#-if last_target.present?
  -#  %span.active
  -#    = image_tag("/images/icons/comments.png", :width => 12, :height => 12)


  = link_to title, "/#{item.section}/#{item.slug}", :locals => {:section => @active_section}, :title => truncate(strip_tags(item.title), :length => 200)
  %small
    = link_to t("time.ago", :time => time_ago_in_words(item.updated_at)), item_path(item)+"##{item.id}"




