-#-active_doctype = local_assigns[:doctype]
- doctype = local_assigns[:doctype]
- expanded = local_assigns[:expanded]
-#= expanded

-#- @doctype = @doctypes.find_by_slug_or_id(doctype.id)
-#- items = @doctype.items

.doctype-head-welcome
  .secondary-navigation-doctypes{:style=>"background-color:#{current_group.tertiary};"}
    .navlabel.left
      
      = link_to h(doctype), items_path(doctype)

    .navcontrols{:style => "width:96px"}
      %a.show_summary{:class => "#{doctype} navlinks showhide left"}
        = "show headlines"
      %a.hide_summary{:class => "#{doctype} navlinks showhide left"}
        = "hide headlines"




  .doctype-listing-welcome{:class => doctype}

    .listings-centre{:style => "width:420px; float:left;"}
      .title
        = h("Headlines")
      .content

        %ul.listing
          -if doctype.items.empty?
            %li.highlight
              = t(".empty")
          -else

            - items_array = Array.new
            - doctype.items.reverse.each do |item|
              - items_array << item
              - return if items_array.nil? || items_array.empty?
            - items_array[2..8].each do |item|
              = render :partial => "/items/summary_list_headline", :locals => {:item => item, :sort=>"hot"}
              - return if items_array.nil? || items_array.empty?

    .listings-right{:style => "width:280px; float:right;"}
      .title
        = h("Features")
      .content
        %ul.features
          -if doctype.items.empty?
            %li.highlight
              = t(".empty")
          -else

            - items_array = Array.new
            - doctype.items.reverse.each do |item|
              - items_array << item
            - items_array[0..1].each do |item|
              = render :partial => "/items/summary_list_thumbnail", :locals => {:item => item, :sort=>"hot"}

        .clear

    %script{:type => "text/javascript"}
      = "// collapse:"
      = "$('.hide_summary.#{doctype}').click(function() {"
      = "$('.hide_summary.#{doctype}').css('display','none');"
      = "$('.show_summary.#{doctype}').css('display','block');"
      = "$('.#{doctype}.doctype-listing-welcome').hide('slow');"
      -#= "$.cookie('#{doctype}.index.summary', 'collapsed', { expires: 2 });"
      = "});"
      = "// expand:"
      = "$('.show_summary.#{doctype}').click(function() {"
      = "$('.show_summary.#{doctype}').css('display','none');"
      = "$('.hide_summary.#{doctype}').css('display','block');"
      = "$('.#{doctype}.doctype-listing-welcome').show('slow');"
      -#= "$.cookie('#{doctype}.index.summary', 'expanded', { expires: 2 });"
      = "});"
      = "// ok so far"
      -#= "// COOKIES"
      -#= "var #{doctype} = $.cookie('#{doctype}.index.summary');"
      -#= "	// Set the user's selection for the left column"
      -#= "if (#{doctype} == 'collapsed') {"
      -#= "$('.hide_summary.#{doctype}').css('display','none');"
      -#= "$('.show_summary.#{doctype}').css('display','block');"
      -#= "$('.#{doctype}.doctype-listing-welcome').hide();"
      -#= "};"
      -#= "if (#{doctype} == 'expanded') {"
      -#= "$('.hide_summary.#{doctype}').css('display','block');"
      -#= "$('.show_summary.#{doctype}').css('display','none');"
      -#= "$('#{doctype}.#{doctype}.doctype-listing-welcome').show();"
      -#= "};"
      - if expanded == false
        -#= "if (#{doctype} == null) {"
        = "$('.show_summary.#{doctype}').css('display','block');"
        = "$('.hide_summary.#{doctype}').css('display','none');"
        = "$('.#{doctype}.doctype-listing-welcome').hide();"
        -#= "};"
      - else
        -#= "if (#{doctype} == null) {"
        = "$('.hide_summary.#{doctype}').css('display','block');"
        = "$('.show_summary.#{doctype}').css('display','none');"
        = "$('.#{doctype}.doctype-listing-welcome').show();"
        -#= "};"
      -#= "};"

    .clear
.clear








