
#vote-col
  - if current_user && @item.watch_for?(current_user)
    = link_to image_tag("/images/icons/bell.png", 'data-src' => "/images/icons/bell_mono.png", :width => 18, :height => 18), unwatch_item_path(@doctype, @item), :class => 'button', "data-undo" =>  watch_item_path(@doctype, @item), "data-title" => t(".watch_tooltip"), :title => t(".unwatch_tooltip"), :id => "watch-item"

  - else
    = link_to image_tag("/images/icons/bell_mono.png", 'data-src' => "/images/icons/bell.png", :width => 18, :height => 18), watch_item_path(@doctype, @item), :class => 'button', "data-undo" =>  unwatch_item_path(@doctype, @item), "data-title" => t(".unwatch_tooltip"), :title => t(".watch_tooltip"), :id => "watch-item"

  - if logged_in? && favorite = current_user.favorite(@item)
    = link_to image_tag("/images/icons/heart.png", 'data-src' => "/images/icons/heart_mono.png", :width => 18, :height => 18), unfavorite_item_path(@doctype, @item), :id => "unfavorite-link", :title => t(".unfavorite_tooltip"), :class => 'button watch', "data-undo" =>  favorite_item_path(@doctype, @item), "data-title" => t(".favorite_tooltip"), 'data-counter' => '.favorites_count'

  - else
    = link_to image_tag("/images/icons/heart_mono.png", 'data-src' => "/images/icons/heart.png", :width => 18, :height => 18), favorite_item_path(@doctype, @item), :id => "favorite-link", :title => t(".favorite_tooltip"), :class => 'button unwatch', "data-undo" =>  unfavorite_item_path(@doctype, @item), "data-title" => t(".unfavorite_tooltip"), 'data-counter' => '.favorites_count'

  -#%button.share
    
  = render :partial => "items/share"
  = vote_box(@item, item_path(@doctype, @item), @item.closed)



  - if logged_in?
    - if (@item.wiki && current_user.can_edit_wiki_post_on?(@item.group)) || current_user.can_edit_others_posts_on?(@item.group) || current_user.can_modify?(@item)
      = link_to "Edit text", edit_item_path(@doctype, @item), :class => "button right"
      = link_to "Edit images", item_images_path(@doctype, @item), :class => "button right" 
    - if current_user.can_edit_others_posts_on?(@item.group)
      = link_to "Bump", item_images_path(@doctype, @item), :class => "button right" 

  -# if current_user.can_modify?(@item.group)
    -#= link_to "Refer", "#", :class => "button right" 
  -# else

    
%script
  = "$(#toolbox).hover(function() {"
  = "$(this).animate({"
  = "backgroundColor: '#ffffff'"
  = "}, 'slow');"
  = "});"
