- is_mobile = params[:mobile]
- if !is_mobile || !current_group.group_type =="mobile"

  %h4
    = "Functions:"


    -#vote-col



    %div{:style=>"float:right"}
      - if current_user && @item.watch_for?(current_user)
        = link_to "unfollow", unwatch_item_path(@item.doctype, @item),:class => 'toolbar-button', "data-undo" =>  watch_item_path(@item.doctype, @item), "data-title" => t(".watch_tooltip"), :title => t(".unwatch_tooltip"), :id => "watch-item"

      - else
        = link_to "follow", watch_item_path(@item.doctype_id, @item),:class => 'toolbar-button', "data-undo" =>  unwatch_item_path(@item.doctype_id, @item), "data-title" => t(".unwatch_tooltip"), :title => t(".watch_tooltip"), :id => "watch-item"

      -# if logged_in? && favorite = current_user.favorite(@item)
        -#= link_to "unsave", unfavorite_item_path(@doctype, @item),:style =>"border: 2px solid #555;background-color:#555;", :id => "unfavorite-link", :title => t(".unfavorite_tooltip"), :class => 'toolbar-button watch', "data-undo" =>  favorite_item_path(@doctype, @item), "data-title" => t(".favorite_tooltip"), 'data-counter' => '.favorites_count'

      -# else
        -#= link_to "save", favorite_item_path(@doctype, @item),:style =>"border: 2px solid #555;background-color:#555;", :id => "favorite-link", :title => t(".favorite_tooltip"), :class => 'toolbar-button unwatch', "data-undo" =>  unfavorite_item_path(@doctype, @item), "data-title" => t(".unfavorite_tooltip"), 'data-counter' => '.favorites_count'

      -#%button.share
        
      -#= render :partial => "items/share"

      



    - if logged_in?
      %div{:style=>"float:right"}
        - if (@item.wiki && current_user.can_edit_wiki_post_on?(@item.group)) || current_user.can_edit_others_posts_on?(@item.group) || current_user.can_modify?(@item)
          - if current_user.can_modify?(@item)
            = link_to "Bump", bump_item_path(@item.doctype_id, @item), :style => "color:white; flota:right", :class => "toolbar-button orange"
      .submission-button{:style=>"float:right;line-height:14px"}    
        = link_to "Edit post", edit_item_path(@item.doctype_id, @item), :style => "height:20px;font-size:12px;font-weight:bold;letter-spacing:-1px;color:white;padding:2px 8px;float:right"

      - if @item.images.empty?
        .submission-button{:style=>"float:right;line-height:14px"}    
          = link_to "Add images", new_item_image_path(@item.doctype_id, @item), :style => "height:20px;font-size:12px;font-weight:bold;letter-spacing:-1px;color:white;padding:2px 8px;float:right"
      - elsif !@item.images.empty?
        .submission-button{:style=>"float:right;line-height:14px"}    
          = link_to "Edit images", item_images_path(@item.doctype_id, @item), :style => "height:20px;font-size:12px;font-weight:bold;letter-spacing:-1px;color:white;padding:2px 8px;float:right"


