-title = h(item.title)




-if item.closed
  -title += " [#{t("closed", :scope => "activerecord.attributes.item").upcase}]"

-if !local_assigns[:mini]
  -owner = nil
  -if item.last_target.present?
    -last_target = item.last_target
    -if last_target.respond_to?(:updated_by) && last_target.updated_by.present?
      -owner= last_target.updated_by
    -else
      -owner= last_target.user
  -else
    -last_target = item
    -owner = item.user unless item.anonymous




  %div.thumbnail{:class => class_for_item(item)}

    .inner-content{:style=>"width:360px;float:right"}

      .inner-link{:style=>"width:360px; font-size:14px;font-weight:bold;height:24px; line-height:24px;padding:4px 0 4px 0; letter-spacing:-1px;overflow:hidden;"}

        = render :partial => "shared/activity_markers", :locals => {:item => item}
        = link_to title, item_path(item.doctype, item), :title => truncate(strip_tags(item.body), :length => 96)



      -cache("item_on_index_#{item.id}_#{I18n.locale}") do
        -if item.default_thumbnail?
          .inner
            .thumbnail{:style => "width:140px;height:70px; overflow:hidden; float:left;" }
              - image = Image.find(item.default_thumbnail)
              - base_image = image.image.process(:thumb,image.image_cropping)
              - base_thumbnail = base_image.process(:thumb,"140x")
              = link_to image_tag(base_thumbnail.url, :class => 'none', :alt => image.name, :title => image.name,:style => "width:140px;min-height:70px" ), item_path(item.doctype, item)

            .inner-teaser{:style=>"height:80px;width:210px;float:right;padding-right:4px;overflow:hidden"}
              = link_to h(truncate(strip_tags(item.body), :length => 160) ), item_path(item.doctype, item), :style=>"color:black"



            .inner-topics{:style=>"height:16px;margin-bottom:4px;display:none"}
              -topics_array = Array.new
              -item.first_tags.each do |topic|
                -topics_array << topic
              -topics_array[0..1].each do |topic|
                %span.tag-list{:class => "tag_#{h(topic)}"}
                  = link_to "#{topic}", url_for(:controller => "search", :action => "index", :q => "#{topic}"), :rel => "tag", :title => t("items.tags.tooltip", :tag => topic), :style=>"background-color:#{current_group.primary_dark}"


        -else

          .inner
            .thumbnail-placeholder{:style => "background-color:#{current_group.secondary};width:140px;height:70px; float:left"  }
              = link_to image_tag("/images/spacer.gif", :style => "background-color:#{current_group.secondary};width:140px;height:70px"), item_path(item.doctype, item)


            .inner-teaser{:style=>"width:210px;height:80px;float:right;padding-right:4px;overflow:hidden"}

              = link_to h(truncate(strip_tags(item.body), :length => 160) ), item_path(item.doctype, item), :style=>"color:black"

          .inner






            .inner-topics{:style=>"height:16px;margin-bottom:4px;display:none"}
              -topics_array = Array.new
              -item.first_tags.each do |topic|
                -topics_array << topic
              -topics_array[0..1].each do |topic|
                %span.tag-list{:class => "tag_#{h(topic)}"}
                  = link_to h(topic), url_for(:controller => "items", :action => "index", :topics => topic), :rel => "tag", :title => t("items.tags.tooltip", :tag => topic)
      .clear
      .inner-author{:style=>"width:360px; height:16px;margin:0 0 4px 0;padding-bottom:4px; border-bottom:2px dotted gainsboro"}
        = "Posted by " 
        = link_to h(item.user.display_name), user_path(item.user)
        = "on"
        = t("time.ago", :time => time_ago_in_words(item.created_at))


    .clear

