%script{:type=>"text/javascript", :src=>"/javascripts/mediaplayer/jwplayer.js"}

#video-player

-if @item.video_link

  %script{:type=>"text/javascript"}
    = "jwplayer('video-player').setup({"
    = "skin: '/javascripts/mediaplayer/glow.zip',"
    = "stretching: 'fill',"
    = "flashplayer: '/javascripts/mediaplayer/player.swf',"
    = "flashvars: 'file=playlist.xml',"
    = "file: '"+@item.video_link+"',"
    = "height: 302,"
    = "width: 556"
    = "});"

-else
  = "No video detected"

