-title = h(item.title)
-last_target = item.last_target

%li.headline{:class => class_for_item(item)}

  = image_tag("/images/icons/#{item.mode.to_s}_icon_16.png", :width => 16, :height => 16)

  -if item.activity_at > Time.zone.now.yesterday
    %span.new
      = "new"
  -elsif item.activity_at > Time.zone.now.yesterday && !last_target.present
    %span.updated
      = "edited"

  -if item.activity_at > Time.zone.now.yesterday && last_target.present?
    %span.icon
      = image_tag("/images/icons/new_comments.png")

  -#-if last_target.present?
  -#  %span.active
  -#    = image_tag("/images/icons/comments.png", :width => 12, :height => 12)

  -#domain_url(:custom => current_group.domain)
  = link_to title, "/#{item.section}/#{item.slug}", :locals => {:section => @active_section}, :title => truncate(strip_tags(item.title), :length => 200)
  %small
    = link_to t("time.ago", :time => time_ago_in_words(item.updated_at)), item_path(item)+"##{item.id}"
  %strong
    = "in"
    = item.group.name.to_s




