-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :secondary_navigation do
  .secondary-navigation 
    -#%h3
      -#= h(@active_section.name.capitalize << " Listing")

    .navcontrols
      %ul
        %li.label
          = "Sort by:&nbsp;"
        %li.freshness
          = link_to t("items.index.fresh"), "?sort=fresh", :title => t("items.index.newest_tooltip"),:class=>"standard-button"
        %li.hot
          = link_to t("items.index.hot"), "?sort=hot", :title => t("items.index.hot_tooltip"),:class=>"standard-button", :rel => "nofollow"
        %li.activity
          = link_to t("items.index.activity"), "?sort=activity", :title => t("items.index.active_tooltip"),:class=>"standard-button", :rel => "nofollow"
        %li.relevance
          = link_to t("items.index.relevance"), "?sort=relevance", :title => t("items.index.active_tooltip"),:class=>"standard-button", :rel => "nofollow"
  .clear


/Items
-content_for :summary_header do
  #summary-header{:class => @active_tab}
    = render :partial => "summary_header", :locals => {:doctype => @doctype, :section => @doctype,  :list_mode => "standard", :expanded => true} #@doctype.expanded}

-content_for :main do
  #main-index
    = yield :secondary_navigation
    .content
      .inner
        %ul.items#items
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -@items.each do |item|
            - if item.doctype.name == @active_section #TODO: scope to doctype
              = render :partial => "item", :object => item, :section => @active_section

        #additional_info
          -#=will_paginate @items

          .clear

-content_for :sidebar do
  #sidebar
    .sidebar
      .inner
        = render :partial => "shared/current_tags"
        -#= render :partial => "shared/tag_list", :object => @tag_cloud, :section => @active_section
        -current_group.widgets.each do |widget|
          .widget.block{:id => widget.name}
            = render :partial => widget.partial_name, :locals => {:widget => widget, :width=> "narrow"}
        = render :partial => "shared/sidebar_actions"


-content_for :sidebar_inner do

  #sidebar-inner
    .sidebar
      .inner
        = render :partial => "shared/active"


        .block
          -#= render :partial => "item_topics", :object => @tag_cloud
        .block
          %h3
            = "Related items"
          .content
            = "Shows a list of related items from other sections"

        .block
          %h3
            = "Something"
          .content
            = "Something else"

