-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :subtabs do
  .navtitle
    = t(".title")

  %ul
    %li.newest
      = link_to t("items.index.newest"), items_path(:sort=>"newest"), :title => t("items.index.newest_tooltip")
    %li.hot
      = link_to t("items.index.hot"), items_path(:sort=>"hot"), :title => t("items.index.hot_tooltip"), :rel => "nofollow"
    %li.votes
      = link_to t("items.index.votes"), items_path(:sort=>"votes"), :title =>  t("items.index.votes_tooltip"), :rel => "nofollow"
    %li.activity
      = link_to t("items.index.active"), items_path(:sort=>"activity"), :title => t("items.index.active_tooltip"), :rel => "nofollow"




/Items
-content_for :main do
  #main-index
    .content
      .inner
        #section-listing{:class => @active_tab}
          %ul
            %li
              -#= render :partial => "items/section_head", :locals => {:section => @section, :sortable => "false", :list_mode => "standard"}
       
        .secondary-navigation{:class => @active_subtab.to_s}
          = yield :subtabs
          .clear
        %ul.items#items
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -@items.each do |item|
            -if item.section == @active_section
              = render :partial => "item", :object => item

        #additional_info
          =will_paginate @items

          .clear

-content_for :sidebar do
  #sidebar
    .sidebar
      .inner
        = render :partial => "shared/current_tags"
        .block
          %h3
            = t('.tags', :default => [:"layout.application.tags", :"activerecord.attributes.user.tags", "tags"])
          .content
            = render :partial => "shared/tag_list", :object => @tag_cloud


= render :partial => "searches/search_box"

-content_for :sidebar_inner do

  #sidebar-inner
    .sidebar
      .inner
        .block
          = render :partial => "item_topics", :object => @tag_cloud
        .block
          %h3
            = "Something"
          .content
            = "Something else"

