-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :subtabs do
  .secondary-navigation{:class => @active_subtab.to_s}
    .navlabel
      = h(@active_section.capitalize << " Listing")

    .navcontrols
      %ul
        %li.fresh
          = link_to t("items.index.fresh"), "?sort=newest", :title => t("items.index.newest_tooltip"),:class=>"standard_button"
        %li.hot
          = link_to t("items.index.hot"), "?sort=hot", :title => t("items.index.hot_tooltip"),:class=>"standard_button", :rel => "nofollow"
        %li.busy
          = link_to t("items.index.busy"), "?sort=activity", :title => t("items.index.active_tooltip"),:class=>"standard_button", :rel => "nofollow"



/Items
-content_for :section_head do
  #section-listing{:class => @active_tab}
    = render :partial => "items/section_head_summary", :locals => {:section => @active_section,  :list_mode => "standard"}
 


-content_for :main do
  #main-index
    .content
      .inner

        .secondary-navigation{:class => @active_subtab.to_s}
          = yield :subtabs
          .clear
        %ul.items#items
          -if @items.empty?
            %li.highlight
              = t(".empty")
          -@items.each do |item|
            -if item.section == @active_section
              = render :partial => "item", :object => item

        #additional_info
          =will_paginate @items

          .clear

-content_for :sidebar do
  #sidebar
    .sidebar
      .inner
        = render :partial => "shared/current_tags"
        = render :partial => "shared/tag_list", :object => @tag_cloud
        -current_group.widgets.each do |widget|
          .widget.block{:id => widget.name}
            = render :partial => widget.partial_name, :locals => {:widget => widget}



-content_for :sidebar_inner do

  #sidebar-inner
    .sidebar
      .inner
        .block
          -#= render :partial => "item_topics", :object => @tag_cloud
        .block
          %h3
            = "Related items"
          .content
            = "Shows a list of related items from other sections"

        .block
          %h3
            = "Something"
          .content
            = "Something else"

