-feed_url = url_for(:format => "atom", :tags => params[:tags])

-content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

-content_for :secondary_navigation do
  .secondary-navigation 
    -#%h3
      -#= h(@active_section.name.capitalize << " Listing")

    .navcontrols
      %ul
        %li.label
          = "Sort by:&nbsp;"
        %li.freshness
          = link_to t("items.index.fresh"), "?sort=fresh", :title => t("items.index.newest_tooltip"),:class=>"standard-button"
        %li.hot
          = link_to t("items.index.hot"), "?sort=hot", :title => t("items.index.hot_tooltip"),:class=>"standard-button", :rel => "nofollow"
        %li.activity
          = link_to t("items.index.activity"), "?sort=activity", :title => t("items.index.active_tooltip"),:class=>"standard-button", :rel => "nofollow"
        %li.relevance
          = link_to t("items.index.relevance"), "?sort=relevance", :title => t("items.index.active_tooltip"),:class=>"standard-button", :rel => "nofollow"
  .clear


/Items
-content_for :main do


  -if current_group.has_leaderboard 

    #lead{:style=>"margin-top:10px; height:90px"}
      .welcome-index{:style => "float:left; width:729px;"}
        .content
          .inner
            .leaderboard{:style=>"width:728px;height:90px; float:left;"}
              = "<!--/ Leaderboard /-->"
              = current_group.leaderboard_content
      .sidebar-inner{:style => "float:right; width:300px;"}
        .block
          %div{:style=>"width:300px;height:90px;background:black"}
            - if current_group.has_bumper
              = current_group.bumper_content
      .clear


  #above-the-fold{:style=>"height:24px;line-height:22px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color:white;background-color:#{current_group.secondary}; border-top:4px solid black;margin:10px 0 0 0; font-size:14px; letter-spacing:0px;font-weight:bold;border-bottom:1px solid white"}
    .above-the-fold{:style=>"width:1022px; height:24px;font-family:Arial,sans-serif; font-weight:normal; font-size:12px;color:#{current_group.primary_dark}; letter-spacing:-1px;font-weight:bold"}
      %div{:style=>"padding:1px 0 3px 4px; height:18px; width:18px; float:left;"}
        = "<img src='/images/logos/star_32_point.png' height='14px' width='14px'/>"
      = "&nbsp; #{@doctype.name}"

      .navcontrols{:style => "height:24px; float:right"}
        %a.show_above{:class => "above-the-fold navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
          = "show"
        %a.hide_above{:class => "above-the-fold navlinks showhide left", :style=>"color:#{current_group.primary_dark}"}
          = "hide"


  #upper


  - if @active_section == "products"
    = render :partial => "product_showcase", :locals => {:doctype => @doctype, :section => @doctype,  :list_mode => "standard", :expanded => false}




  #main-index{:style => "float:left;width:1032px;"}

    .main

      #summary-header{:class => @active_tab, :style=>"display:none"}
        = render :partial => "summary_header", :locals => {:doctype => @doctype, :section => @doctype,  :list_mode => "standard", :expanded => false}

      .content{:style=>"width:728px; float:left"}
        = yield :secondary_navigation
        .test
          = "test:"
          = @doctype.name.to_s
    
        .inner
          = @lang_conds.to_s
          %ul.items#items
            -if @items.empty?
              %li.highlight
                = t(".empty")
            - @items.reverse.each do |item|
              - if @doctype == item.doctype #TODO: scope to doctype
                = render :partial => "item", :object => item, :section => @active_section

          #additional_info
            -#=will_paginate @items

            .clear


    %script{:type => "text/javascript"}
      = "// collapse:"
      = "$('.hide_above.above-the-fold').click(function() {"
      = "$('.hide_above.above-the-fold').css('display','none');"
      = "$('.show_above.above-the-fold').css('display','block');"
      = "$('.content').hide('fast');"
      = "});"
      = "// expand:"
      = "$('.show_above.above-the-fold').click(function() {"
      = "$('.show_above.above-the-fold').css('display','none');"
      = "$('.hide_above.above-the-fold').css('display','block');"
      = "$('.content').show('slow');"
      = "});"
      = "// ok so far"
      = "$('.hide_above.above-the-fold').css('display','block');"
      = "$('.show_above.above-the-fold').css('display','none');"
      = "$('.content').show();"
      -#= ")};"



    #sidebar-inner{:style=>"float:right:width:300px;"}
      -current_group.widgets.each do |widget|
        .widget.block{:id => widget.name}
          = render :partial => widget.partial_name, :locals => {:widget => widget, :width=> "wide"}
      -#.signup{:style=>"width:300px;height:90px; float:right;"}
      -if current_group.has_threeone_rectangle
        .threeone-rectangle{:style=>"background-color:white; width:300px;height:100px;margin:10px 0; padding:2px 0; border-bottom:2px solid gainsboro; border-top:2px solid gainsboro"}
          = current_group.threeone_rectangle_content
        .clear





      .block{:style => "margin-bottom:4px"}
        %h3{:style=>"height:24px;line-height:22px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color:white; background-color:#000; border-top:4px solid black;margin:10px 0 0 0; font-size:14px; letter-spacing:0px;font-weight:bold;border-bottom:1px solid white"}
          = "About this site"
        .content
          .markdown{:style => "padding:10px"}
            = markdown(current_group.description)

      -if current_group.has_medium_rectangle
        .medium-rectangle{:style=>"background-color:white; width:300px;height:250px;margin:10px 0; padding:2px 0; border-bottom:2px solid gainsboro; border-top:2px solid gainsboro"}
          = current_group.medium_rectangle_content
        .clear
      = render :partial => "shared/signup_button",  :locals => {:width => "wide"}
      = render :partial => "shared/sponsored_links",  :locals => {:width => "wide"}



      -#.clear
      -#= render :partial => "shared/sidebar_actions", :locals =>  {:width=> "wide"}
      = render :partial => "shared/community_sponsor",  :locals => {:width => "wide"}




  #fold{:style=>"height:24px;line-height:22px;text-transform:uppercase;font-family:'Arial Narrow',sans-serif;color:#{current_group.primary_dark}; background-color:#000; border-top:4px solid white;margin:0; font-size:14px; letter-spacing:0px;font-weight:bold;border-bottom:1px solid white"}
    .the-fold{:style=>"width:1032px; height:32px; background-color:white"}
      %div{:style=>"padding:0; height:32px; width:1032px; float:left;"}
        = "<img src='http://www.fastthinking.com.au/media/382858/the-fold.gif' height='32px' width='1032px'/>"











