= javascript_include_merged :show

-content_for :subtabs do
  .navtitle
    = t(".title")
  .details
    -#= local_params

-content_for :sidebar do
  #sidebar
    = render :partial => "shared/signup_button", :locals => {:width => "narrow"}

-content_for :sidebar_inner do
  #sidebar-inner
    = render :partial => "shared/community_sponsor", :locals => {:width => "wide"}
    -if !current_group.item_help.empty?
      .help
        %h3
          = t(".how_to_ask")
        =current_group.item_help
    %h3
      = "Similar"

    .related-item
      %ul.items#related_items


-content_for :main do
  #main-index
    .supplementary-navigation{:class => @active_subtab.to_s, :style => "height:35px; line-height:35px; padding:0 8px 0 8px"}
      = current_group.publish_label.capitalize + " " + @doctype.name  

    -if logged_in?
      - form_for(@item, :html=>{:class => "form mainAnswerForm", :id => "ask_item"}) do |f|
        =render :partial => "form", :locals => {:f => f, :doctype => @doctype}

    -else
      = "You must be logged in to " + current_group.publish_label + " something"
