<% content_for :header do %>
<%= javascript_include_tag 'jquery.min', 'jquery.Jcrop.min' %>
<%= stylesheet_link_tag 'jquery.Jcrop' %>
<script language="Javascript">

function showPreview(coords)
{
  var aspect_ratio = <%= @avatar.avatar_width %> / <%= @avatar.avatar_height %>;
  var multplier = <%= 1.0 * @avatar.avatar_width / Avatar::CROP_W %>;
  var crop_str = Math.round(coords.x * multplier) + ':' + Math.round(coords.y * multplier) + ':' +
                 Math.round(coords.w * multplier) + 'x' + Math.round(coords.h * multplier) +
                 '<%= "=>#{Avatar::THUMB_W }x#{Avatar::THUMB_H }" %>'; 
  $('#avatar_cropping').val(crop_str);

  var rx = <%= Avatar::THUMB_W %> / coords.w ;
  var ry = <%= Avatar::THUMB_H %> / coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= Avatar::CROP_W %>) + 'px',
    height: Math.round(ry * <%= Avatar::CROP_W * @avatar.avatar_height / @avatar.avatar_width %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
}

$(function() {
  $('#cropbox').Jcrop({
      onSelect: showPreview,
      onChange: showPreview,
      setSelect:   [ 0, 0, 240, 240 ],
      aspectRatio: <%= Avatar::THUMB_W %>/<%= Avatar::THUMB_H %>
    });
});

</script>
<% end %>

<% content_for :main do %>
<p>
  <b>Name:</b>
  <%=h @avatar.name %>
</p>

<% dragonfly_link = "/system/dragonfly/development/" << @avatar.avatar_uid.to_s %>
<%= dragonfly_link %>

<p>
  <b>Avatar:</b>
  <%= image_tag(dragonfly_link) #, "#{Avatar::CROP_W}x"), :id => 'cropbox' %>
<div style="width:<%= Avatar::THUMB_W %>px;height:<%= Avatar::THUMB_H %>px;overflow:hidden">
  <%= image_tag @avatar.avatar.url("#{Avatar::CROP_W}x"), :id => 'preview' %>
</div>
</p>

<% form_for @avatar do |f| %>
  <%= f.text_field :avatar_cropping, :id => 'avatar_cropping' %><br />
  <%= f.submit "Crop!" %>
<% end %>

<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>

<% end %>



