- content_for :custom_javascript do

  = javascript_include_tag 'jquery.jcrop.min'
  = stylesheet_link_tag 'jquery-jcrop'

- content_for :main do

  %script{:language => "Javascript"}
    = "function showPreview(coords)"
    = "{"
    = "var aspect_ratio = #{@avatar.avatar_width} / #{@avatar.avatar_height};"
    = "var multplier =(1.0 * #{@avatar.avatar_width} / #{Avatar::CROP_W});"
    = "var crop_str = Math.round(coords.w * multplier) + 'x' + Math.round(coords.h * multplier) + '+' +"
    = "               Math.round(coords.x * multplier) + '+' + Math.round(coords.y * multplier)"
    -#= "               '=>#{Avatar::THUMB_W }x#{Avatar::THUMB_H}'"
    = "$('#avatar_cropping').val(crop_str);"
    = "var rx = #{Avatar::THUMB_W}/ coords.w;"
    = "var ry = #{Avatar::THUMB_H}/ coords.h;"
    = "var sx = 140/ coords.w;"
    = "var sy = 140/ coords.h;"
    = "$('#preview').css({"
    = "width: Math.round(rx * #{Avatar::CROP_W}) + 'px',"
    = "height: Math.round(ry * #{Avatar::CROP_W} * #{@avatar.avatar_height} / #{@avatar.avatar_width}) + 'px',"
    = "marginLeft: '-' + Math.round(rx * coords.x) + 'px',"
    = "marginTop: '-' + Math.round(ry * coords.y) + 'px'"
    = "});"
    = "}"

    = "$(function() {"
    = "$('#cropbox').Jcrop({"
    = "onSelect: showPreview,"
    = "onChange: showPreview,"
    = "setSelect:   [ 0, 0, 240, 240 ],"
    = "aspectRatio: #{Avatar::THUMB_W}/#{Avatar::THUMB_H}"
    = "});"
    = "});"



  - dragonfly_link = "/system/dragonfly/development/" << @avatar.avatar_uid.to_s
  - cropped_avatar = @avatar.avatar.process!(:resize, '565x')

  #main-index
    .secondary-navigation  
      %h3
        = "Profile Image Cropping"
      .navcontrols  
 

        = link_to 'Change file & data', edit_avatar_path(@avatar), :class => "standard-button right"
        = link_to 'Back', avatars_path, :class => "standard-button right"
    .clear

    %div.left{:style => "width:100%"}
      ="<b>Instructions:</b></br>"
      ="Click and drag box and the press the big red Crop! button"
      %div.right
        - form_for @avatar do |f|
          = f.hidden_field :avatar_cropping, :id => 'avatar_cropping'
          = f.submit "Crop!", :class => "edit-button"   
    .clear
    %p
      = image_tag cropped_avatar.url, :width => "#{Avatar::CROP_W}px", :id => 'cropbox'

    -#%div{:style => "width:#{Avatar::THUMB_W}px;height:#{Avatar::THUMB_H}px;overflow:hidden"}
      -#= image_tag (dragonfly_link, :width => "#{Avatar::CROP_W}px", :id => 'preview2')

    -# form_for @avatar do |f|
      -#= f.text_field :avatar_cropping, :id => 'avatar_cropping'
      -#= f.submit "Crop!"

  #sidebar

    .block
      %h3
        = "Metadata"
      .controls
        = "edit"
      .content
        ="<b>Name:</b>"
        =h(@avatar.name)


  #sidebar-inner
    -#= render :partial => "/users/profile_image", :object => @user
    .block
      %h3
        = "Profile image preview"
 

      %div{:style => "width:#{Avatar::THUMB_W}px;height:#{Avatar::THUMB_H}px;overflow:hidden"}
        = image_tag (dragonfly_link, :width => "256px", :id => 'preview')
    .block
      %h3
        = h("Tips")
      .content
        = h("This is an example of a good profile image")
      .content
        = h("This is an example of a bad profile image")





