- content_for :main do

  %h1
    ="Editing avatar"

  -form_for @avatar, :html => {:multipart => true} do |f|
    = f.error_messages
    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.file_field :avatar
    %p
      = f.submit 'Update'


  = link_to 'Show', @avatar
  = link_to 'Back', avatars_path


