- content_for :secondary_navigation do
  =render :partial => "/users/settings/subtabs", :object => @user

- content_for :main do

  #main-index
    .title
      =@user.login.capitalize << "'s Profile Images"
    
    = yield :secondary_navigation


    .help
      = "Members use two types of image, avatars and profile images:"
      %ul
        %li
          = "<b>Avatars</b> are used as your 'icon' it will be shown in listings and when you write comments"
        %li
          = "<b>Profile Images</b> are used for your profile and when you <a href='/create/new'>add something</a>"



    .instruction-box
      = link_to 'New image', new_avatar_path, :class => "action-button"


    %hr
    %table{:class => "image-table"}
      %tr
        %th 
          ="Use for icons"
        %th 
          ="Use for profile"
        %th 
          ="Thumbnail"
        %th 
          ="Actions"

      -# TODO: Change to a scoped condition

      -@user_avatars.each do |avatar|

        -if @user.id == avatar.user_id
          - cropped_avatar = avatar.avatar.process(:thumb,avatar.avatar_cropping)
          - avatar32 = cropped_avatar.process(:thumb,"32x32").url


          %tr
            %td
              -if @user.default_avatar == avatar.id
                = image_tag("/images/buttons/radio_button_on.png" , :title => "selected")
                %input{:type => "radio", :name => "default_avatar", :style => "height:20px; width:20px", :checked => true}
              -else
                = link_to "set", set_default_avatar_path(avatar)
                %input{:type => "radio", :name => "default_avatar"}
            %td
              -if @user.profile_image == avatar.id
                = "default"
              -else
                = link_to "set", set_profile_avatar_path(avatar), :locals => avatar32

            %td

              = image_tag cropped_avatar.process(:thumb,"48x48").url, :alt => avatar.name

            %td
              = link_to 'Change image', edit_avatar_path(avatar), :class => "action-link"
              = link_to 'Cropping', crop_avatar_path(avatar), :class => "action-link"
              = link_to 'Delete', avatar, :confirm => 'Are you sure?', :method => :delete, :class => "delete-link"


      %tr
        %td{:colspan => 2}
          = "Click on the radio buttons to choose your images"
        %td
          = "&nbsp;"
        %td
          = "Editing"

 




-content_for :sidebar_inner do
  #sidebar-inner
    = render :partial => "/users/profile_image", :object => @user
    .block
      %h3
        = h("Tips")
      .content
        = h("This is an example of a good profile image")
      .content
        = h("This is an example of a bad profile image")

-content_for :sidebar do
  #sidebar
    .block
      %h3
        = h("Profile mini")
      .controls
        = "<!---->"
      .content
        = render :partial => "/users/profile_mini", :object => @user

    .block
      %h3
        = h("Something")
      .content
        = h("Something else")



