- content_for :secondary_navigation do
  =render :partial => "/users/settings/subtabs", :object => @user

- content_for :main do

  #main-index
    .supplementary-navigation
      ="My Profile Images"
    
    = yield :secondary_navigation


    .help{:style=>"margin:16px 0px"}
      = "Members use two types of image, avatars and profile images:"
      %ul{:style=>"list-style-type:default;"}
        %li
          = "<b>Avatars</b> are used as your 'icon' it will be shown in listings and when you write comments"
        %li
          = "<b>Profile Images</b> are used for your profile and when you <a href='/create/new'>add something</a>"



    %table{:class => "image-table"}
      %tr
        %th 
          ="Thumbnail"
        %th 
          ="Icons"
        %th 
          ="Profile Image"

        %th 
          ="Actions"

      -# TODO: Change to a scoped condition

      -@user_avatars.each do |avatar|
          

        -if @user.id == avatar.user_id
          - cropped_avatar = avatar.avatar.process(:thumb,avatar.avatar_cropping)
          - avatar32 = cropped_avatar.process(:thumb,"32x32").url


          %tr
            %td{:style=>"text-align:center"}
              = image_tag cropped_avatar.process(:thumb,"48x48").url, :alt => avatar.name
            %td
              -if @user.default_avatar == avatar.id
                = "selected"
              -else
                = link_to "choose", set_default_avatar_path(avatar)

            %td
              -if @user.profile_image == avatar.id
                = "selected"
              -else
                = link_to "choose", set_profile_avatar_path(avatar), :locals => avatar32
            %td
              = link_to 'Change image', edit_avatar_path(avatar), :class => "action-link"
              = link_to 'Cropping', crop_avatar_path(avatar), :class => "action-link"
              = link_to 'Delete', avatar, :confirm => 'Are you sure?', :method => :delete, :class => "delete-link"




      %tr
        %td{:colspan=>"3"}
          -if @user_avatars.empty?
            = "No avatar images have been uploaded yet" 
          -else
            = "Choose from above or..."            
        %td
          .instruction-box{:style=>"float:right;"}
            = link_to 'Add a new image', new_avatar_path, :class => "action-button", :style=>"width:256px; height:24px" 

 
-content_for :sidebar do
  #sidebar
    = render :partial => "/users/profile_mini", :object => @user
    = render :partial => "/users/profile_statistics", :object => @user
    = render :partial => "/users/profile_achievements", :object => @user

-content_for :sidebar_inner do
  #sidebar-inner
    = render :partial => "/users/profile_image", :object => @user
    = render :partial => "/users/profile_biography", :object => @user
    = render :partial => "/users/profile_details", :object => @user



       


