-content_for :main do

  #main-index

    %h1
      = "Editing image"

    %p
      - form_for @header, :url => header_path(@header), :html => {:multipart => true} do |f|
        = f.error_messages
        %p
          = f.text_field :name, :value => @header.name
        %p
          = f.file_field :header, :value => @header.header
        %p
          = f.submit 'Update'


