-content_for :custom_javascript do

  ="<script src=\"/javascripts/picup/prototype.js\"></script>"
  ="<script src=\"/javascripts/picup/picup.js\"></script>"
  ="<script src=\"/javascripts/picup/scratchpad.js\"></script>"


-content_for :main do

  .container{:style=>"width:480px;"}

    %h4
      = "Add a new header"


    - form_for @header, :url => headers_path, :html => {:multipart => true, :class => "form mainAnswerForm"} do |f|
      = f.error_messages
      .answer-form-holder
        .answer-form
          .group
            .label{:style => "width:140px;float:left;"}
              = "Image file"
            - if request.user_agent.include?("iPhone") then
              = "You are using an iphone - you need a program called picup - its free in the istore"
              = "<input type=\"file\" name=\"filedata\" id=\"file_upload_input\" />"
              = "<input type=\"button\" id=\"file_view_input\" style=\"display:none;\" onclick=\"viewScratchURL();return false;\" value=\"View Photo\" />"

            - else
              %hr
              = f.file_field :header, :value => @header.header, :style => "width:312px; max-width:312px;"


            = f.hidden_field :name, :value => @header.name, :class => "text_field"
            .description{:style => "margin-left:140px;float:left;"}
              = "Browse your computer to find the header"
            .clear

          .group{:style=>"margin-bottom:32px;margin-left:140px;"}
            = f.submit 'Add this header to post', :class=>"submit-button", :style=>"width:312px; height:32px"
            = link_to 'cancel', headers_path(@header)






