-content_for :admin_navigation do

  .sidebar-inner{:style=>"width:140px; float:left;padding:0 0 0 16px; margin:0 0 0 16px; border-right:1px solid gainsboro"}
    %ul
      %li
        = link_to t("layouts.manage.sponsor"), manage_properties_path(:tab => "sponsor")
      %li
        = link_to t("layouts.manage.sponsors"), manage_properties_path(:tab => "sponsored_links")
      %li
        = link_to t("layouts.manage.general"), manage_properties_path(:tab => "general")
      %li
        = link_to t("layouts.manage.channels"), manage_properties_path(:tab => "channels")
      %li
        = link_to "Cats", manage_properties_path(:tab => "categories")
      %li
        = link_to "Toolbar", manage_properties_path(:tab => "toolbar")
      %li
        = link_to "Bumper", manage_properties_path(:tab => "bumper")
      %li
        = link_to "LB", manage_properties_path(:tab => "leaderboard")
      %li
        = link_to "MR", manage_properties_path(:tab => "medium_rectangle")
      %li
        = link_to "3:1", manage_properties_path(:tab => "threeone_rectangle")
      %li
        = link_to "Slides", manage_properties_path(:tab => "slideshow")
      %li
        = link_to t("layouts.manage.messaging"), manage_properties_path(:tab => "messaging")
      %li
        = link_to t("layouts.manage.analytics"), manage_properties_path(:tab => "analytics")
      %li
        = link_to "Signup", manage_properties_path(:tab => "signup_button")
      %li
        = link_to t("global.share"), manage_properties_path(:tab => "share")
      %li
        = link_to t("layouts.manage.theme"), manage_properties_path(:tab => "theme")
      %li
        = link_to "CSS", manage_properties_path(:tab => "css")
      %li
        = link_to t("layouts.manage.constrains"), manage_properties_path(:tab => "constrains")
      %li
        = link_to t("layouts.manage.rewards"), manage_properties_path(:tab => "rewards")
      %li
        = link_to t("layouts.manage.domain"), manage_properties_path(:tab => "domain")
  .clear
