-require_js "modules/colour_wheel"
-require_js "modules/farbtastic"

-#content_for :inner_title do
  -#.heading{:style=>"height:80px;"}
    -#= "Choose a colour"

.targetX{:style=>"border:0;"}

#colour-wheel{:style=>"width:422px;height:422px;background:url(/images/wheel_BG.png);background-repeat:no-repeat;padding:16px;"}
  .wheel{:style=>"height:390px;width:390px;"}
    = "<img src=\"/images/wheel.png\" style=\"height:390px;width:390px;backgrouns:pink\">"

  .clear


  .group{:style=>"float:left; width:90px;"}
    .swatch{:style => "background: #{current_group.primary_dark};border-radius:12px 0 0 12px"}
      = f.text_field :primary_dark, :class => "text_field_short",:style => "background: #{current_group.primary_dark}"
      .mobile_label
        = "Dark"

  .group{:style=>"float:left; width:90px;"}
    .swatch{:style => "background: #{current_group.primary}"}
      = f.text_field :primary, :class => "text_field_short",:style => "background: #{current_group.primary}"
      .mobile_label
        = "Primary"

  .group{:style=>"float:left; width:90px;"}
    .swatch{:style => "background: #{current_group.secondary}"}
      = f.text_field :secondary, :class => "text_field_short",:style => "background: #{current_group.secondary}"
      .mobile_label
        = "Secondary"

  .group{:style=>"float:left; width:90px"}
    .swatch{:style => "background: #{current_group.tertiary};border-radius:0 12px 12px 0"}
      = f.text_field :tertiary, :class => "text_field_short", :style => "background: #{current_group.tertiary};border-radius:0 16px 16px 0"
      .mobile_label
        = "Tertiary"




.submit{:style=>"width:480px;height:64px;margin:16px auto 0 auto;padding:0; border-top:1px solid #{current_group.tertiary}"}
  = f.submit "Preview", :class => "submit-button",:style=>"width:300px;float:left"
  %button{:class => "submit-button",:style=>"width:150px;float:right"}
    = "Save"







