-require_js "modules/colour_wheel"
-require_js "modules/farbtastic"
-require_js "jquery.ui.touch"
-require_css "farbtastic"

-content_for :inner_title do
  -#title
    -#.content
      -#.heading{:style=>"font-weight:bold;padding:2px"}
        -#= "Choose a colour"


.container{:style=>"padding:16px 0;"}
  #colour-wheel{:style=>"width:422px;height:422px;background:url(/images/wheel_BG.png);background-repeat:no-repeat;margin:0;float:left;"}
    .wheel{:style=>"height:390px;width:390px;padding:16px;"}
      #picker

  #palette-indicator{:style=>"width:128px;height:40px;margin:16px 0 0;border-radius:8px;float:right;"}

    %button{:class=>"inner-button",:style=>"float:left;margin-right:4px;"}
      = "Reset"
    %button{:class=>"inner-button",:style=>"float:left;margin-right:4px;"}
      = "Invert Colours"
    %button{:class=>"inner-button",:style=>"float:left;margin-right:4px;",:type=>"button",:id=>"auto-colours"}
      = "Auto Colours"

    .submit{:style=>"margin:8px 0;padding:0;float:right;"}
      %button{:class => "submit-button",:style=>"width:128px;float:left"}
        = "Preview"
      %button{:class => "submit-button",:style=>"width:128px;float:right"}
        = "Save"

  #palette{:style=>"height:80px;width:422px;margin:8px 0;float:left;"}
    .form-item{:style=>"float:left;width:20%;"}
      = f.text_field :primary_dark, :class => "colorwell colorwell-selected",:style => "color: #{current_group.primary_dark};background: #{current_group.primary_dark}"
    .form-item{:style=>"float:left;width:20%;"}
      = f.text_field :primary, :class => "colorwell",:style => "color: #{current_group.primary};background: #{current_group.primary}"
    .form-item{:style=>"float:left;width:20%;"}
      = f.text_field :secondary, :class => "colorwell",:style => "color: #{current_group.secondary};background: #{current_group.secondary}"
    .form-item{:style=>"float:left;width:20%;"}
      = f.text_field :tertiary, :class => "colorwell",:style => "color: #{current_group.tertiary};background: #{current_group.tertiary}"
    .form-item{:style=>"float:left;width:20%;"}
      = f.text_field :text_colour, :class => "colorwell",:style => "color: #{current_group.text_colour};background: #{current_group.text_colour}"






