.description{:style=>"height:32px"}
  .heading
    = "Reseller Settings"
    %button.inner-button.right{:style=>"font-size:50%;"}
      = link_to "< Back", "/manage/properties?tab=mobile_settings"

.clear
.note
  = "These settings affect your mofaq homepage"


-# Just do Australia for now - internationalize later

.mobile-form
  .group





  .group
    %button.submit-button.right{:style=>"margin:0 0 32px;"}
      = link_to "Activate", "?tab=reseller_settings"

.heading
  = "My Reseller account"

.note
  = "A unique feature of moFaq is our reseller programme... all current active subscribers are entitled to become resellers and gain $$ every time you make a referral"
  = "however you must first activate this feature on your reseller account."
  = "You must have an active reseller account to gain commission: Activate now!"


%ul
  %li
    = "What if my business has multiple locations?"
