#main{:style => "width:564px;float:left"}
  %h1
    = "Signup button"
  = "The signup button only appears for visitors who are not logged in, the text can be changed here to suit the community."
  %hr{:style =>"margin:8px 0"}

  .group
    = f.label :show_signup_button, "Show the signup button?", :class => "label"
    = f.check_box :show_signup_button, :class => "text_field"
    .note
      = "This is useful if you need to temporarily disable signups"



  .group
    = f.label :signup_button_title, "Signup button title", :class => "label"
    = f.text_field :signup_button_title, :class => "text_field"

  .group
    = f.label :signup_button_description, "Signup button description", :class => "label"
    = f.text_field :signup_button_description, :class => "text_field"

  .group
    = f.label :signup_button_label, "Signup button label", :class => "label"
    = f.text_field :signup_button_label, :class => "text_field"

  .group
    = f.label :signup_button_footnote, "Signup button footnote", :class => "label"
    = f.text_field :signup_button_footnote, :class => "text_field"

  .clear

  .group.navform
    = f.submit t('scaffold.update'), :class => "action-button"


#sidebar{:style => "width:140px; float:right"}
  %h2
    = "Narrow"
    = render :partial => "shared/signup_button",  :locals => {:width => "narrow"}

#sidebar-inner{:style => "width:256px; float:right"}
  %h2
    = "Wide"
    = render :partial => "shared/signup_button",  :locals => {:width => "wide"}




