-content_for :subtabs do

  .secondary-navigation{:class => @active_subtab.to_s,:style => "background-color:#{current_group.secondary}"}
    %h3
      = t("layouts.manage.properties.#{@active_subtab}.title")
    .navcontrols
      %ul
        %li.sponsor
          = link_to t("layouts.manage.sponsor"), manage_properties_path(:tab => "sponsor"), :class=>"standard-button"
        %li.sponsored_links
          = link_to t("layouts.manage.sponsors"), manage_properties_path(:tab => "sponsored_links"), :class=>"standard-button"
        %li.general
          = link_to t("layouts.manage.general"), manage_properties_path(:tab => "general"), :class=>"standard-button"
        %li.general
          = link_to t("layouts.manage.channels"), manage_properties_path(:tab => "channels"), :class=>"standard-button"
        %li.general
          = link_to "Leaderboard", manage_properties_path(:tab => "leaderboard"), :class=>"standard-button"
        %li.messaging
          = link_to t("layouts.manage.messaging"), manage_properties_path(:tab => "messaging"), :class=>"standard-button"

        %li.analytics
          = link_to t("layouts.manage.analytics"), manage_properties_path(:tab => "analytics"), :class=>"standard-button"
        %li.signup
          = link_to t("layouts.manage.signup_button"), manage_properties_path(:tab => "signup_button"), :class=>"standard-button"
        %li.share
          = link_to t("global.share"), manage_properties_path(:tab => "share"), :class=>"standard-button"
        %li.theme
          = link_to t("layouts.manage.theme"), manage_properties_path(:tab => "theme"), :class=>"standard-button"

        %li.constrains
          = link_to t("layouts.manage.constrains"), manage_properties_path(:tab => "constrains"), :class=>"standard-button"
        %li.rewards
          = link_to t("layouts.manage.rewards"), manage_properties_path(:tab => "rewards"), :class=>"standard-button"
        %li.domain
          = link_to t("layouts.manage.domain"), manage_properties_path(:tab => "domain"), :class=>"standard-button"
  .clear
