


.group
  = f.label :logo_path, "Path to logo", :class => "label"
  = f.text_field :logo_path, :class => "text_field"
  .description
    = t('.logo_legend')
  = text_field_tag "group[logo_info][width]", @group.logo_info["width"] || 215
  x
  = text_field_tag "group[logo_info][height]", @group.logo_info["height"] || 60

.group
  = f.label :logo_only, "Use only the logo?", :class => "label"
  = f.check_box :logo_only, :class => "text_field"
  = "If you check this box, it will hide the name and name highlight set under properties"

.group
  = f.label :favicon_path, "Path to favicon (.ico )", :class => "label"
  = f.text_field :favicon_path, :class => "text_field"


.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.group", :default => "Theme" ), :class => "label"
  = f.select :theme, AVAILABLE_THEMES, {}, :class => "choose_theme"

.group
  = f.label :landing_bg, "Landing Page Background image", :class => "label"
  = f.text_field :landing_bg, :class => "text_field"
  .swatch{:style => "background: #{current_group.toolbar_bg}"}
  .description
    = "Remove this if you just want a colour"


.group
  = f.label :toolbar_bg, "Toolbar BG Colour", :class => "label"
  = f.text_field :toolbar_bg, :class => "text_field"
  .swatch{:style => "background: #{current_group.toolbar_bg}"}
  .description
    = "Leave blank if you want the image"

.group
  = f.label :toolbar_bg_image, "Toolbar BG Image", :class => "label"
  = f.text_field :toolbar_bg_image, :class => "text_field"
  .swatch{:style => "background-image: url(#{current_group.toolbar_bg_image})"}
  .description
    = "the url to where it is uploaded"

.group
  = f.label :header_bg, "Header BG Colour", :class => "label"
  = f.text_field :header_bg, :class => "text_field"
  .swatch{:style => "background: #{current_group.header_bg}"}
  .description
    = "If you just want a block colour in the header instead of the gradient"

.group
  = f.label :header_bg_image, "Header BG Image", :class => "label"
  = f.text_field :header_bg_image, :class => "text_field"
  .swatch{:style => "background: #{current_group.header_bg_image}"}
  .description
    = "the url to where it is uploaded"

.group
  = "Use complementary colours http://colorschemedesigner.com/"

.group
  = f.label :primary_dark, "Primary Dark", :class => "label"
  = f.text_field :primary_dark, :class => "text_field"
  .swatch{:style => "background: #{current_group.primary_dark}"}

.group
  = f.label :primary, "Primary colour", :class => "label"
  = f.text_field :primary, :class => "text_field"
  .swatch{:style => "background: #{current_group.primary}"}

.group
  = f.label :secondary, "Secondary colour", :class => "label"
  = f.text_field :secondary, :class => "text_field"
  .swatch{:style => "background: #{current_group.secondary}"}

.group
  = f.label :tertiary, "Tertiary colour", :class => "label"
  = f.text_field :tertiary, :class => "text_field"
  .swatch{:style => "background: #{current_group.tertiary}"}

.group
  = f.label :supplementary_lite, "Supplementary Dark", :class => "label"
  = f.text_field :supplementary_lite, :class => "text_field"
  .swatch{:style => "background: #{current_group.supplementary_lite}"}

.group
  = f.label :supplementary, "Supplementary", :class => "label"
  = f.text_field :supplementary, :class => "text_field"
  .swatch{:style => "background: #{current_group.supplementary}"}

.group
  = f.label :supplementary_dark, "Supplementary Lite", :class => "label"
  = f.text_field :supplementary_dark, :class => "text_field"
  .swatch{:style => "background: #{current_group.supplementary_dark}"}

.group
  = f.label :link_colour, "Links colour", :class => "label"
  = f.text_field :link_colour, :class => "text_field"
  .swatch{:style => "background: #{current_group.link_colour}"}




.group.navform
  = f.submit t('scaffold.update')
