%h1
  = "Welcome"
%h2
  = "Something here"
%p
  = "This is your Thought Domain administration area - here you can control many aspects of your thought domain"

%p
  = "Summary: Your thought domain is watching the following communities:"

%p
  = "Summary: Your thought domain is contributing to the following communities:"
