-content_for :main do

  #main-index

    %h1
      = "New sponsored link"

    %p
      - form_for @sponsored_link do |f|
        = f.error_messages
        .group{:style=>"display:none"}
          = f.text_field :name, :value => @sponsored_link.name, :readonly => true
        .group
          = "The short text for the link itself<br/>"
          = f.text_field :sponsored_link, :value => @sponsored_link.sponsored_link

        .group
          = "The URL that this link should point at (include http://)<br/>"
          = f.text_field :sponsored_link_url, :value => @sponsored_link.sponsored_link_url
        .group
          = "The text description of this sponsor<br/>"
          = f.text_area :sponsored_link_text, :value => @sponsored_link.sponsored_link_text, :rows => "3", :style => "width:172px;"
        .group
          = "Path to the image, must be 120x60. This will be deprecated for native upload in future releases<br/>"
          = f.text_field :sponsored_link_image, :value => @sponsored_link.sponsored_link_image


        .group{:style=>"display:none"}
          .box.left{:style => "width:50%"}
            = f.label :image, t('Wide logo', :scope => "activerecord.attributes.group"), :class => "label"
            -unless @sponsored_link.new?
              = image_tag(image_sponsored_link_path(@sponsored_link))
            %br
            = f.file_field :image
            .description
              = t('.logo_legend')
            = text_field_tag "group[sponsored_link.image_info][width]", @sponsored_link.image_info["width"], :style => "width:32px"
            x
            = text_field_tag "group[sponsored_link.image_info][height]", @sponsored_link.image_info["height"], :style => "width:32px"

        %p
          = f.submit 'Update', :class => "button"

    %p
      = link_to 'Back', sponsored_links_path
