-#=source

.group
  = hidden_field_tag "source", source, :id => "source_#{id}"
  = hidden_field_tag "mode", @item.mode, :id => "source_#{id}"
  = hidden_field_tag "body", @image.body, :id => "source_#{id}"
  = "Title"
  = text_field_tag "title", @image.title



  %br.clear
