%h3
  = "Images"
.content

  .entry-images
  -if logged_in?
    = "Images:"

    / Images
    .children.images
      %ul
      -@item.images.each do |image|
        %li 
          = image.body.to_s
        -#= render :partial => "images/image", :object => image, :locals => {:source => source, :mini => true}

    .clear
    = new_item_image_path(@item)
    .forms.image-form
      -form_tag new_item_image_path(@item), :class => "form addImage", :method => "get" do
        -@image = Image.new
        -#= render :partial => "images/form", :locals => {:source => @item.id,:mode => @item.mode,:parent => @item, :image => @image}
        .group
          = hidden_field_tag "source", @item.id, :id => "source_#{id}"
          = hidden_field_tag "mode", @item.mode, :id => "source_#{id}"
          = hidden_field_tag "title", @item.title, :id => "source_#{id}"
          -#= hidden_field_tag "file", @image.file, :id => "#{@image.caption}"
          = "Title"
          = file_field "file", @image.file

        .group.navform
          = submit_tag "submit", :class => "button"
          = t("global.or")
          = link_to t('scaffold.cancel'), '', :class => 'cancel_comment'


        -if @item.image_count > 0
          = "This item has images, why net edit the thumbnails or something"
  -else
    = "Not logged in"

  .block
    .hentry
      -@item.images.each do |image|
        = h(image.title.to_s)
        -#=render :partial=> "items/answer", :locals=> {:item => @item, :answer => answer}


  .clear
