
- content_for :main do
  #main-index
    .supplementary-navigation{:class => @active_subtab.to_s, :style => "height:35px; line-height:35px; padding:0 8px;"}
      = "Editing &quot;#{@item.title}'s&quot; Images"
      = link_to "Back to page", item_path(@item.doctype, @item), :style => "float: right; color:white"



    -if @item.images.empty? 
      %p
        = "No images"

    -if @item.doctype.has_video? 
      %p
        = "No images"
        = "Video link:" + @item.video_link
    .toolbox
      = link_to 'Add an image to this post', new_item_image_path(@item.doctype, @item), :class => "button", :style => "float:right"


    %p
      %table{:class => "image-table"}
        %tr
          %th
            = "default"

          %th
            = "thumbnail"
          %th
            = "caption"
          %th
            = "actions"
          - unless @item.images.empty?
            - @item.images.each do |image|
              %tr
                %td
                  -if @item.default_thumbnail == image.id
                    = image_tag("/images/buttons/radio_button_on.png" , :title => "selected")
                    %input{:type => "radio", :name => "default_avatar", :style => "height:20px; width:20px", :checked => true}
                  -else
                    = link_to "set", set_default_thumbnail_item_image_path(@doctype, @item, image)
                    -#%input{:type => "radio", :name => "default_avatar"}

                %td
                  - cropped_image = image.image.process(:thumb,image.image_cropping)
                  = image_tag cropped_image.process(:thumb,"128x").url, :alt => image.name, :title => image.name
                %td
                  = image.caption.to_s
                %td.order
                  -form_tag move_item_image_path(@item.doctype, @item, image) do
                    = submit_tag("up", :name=>"move_to", :value => "up") 
                    = submit_tag("down", :name=>"move_to", :value => "down")
                %td
                  = link_to 'Show', item_image_path(@item.doctype, @item, image)
                  = link_to 'Edit', edit_item_image_path(@item.doctype, @item, image)
                  = link_to 'Cropping', crop_item_image_path(@item.doctype, @item, image), :class => "action-link"
                  = link_to 'Destroy', item_image_path(@item.doctype, @item, image), :confirm => 'Are you sure?', :method => :delete



-content_for :sidebar_inner do
  #sidebar-inner
    .block
      %h3
        = h("Preview images")
    = render :partial => "items/default_image", :locals => {:item => @item}
    = render :partial => "items/images", :locals => {:item => @item}


-content_for :sidebar do
  #sidebar
    .block
      %h3
        = h("Image data")
      .content
        = h("Something else")







