-content_for :main do

  #spacer
    = "&nbsp;"


  #main{:style=>"float:left"}

    %h4
      = "Add a new image"


    - form_for @image, :url => item_images_path(@item.doctype, @item), :html => {:multipart => true, :class => "form mainAnswerForm"} do |f|
      = f.error_messages
      .answer-form-holder
        .answer-form
          .group
            .label{:style => "width:140px;float:left;"}
              = "Image file"
            = f.file_field :image, :value => @image.image, :style => "width:312px; max-width:312px;"
            = f.hidden_field :name, :value => @image.name, :class => "text_field"
            .description{:style => "margin-left:140px;float:left;"}
              = "Browse your computer to find the image"
            .clear

          .group
            .label{:style => "width:140px;float:left;"}
              = "Caption"
            = f.text_field :caption, :value => @image.caption, :class => "text_field", :style => "width:312px; max-width:312px; margin:0"
            .description{:style => "margin-left:140px;float:left;"}
              = "Add a short caption to this image"
            .clear

          .group
            .label{:style => "width:140px;float:left;"}
              = "Copyright"
            = f.text_field :copyright, :value => @image.copyright, :class => "text_field", :style => "width:312px; max-width:312px; margin:0"
            .description{:style => "margin-left:140px;float:left;"}
              = "The system defaults to the group name"
            .clear

          .group
            .label{:style => "width:140px;float:left;"}
              = "Source Link"
            = f.text_field :copyright_url, :value => "#{domain_url(:custom => current_group.domain)}", :class => "text_field", :style => "width:312px; max-width:312px; margin:0"
            .description{:style => "margin-left:140px;float:left;"}
              = "If this image is from another source online, please add the original link"
            .clear

          .group{:style=>"margin-bottom:32px;margin-left:140px;"}
            = f.submit 'Add this image to post', :class=>"submit-button", :style=>"width:312px; height:32px"
            = link_to 'cancel', item_images_path(@item.doctype, @item)






  -content_for :sidebar_inner do
  
    #sidebar-inner{:style=>"float:right"}
      %h4
        = "Tips for uploading images"
      = "Any size of image is supported as the system will automatically resize and optimize the image. Once you have uploaded your source image you will then have the option to crop the image further for thumbnail use"
      .notice
        %h5
          = "Polite notice"
        = "If you have gotten your image from another site please ensure you fill in the copyright and copyright_url correctly - correct attribution is your responsibility, #{current_group.name} will not be liable for copyright infringements - YOU WILL BE"



