
- if !true

  .debug{:style=>"width:512px;background-color:black;margin:0 auto;height:128px;"}

    .heading
      = "Debugs"

    .left{:style=>"font-size:10px;"}
      - ua = request.env['HTTP_USER_AGENT'].downcase
      = "#{ua}"
    .clear

    .left
      = "Group: #{current_group.id} / #{current_group.name}"
    .clear

    .left
      - parent = Group.find(current_group.parent_id)
      = "Parent:"
      = "#{current_group.parent_id} / # {parent.name}"
    .clear

    .left
      - if current_group.agent_id?
        - agent = current_group.agent_id.id
        = "Agent:"
        = "#{current_group.agent_id} / #{agent.id}"

    .clear
    .left
      - if current_group.owner_id?
        - owner = User.find(current_group.owner_id)
        = "Owner:"
        = "#{current_group.owner_id.id} / # {owner.login}"














