
- if !true

.debug{:style=>"width:512px;background-color:black;margin:0 auto;height:128px;"}

  .left
    = render :partial => "shared/bug"
  .clear

  - if @render_start
    .left
      .rendering{:style=>"margin-left:4px"}
        - rendering_stop = Time.now
        - rendering_time = rendering_stop - @render_start
        = "#{rendering_time}"
    .clear



  .left{:style=>"font-size:10px;"}
    - ua = request.env['HTTP_USER_AGENT'].downcase
    = "#{ua}"
  .clear

  .left
    = "Group: #{current_group.id} / #{current_group.name}"
  .clear
  .left
    = "Parent:"
    - if current_group.parent_id

      - parent = current_group.parent_id

      = "#{parent}"
    - else
      = "Not set"
















