.footer
  #{current_group.footer}

.footer

  .footer-links
    .entry
      %ul
        %li
          = link_to "about this community","/about/community"
        |
        %li
          = link_to "copyright","/about/copyright"
        |
        %li
          = link_to "advertising", "/about/advertising"
        |
        %li
          =  link_to "credits","/about/credits"
        |
        %li
          =  link_to "legals","/about/legals"
        |
        %li
          =  link_to "help!","/about/help"
    .clear
    .entry
      = "<a rel='license' href='http://creativecommons.org/licenses/by/3.0/'><img alt='Creative Commons License' style='border-width:0; float:right;' src='http://i.creativecommons.org/l/by/3.0/80x15.png' /></a> This work is <a rel='license' href='http://creativecommons.org/licenses/by/3.0/'>Creative Commons</a>."



.footer{:style => "border-top:1px solid #{current_group.secondary}; margin:8px 0 32px 0; padding-top:8px;"}
  .entry.left
    = "#{current_group.name} #{current_group.name_highlight} is <a href='http://think.it' style='font-weight:bold;font-family:georgia;letter-spacing:-1px;font-size:14px;'>thinkingdaily</a> on quango v" + AppConfig.version.to_s + "<a class='beta' style='background-color:#{current_group.supplementary};'>beta</a>"
  .entry.left
    = render :partial => "shared/bug"


