.footer
  #{current_group.footer}

.footer-information
  .footer-links.left
    .entry.left
      = "This community site is running thoughtdomains v"
    .entry.left
      #{AppConfig.version}
      = "<i>beta</i> |&nbsp;"
    .entry.left
      = " Please <a href='http://thoughtdomains.org/community/bugs/new'>report bugs</a>"
  .footer-links.right
    %ul.footer-links
      %li
        = "copyright"
      %li
        = "advertising"
      %li
        = "credits"
      %li
        = "and legals"



