.footer
  #{current_group.footer}

.footer-information
  .footer-links.left
    .entry.left
      = "This community site is running <a href='http://thoughtdomains.org'>quango</a> v" + AppConfig.version.to_s + "<a class='beta' style='background-color:#{current_group.supplementary};'>beta</a>"
    .clear
    .entry.left
      = render :partial => "shared/bug"
  .footer-links.right
    .entry
      %ul
        %li
          = link_to "about this community","/about/community"
        |
        %li
          = link_to "copyright","/about/copyright"
        |
        %li
          = link_to "advertising", "/about/advertising"
        |
        %li
          =  link_to "credits","/about/credits"
        |
        %li
          =  link_to "legals","/about/legals"
        |
        %li
          =  link_to "help!","/about/help"
    .clear
    .entry
      = "<a rel='license' href='http://creativecommons.org/licenses/by/3.0/'><img alt='Creative Commons License' style='border-width:0; float:right;' src='http://i.creativecommons.org/l/by/3.0/80x15.png' /></a> This work is <a rel='license' href='http://creativecommons.org/licenses/by/3.0/'>Creative Commons</a>."






