
- if !true



  %div{:style=>"border:4px solid green"}

    .block
      = render :partial => "shared/signup_button",  :locals => {:width => "wide"}

- if current_group.toolbar_bg?
  .footer-drop{:style=>"height:40px; width:1032px; background-color:#{current_group.toolbar_bg}"}
    = "&nbsp;"

- else
  .footer-drop{:style=>"height:40px; width:1032px; background-color:#{current_group.secondary}"}
    = "&nbsp;"

-if current_group.custom_html.footer
  .custom_footer{:style=>"color:white"}
    = "#{current_group.custom_html.footer}"


%div.share_bg{:style=>"float:right; width:300px; border-left:4px solid white"}
  = render :partial => "shared/share_box"

%div.system-footer{:style=>"float:left; width:728px;"}
  .footer
    .notice{:style=>"margin:0"}


      .entry.left{:style=>"float:left; width:724px;height:18px;line-height:16px"}
        = "Unless otherwise indicated this work is licensed as <a rel='license' href='http://creativecommons.org/licenses/by/3.0/'>creative commons</a>."
        = "<a rel='license' href='http://creativecommons.org/licenses/by/3.0/'><img alt='Creative Commons License' src='/images/ccby80x15.png' height='20px' width='80px' style='margin-bottom:-4px;' /></a>"
        = "|"
        = link_to "terms of usage","/about/legals"

      .entry.left{:style=>"float:left; width:724px;height:18px;"}
        = link_to "Quango", "http://quangoquango.org", :style=>"font-size:12px;font-family:georgia;font-weight:bold;color:#525051;"
        = " v" + AppConfig.version.to_s + "<a style='background-color: #{current_group.primary};color:white;padding:0 4px;letter-spacing:-1px;font-size:10px;font-weight:normal;'>BETA</a>"
        = "|"
        =  link_to "credits","/about/credits"
        .clear

 

        .clear
        .entry.left
          = "view: classic | <a href=\'?mobile=true\'>mobile</a>"

  - if logged_in? && current_user.owner_of?(current_group)
    = render :partial => "layouts/debug"

  - else
    = "&nbsp;"














