
!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = "<meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />"
    = "<meta http-equiv=\"cache-control\" content=\"public\" />"
    = "<meta http-equiv=\"content-language\" content=\"en\" />"

    %title
      &= page_title

    = render :partial => "shared/layout/css_mobile"
    = javascript_include_merged :mobile
    = yield :custom_javascript
    = yield :js

    = current_group.head_tag

    %body{:style=>"background:#{current_group.primary_dark};font-family:sans-serif;"}
      = render :partial => "shared/analytics"

      #flash-mobile{:style=>"border-bottom:1px solid #333"}
        = "<!--Placeholder for flash messaging-->"
        = show_flash_messages(:class => "flash", :markdown => true)

      #toolbar-mobile{:style=>"border-bottom:1px solid #333"}
        .toolbar-container-mobile    
          = render :partial => "shared/toolbar_mobile"





      #logo-mobile
        - logo_height = current_group.logo_info['height'].to_i
        - logo_height_mobile = (logo_height * 2)
        - logo_width = current_group.logo_info['width'].to_i
        - logo_width_mobile = (logo_width * 2)

        - if current_group.logo_only?
          .logo-container-mobile{:style => "height:#{logo_height_mobile}px"}

            .logo-mobile{:style => "height:#{logo_height_mobile}px;width:#{logo_width_mobile}px; float:left; margin-left:16px"}
              = link_to image_tag(current_group.logo_path, :width => logo_width_mobile, :height => logo_height_mobile,  :style => "bottom:0px;"), "#{domain_url(:custom => current_group.domain)}/?mobile=true", :style=>"margin:0px;height:#{logo_height_mobile}px;width:#{logo_width_mobile}px", :alt => "Home"
        - if false
          .logo-container-mobile{:style => "width:480px;height:80px"}
            .logo-text
              .filling
                .left{:style=>"float:left;margin-left:16px,font-size:2em;font-weight:bold;line-height:80px;text-shadow:-1px -1px 2px black;color:white;text-decoration:none"}
                  = yield :inner_title
        - if true
          .logo-container-mobile{:style => "width:512px;height:80px"}
            .logo-text
              .filling
                .left{:style=>"float:left;margin-left:16px;"}
                  =link_to h(current_group.name), "#{domain_url(:custom => current_group.domain)}/?mobile=true", :style=>"font-size:2em;font-weight:bold;line-height:80px;text-shadow:-1px -1px 2px black;color:white;text-decoration:none"
                -if current_group.strapline?
                  .strapline{:style => "height:80px;line-height:80px;color:white;float:left; border-left:1px solid color:white; margin-left:8px;padding-left:8px;"}
                    ="#{current_group.strapline}"






      #container{:class => @active_tab}
        #fold{:style=>"width:100%;margin:0;"}
          .fold
            = yield
          .clear
        .clear


      #footer-mobile
        = render :partial => "layouts/footer_mobile"
