!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render :partial => "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render :partial => "shared/layout/css"
    = render :partial => "shared/layout/custom_css"
    = render :partial => "shared/layout/javascript"
    = yield :custom_javascript
    = current_group.head_tag

  %body
    = render :partial => "shared/analytics"
    = @current_class

    #notifyBar
      = show_flash_messages(:class => "flash", :markdown => true)

    #toolbar-container
      .toolbar-container-inner    
        = render :partial => "shared/toolbar"

    -if current_group.has_custom_channels
      #channel-container
        .channel-container-inner
          = render :partial => "shared/channels"


    #header-container
      #header-container-inner
        #search
          = render :partial => "shared/search"
        #navigation-container
          = render :partial => "shared/contextual_navigation"




    #container{:class => @current_class}
      #announcement
        = render :partial => "shared/announcements"

      #wrapper
        = render :partial => "shared/header"
        = yield :sidebar
        = yield :summary_header

        = yield :main
        = yield :sidebar_inner

    .clear

    #footer

      .block.content
        = render :partial => "layouts/footer"
        = render :partial => "shared/ads/footer_ads"




