!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render :partial => "shared/layout/meta"




    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render :partial => "shared/layout/css"
    = render :partial => "shared/layout/custom_css"
 
    = render :partial => "shared/layout/javascript"
    = yield :custom_javascript

    = "<script type='text/javascript' src='/javascripts/jquery.cycle.all.latest.js'></script>" 
    = "<script type='text/javascript' src='/javascripts/jcarousellite_1.0.1.js'></script>"    
    = "<script type='text/javascript' src='/javascripts/jquery.easing.1.1.js'></script>"
    -#= "<script type='text/javascript' src='/javascripts/mousewheel.js'></script>"
 
    = current_group.head_tag



  %body
    -#= render :partial => "shared/analytics"
    -#= @current_class



    #flash
      = "<!--Placeholder for flash messaging-->"
      = show_flash_messages(:class => "flash", :markdown => true)

    #toolbar-container
      .toolbar-container-inner    
        = render :partial => "shared/toolbar"

    #logo-container
      .logo-container-inner{:style => "height:#{current_group.logo_info['height']}px"}
        -if current_group.logo_only?
          .logo-text
            .filling




              .left
                =link_to h(current_group.display_name_i), domain_url(:custom => current_group.domain), :style=>"color:white;margin:0;"
              .left
                =link_to h(current_group.display_name_ii), current_group.display_name_ii_link, :style=> "color:#{current_group.secondary};margin:0;"
              -if current_group.strapline?
                .strapline
                  %p{:style => "color:white;margin:0;float:left;"}
                    ="#{current_group.strapline}"

        -else
          .logo{:style => "height:#{current_group.logo_info['height']}px"}
            = link_to image_tag(current_group.logo_path, :width => current_group.logo_info["width"], :height => current_group.logo_info["height"],  :style => "bottom:0px;"), domain_url(:custom => current_group.domain), :style=>"margin:0px;", :alt => "Home"


    -if current_group.has_custom_channels
      #channel-container
        .channel-container-inner
          = render :partial => "shared/channels"


    #header-container
      #header-container-inner
        .navigation-container{:style=>"height:40px"}
          .navigation{:style=>"float:left; height:32px; line-height:32px"}
            = render :partial => "shared/contextual_navigation"
          .search{:style=>"float:right; margin-top:8px;"}
            = render :partial => "shared/search"

    #container{:class => @current_class}

      #content{:class => @current_class}
        #announcement
          = render :partial => "shared/announcements"

        #wrapper
          = render :partial => "shared/header"

          = yield :summary_header

          #leaderboard{:style=>"height:90px;border-bottom:4px solid white;border-bottom:4px solid white; display:none"}
            -if current_group.has_leaderboard 
              .leaderboard{:style=>"width:728px;height:90px; float:left;"}
                = "<!--/ Leaderboard /-->"
                = current_group.leaderboard_content
            .signup{:style=>"width:300px;height:90px; float:right;"}
              = render :partial => "shared/signup_button",  :locals => {:width => "wide"}


          #content
            = yield :sidebar
            = yield :main


          = yield :sidebar_inner




      .clear

      #footer

        .block.content
          = render :partial => "layouts/footer"
          = render :partial => "shared/ads/footer_ads"



