!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render :partial => "shared/layout/meta"
    = render :partial => "shared/layout/css"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render :partial => "shared/layout/javascript"
    = current_group.head_tag

  %body
    = render :partial => "shared/analytics"
    #container{:class => @current_class}
      = @current_class
      #leaderboard-container
        = render :partial => "shared/ads/header_ads"
      #toolbar-container
        = render :partial => "shared/toolbar"
      #header
        = render :partial => "shared/header"
      #navigation-container
        = render :partial => "shared/channel_navigation", :object => @active_tag
      .clear
      #contextual-navigation-container
        = render :partial => "shared/contextual_navigation"
      .clear
      #trends
        = yield :trends
      .clear
      #announcement
        = render :partial => "shared/announcements"


      #wrapper

        #main

          #block-text.block
            .secondary-navigation{:class => @active_subtab.to_s}
              = yield :subtabs
              .clear
            .content
              %p.markdown
                = show_flash_messages(:class => "flash", :markdown => true)

              .inner
                = yield :main
                .clear
        #sidebar
          = yield :sidebar
    .clear  
    #footer
      .block.content
        = render :partial => "layouts/footer"
        = render :partial => "shared/ads/footer_ads"
