
-content_for :subtabss do
  .navtitle
    -if @group.isolate
      = t(".title_isolate", :name => h(@group.name))
    -else
      = t(".title", :name => h(@group.name))

- content_for :list_members do

  ok


  #manage_members
    -form_tag(members_path, :class => "form", :method => :post) do
      =render :partial => "form"
      .group.navform
        = submit_tag t('scaffold.add', :model => "member")

  %ul.items#members
    -@users.each do |user|

      = render :partial => "member", :object => user

  -#%ul.members-list-index#users
    -#-@users.each do |user|
      -#-if user.login != "admin"
        -#= render :partial => "user", :object => user


  =will_paginate @members



-# content_for :main do

#main-index

  = yield :list_members

.show-right
  = yield :sidebar

